@page "/floor-plans/adu-garage-suite"
@model BA.AvalonLogHomes.Pages.FloorPlans.AduGarageSuiteModel
@{
    ViewData["Title"] = "ADU Garage-Suite";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        ADU Garage Suite
    </h1>
    <p>
        This Gravitas Custom Log cabin plan is one of our popular Garage/Suites. This suite is designed as a complete living unit with a bedroom, bathroom, living room & kitchen.   Plan Changes can be made to fit you needs.
    </p>
    <p>
       402 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/adu-garage-suite.jpg" />
        </p>
        <h2>
            First Floor - 402 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/adu-garage-suite.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
