@page "/floor-plans/albany"
@model BA.AvalonLogHomes.Pages.FloorPlans.AlbanyModel
@{
    ViewData["Title"] = "Albany";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Albany
    </h1>
    <p>
        This home has many features that are usually found in larger homes. The vaulted ceiling in the kitchen/dining room is a nice touch that adds to the spacious feel. The efficient, U-shaped kitchen has double sinks under a bumped out window that views the front yard. The family room has a wood burning fireplace, giving the room a coziness. All three bedrooms are located at the rear of the home. The master suite has a vaulted ceiling, walk-in closet, and a private bath with a double vanity. The two additional bedrooms share the use of a full hall bath.
    </p>
    <p>
        1,304 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/albany.jpg" />
        </p>
        <h2>
            First Floor - 1304 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/albany.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
