@page "/floor-plans/alpine"
@model BA.AvalonLogHomes.Pages.FloorPlans.AlpineModel
@{
    ViewData["Title"] = "Alpine";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Alpine
    </h1>
    Log home plan features a great open design. Included is a 2 Bdrm, 2 Bath  1-1/2 stories. The great room, kitchen, & nook are designed to for family enjoyment. The open loft can be designed as open area or additional bedrooms. Plan Changes can be made to fit you needs.
    <p>
        square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            1,182 Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/alpine.jpg" />
        </p>
        <h2>
            First Floor - 609 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/alpine.jpg" />
        </p>
        <h2>
            Second Floor - 573 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/alpine.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
