@page "/floor-plans/andover"
@model BA.AvalonLogHomes.Pages.FloorPlans.AndoverModel
@{
    ViewData["Title"] = "Andover";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Andover
    </h1>
    <p>
        This Custom plan features a great open design. Included is 3 Bdrm, 2 Bath single level with 2 car garage. The combination living room & formal dining room is designed to enjoy the views with lots of glass. The gallery kitchen features lots of cabinets with a center island. The nook is surrounded by windows. The large master bedroom suite is situated for extra privacy and offers everything you have always wanted.
        Changes can be made to fit you needs
    </p>
    <p>
        1,584 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/andover.jpg" />
        </p>
        <h2>
            First Floor - 1584 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/andover.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
