@page "/floor-plans/arborgate"
@model BA.AvalonLogHomes.Pages.FloorPlans.ArborgateModel
@{
    ViewData["Title"] = "Arborgate";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Arborgate
    </h1>
    <p>
        The Arborgate has unique features of an open design plan. Included is split 3Bdrm, 2 Bath single level with two car garage. The galley kitchen with adjacent nook opens onto the backyard. From the soaring ceilings, elevated windows, and refined design of the commanding fireplace in the great room overlooking the very dramatic back view scene. The master bedroom features a beautiful appointed bath area including a separate Tub and walk-in shower. There is a masterful sense of styling and sophistication clearly evident in the Arborgate design which you will appreciate more with each passing year.
    </p>
    <p>
        1,800 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/arborgate.jpg" />
        </p>
        <h2>
            First Floor - 1800 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/arborgate.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
