@page
@model BA.AvalonLogHomes.Pages.FloorPlans.ArborCoveModel
@{
    ViewData["Title"] = "Arbore Cove";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Arbor Cove
    </h1>
    <p>This Log Home plan features a great open design. Included is 1449 sf, 2 Bdrm, 2 Bath, open loft, and 1.5 stories. Interesting covered porches, gables and dormers accent the exterior of this contemporary log home. This plan at houseplan.com</p>
    <p>
        1,059 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/arbor-cove.jpg" />
        </p>
        <h2>
            First Floor - 1059 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/arbor-cove.jpg" />
        </p>
        <h2>
            Second Floor - 390 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/arbor-cove.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
