@page "/floor-plans/armitage"
@model BA.AvalonLogHomes.Pages.FloorPlans.ArmitageModel
@{
    ViewData["Title"] = "Armitage";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Armitage
    </h1>
    <p>
        Combining spaciousness with single story elegance, the Armitage is a popular open design masterpiece that speaks of sophisticated living. Features a split 3 Bdrm, 3 Baths, Single Story & garage. The dramatic covered entry is framed by glass sidelights and arched windows. The gourmet kitchen and nook, featuring a wonderful layout is perfect for large-scale entertainment or intimate family gatherings. The large master bedroom suite is situated for extra privacy. From the sculptured architectural detailing to the soaring drama, the Armitage for you to appreciate more with each passing year.
    </p>
    <p>
        1,804 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/armitage.jpg" />
        </p>
        <h2>
            First Floor - 1804 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/armitage.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
