@page "/floor-plans/ashcrest"
@model BA.AvalonLogHomes.Pages.FloorPlans.AshcrestModel
@{
    ViewData["Title"] = "Ashcrest";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Ashcrest
    </h1>
    <p>
        The Ashcrest is split 3+Bdrm, 2 Bath single level with two car garage. The modern kitchen with adjacent nook opens onto the backyard, creating a perfect setting for backyard gatherings. The master bedroom features a beautiful appointed bath area including a Jacuzzi and walk-in shower. There is a masterful sense of styling and sophistication clearly evident in the Ashcrest design which you will appreciate more with each passing year.
    </p>
    <p>
        1,861 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/ashcrest.jpg" />
        </p>
        <h2>
            First Floor - 1861 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/ashcrest.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
