@page "/floor-plans/ashwood"
@model BA.AvalonLogHomes.Pages.FloorPlans.AshwoodModel
@{
    ViewData["Title"] = "Ashwood";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Ashwood
    </h1>
    <p>
        This custom home is 4bd, 2.5 bath single level with garage.
    </p>
    <p>
        2,905 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/ashwood.jpg" />
        </p>
        <h2>
            First Floor - 2905 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/ashwood.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
