@page "/floor-plans/aspen"
@model BA.AvalonLogHomes.Pages.FloorPlans.AspenModel
@{
    ViewData["Title"] = "Aspen";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Aspen
    </h1>
    <p>This Aspen log home plan features a great open design. Included is 3 Bdrm, 2 Bath single level with optional basement. The living areas, large utility room, huge kitchen with center island, and dining room are designed for your enjoyment. The great room with a stunning fireplace access the outside decks. The large master bedroom suite has it all and is situated for extra privacy and offers everything you have always wanted. Featured is a beautiful appointed bath area including a separate Jacuzzi, his and her sinks, and walk-in shower.</p>
    <p>
        1,704 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/aspen.jpg" />
        </p>
        <h2>
            First Floor - 1704 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/aspen.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
