@page "/floor-plans/aurora-sconnelly"
@model BA.AvalonLogHomes.Pages.FloorPlans.AuroraSconnellyModel
@{
    ViewData["Title"] = "AuroraSconnelly";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Aurora Sconnelly
    </h1>
    <p>
        This customized Aurora log cabin plan features a 3 Bdrm, 2 Bath single level with two car garage The spacious energy efficient kitchen with adjacent nook opens into the backyard creating the perfect setting for family gatherings. The great room with lots of windows includes a fireplace The split master bedroom features a beautifully appointed bath area. There is a masterful sense of styling clearly evident in spaciousness and design that you will appreciate for a long time.
    </p>
    <p>
        1,354 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/aurora-sconnelly.jpg" />
        </p>
        <h2>
            First Floor - 1354 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/aurora-sconnelly.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
