@page "/floor-plans/austin"
@model BA.AvalonLogHomes.Pages.FloorPlans.AustinModel
@{
    ViewData["Title"] = "Austin";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Austin
    </h1>
    <p>
        The Austin's front entry and gabled roof add to this log home's charming appeal. Included is 3 Bdrm, 2 Bath, Den, Formal Dining room, and single level with garage. The kitchen features a nook that opens to the patio and joins the family room for convenient living. Attention to detail and interior design add to this log home's value and charm. Vaulted ceilings and an open interior design create a spacious feeling. Separated from the other two bedrooms, the master suite is both private and spacious. It offers its won garden bath with twin vanities and walk-in closets, plus a separate tub and shower.
    </p>
    <p>
        2,025 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/austin.jpg" />
        </p>
        <h2>
            First Floor - 2025 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/austin.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
