@page "/floor-plans/baymar"
@model BA.AvalonLogHomes.Pages.FloorPlans.BaymarModel
@{
    ViewData["Title"] = "Baymar";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Baymar
    </h1>
    <p>This custom log home is 1200 sf with 2bd, 1 bath single level. It includes a covered proch and entry. Inside, the well-integrated main living areas are geared for the views out the great room, which is the perfect complement to the views beyond. This plan features lots of decks and covered porches. This plan can be designed to fit over a daylight basement.﻿</p>
    <p>
        1,200 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/baymar.jpg" />
        </p>
        <h2>
            First Floor - 1200 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/baymar.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
