@page "/floor-plans/birchriver"
@model BA.AvalonLogHomes.Pages.FloorPlans.BirchriverModel
@{
    ViewData["Title"] = "Birchriver";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Birchriver
    </h1>
    <p>
        This custom home is 4bd, 3 bath , LR & FR, two story with garage.
    </p>
    <p>
        1,350 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/birchriver.jpg" />
        </p>
        <h2>
            First Floor - 1350 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/birchriver.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
