@page "/floor-plans/birchcrest"
@model BA.AvalonLogHomes.Pages.FloorPlans.BirchcrestModel
@{
    ViewData["Title"] = "Birchcrest";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Birchcrest
    </h1>
    <p>
        The Birchcrest is 2 bd 2 bath two story log home. Vaulted ceilings and an open interior design create a spacious feeling. The kitchen, dining & living areas flow together which proves to be functional and elegant. This plan offers all the extra special touches. The family room with a huge full glass prow is enhanced by a stunning fireplace. Inside, the well-integrated main living areas are geared for the views out the prow, which is the perfect complement to the views beyond. The master suite is on the main level. The loft can be made into additional bedrooms or left open. Plan Changes can be made to fit you needs
    </p>
    <p>
        2,835 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/birchcrest.jpg" />
        </p>
        <h2>
            First Floor - 2275 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/birchcrest.jpg" />
        </p>
        <h2>
            Second Floor - 560 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/birchcrest.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
