@page "/floor-plans/bitteroot"
@model BA.AvalonLogHomes.Pages.FloorPlans.BitterootModel
@{
    ViewData["Title"] = "Bitteroot";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Bitteroot
    </h1>
    This custom home is 3bd, 2.0 bath single level with garage.
    <p>
        1,530 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/bitteroot.jpg" />
        </p>
        <h2>
            First Floor - 1530 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/bitteroot.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
