@page "/floor-plans/blueridge"
@model BA.AvalonLogHomes.Pages.FloorPlans.BlueridgeModel
@{
    ViewData["Title"] = "Blueridge";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Blueridge
    </h1>
    <p>The Blueridge is 1372 sf &nbsp;3bd, 2 bath two story log home &nbsp;is a charming chalet style home offering comfortable living with an open concept design. You enter this beautiful log home from an covered porch &nbsp;into an open kitchen / dining / living area with many large windows to light up the home and bring in the beauty of the outdoors. Two bedrooms are tucked away in the back, each with closet space and a bathroom between. The upstairs is dedicated to the master bedroom suite. The suite is comprised of a spacious bedroom, closet and a full bath with a dormer for added space.</p>
    <p>&nbsp;</p>
    <p>
        1,372 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/blueridge.jpg" />
        </p>
        <h2>
            First Floor - 936 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/blueridge.jpg" />
        </p>
        <h2>
            Second Floor - 436 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/blueridge.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
