@page "/floor-plans/bridgewater"
@model BA.AvalonLogHomes.Pages.FloorPlans.BridgewaterModel
@{
    ViewData["Title"] = "Bridgewater";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Bridgewater
    </h1>
    <p>
        This custom log home is 6 bd, 4 bath, loft, bonus area, two story with garage. This plan at houseplan.com
    </p>
    <p>
        6,542 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/bridgewater.jpg" />
        </p>
        <h2>
            First Floor - 5047 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/bridgewater.jpg" />
        </p>
        <h2>
            Second Floor - 1405 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/bridgewater.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
