@page "/floor-plans/brookmere"
@model BA.AvalonLogHomes.Pages.FloorPlans.BrookmereModel
@{
    ViewData["Title"] = "Brookmere";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Brookmere
    </h1>
    <p>
        The Brookmere is a large open concept design with 4bd, 2.5 bath two story. One bedroom is on the main floor which could also serve as a guest bedroom or home office. The master bedroom suite is located on the second floor along with two other bedrooms. This home features a great wrap porch to enjoy spectacular views while entertaining family and friends.
    </p>
    <p>
        2,007 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/brookmere.jpg" />
        </p>
        <h2>
            First Floor - 1248 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/brookmere.jpg" />
        </p>
        <h2>
            Second Floor - 759 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/brookmere.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
