@page "/floor-plans/camfield"
@model BA.AvalonLogHomes.Pages.FloorPlans.CamfieldModel
@{
    ViewData["Title"] = "Camfield";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Camfield
    </h1>
    <p>
        The Camfield incorporates unique features of style and design that makes a home elegant and interesting. This 3 bed 2 .5 bath plan is totally set up for a sloping lot incorporating a daylight basement. The complete emphasis on both levels is lots of windows looking out at the back views. Add a entry bridge to the front door over a waterfall and you got it! The modern kitchen with adjacent nook opens onto the backyard, creating a perfect setting for backyard gatherings. The master bedroom features a beautiful appointed bath area including a step down sunken walk-in shower. There’s masterful sense of styling and sophistication clearly evident in the Camfield’s design which you’ll appreciate more with each passing year.
    </p>
    <p>
        2.150 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/camfield.jpg" />
        </p>
        <h2>
            First Floor - 2150 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/camfield.jpg" />
        </p>
        <h2>
            Second Floor -  ft<sup>2</sup>
        </h2>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
