@page "/floor-plans/cedar-crest"
@model BA.AvalonLogHomes.Pages.FloorPlans.CedarCrestModel
@{
    ViewData["Title"] = "Cedar Crest";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Cedar Crest
    </h1>
    <p>
        The Cedar Crest reflects the very best in contemporary design. This log cabin plan features a 3 Bdrm, 2 Bath single level with garage The spacious energy efficient kitchen with adjacent nook opens into the backyard creating the perfect setting for family gatherings. Totally separate from the well designed public area is the bedroom wing. The master bedroom features a beautifully appointed bath area. There is a masterful sense of styling clearly evident in spaciousness and design that you will appreciate for a long time
    </p>
    <p>
        1,246 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/cedar-crest.jpg" />
        </p>
        <h2>
            First Floor - 1246 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/cedar-crest.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
