@page "/floor-plans/cimmeron"
@model BA.AvalonLogHomes.Pages.FloorPlans.CimmeronModel
@{
    ViewData["Title"] = "Cimmeron";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Cimmeron
    </h1>
    <p>
        The Cimmeron Log Home plan features single level 3 Bdrm, 2 Bath, Den, and garage. This plan also includes the increasingly popular In-Law Suite. If you like wrap around covered porches this one has it! This is one of Avalon Log Homes most popular plans. The front covered porch and gabled roof add to this log home is charming appeal. The great room, huge kitchen, & nook are designed to for family enjoyment. Included is the popular split bedroom design for privacy. Plan Changes can be made to fit you needs.
    </p>
    <p>
        2,757 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/cimmeron.jpg" />
        </p>
        <h2>
            First Floor - 2757 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/cimmeron.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
