@page "/floor-plans/claredon"
@model BA.AvalonLogHomes.Pages.FloorPlans.ClaredonModel
@{
    ViewData["Title"] = "Claredon";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Claredon
    </h1>
    <p>This 4bd, 3.5 bath, featuring dbl master bedrooms is a grand luxury log home with stunning exterior lines, a covered porch and a huge deck. The first floor consists of a nicely designed kitchen / dining area on one side, a master bedroom suite on the other, and a spectacular living area in the center with large windows, doors that walk out onto the deck, a cathedral ceiling, and room for a fireplace. Upstairs is a nice loft area, 2 bedrooms each with closet space and a bathroom to share.  Another  large master bedroom suite and a large party room make up the rest of the upstairs.</p>
    <p>
        2,930 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/claredon.jpg" />
        </p>
        <h2>
            First Floor - 1440 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/claredon.jpg" />
        </p>
        <h2>
            Second Floor - 1490 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/claredon.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
