@page "/floor-plans/claremont"
@model BA.AvalonLogHomes.Pages.FloorPlans.ClaremontModel
@{
    ViewData["Title"] = "Claremont";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Claremont
    </h1>
    <p>
        Magnificent, impressive, and stunning. From the soaring ceilings, elevated windows, and refined design of the rear of the house with lots of glass overlooking the very dramatic back view scene. The Claremont exudes a grad style. The unique window theme continues into the family room and adjoining kitchen and dining areas resulting in a bathed in warm glow of sunlight. The master suite offers everything you have always wanted. You will find this home loaded with all the latest design ideas. Included is split 4Bdrm, 2 Bath single level with three car garage. Plan Changes can be made to fit you needs.
    </p>
    <p>
        2,033 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/claremont.jpg" />
        </p>
        <h2>
            First Floor - 2033 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/claremont.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
