@page "/floor-plans/clear-creek-roth"
@model BA.AvalonLogHomes.Pages.FloorPlans.ClearCreekRothModel
@{
    ViewData["Title"] = "Clear Creek Roth";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Clear Creek Roth
    </h1>
    <p>
        This custom Log home plan features a great open design. Included is 3 Bdrm, 2 Bath, garage in 1.5 Stories. The great room is designed to enjoy the views. Notice the great look for each elevation of the log home. Plan Changes can be made to fit you needs.
    </p>
    <p>
        1,906 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/clear-creek-roth.jpg" />
        </p>
        <h2>
            First Floor - 1426 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/clear-creek-roth.jpg" />
        </p>
        <h2>
            Second Floor - 480 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/clear-creek-roth.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
