@page "/floor-plans/clear-creek"
@model BA.AvalonLogHomes.Pages.FloorPlans.ClearCreekModel
@{
    ViewData["Title"] = "Clear Creek";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Clear Creek
    </h1>
    <p>
        The Clear Creek log home plan features a great open design. Included is 1711 sf 3 Bdrm, 2 Bath, 1.5 Stories. The great room is designed to enjoy the views and to be the focus. This log homes focus is on the great room prow. Notice the great look for each elevation of the log home. 2 bedrooms are on the main level along with a separate family room with fireplace and a front living room for two areas of entertaining. The large upstairs master bedroom suite is situated for extra privacy. The upstairs master suite offers everything you have always wanted. You will find this home loaded with all the latest design ideas.
    </p>
    <p>
    <p>
        1,711 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/clear-creek.jpg" />
        </p>
        <h2>
            First Floor - 1317 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/clear-creek.jpg" />
        </p>
        <h2>
            Second Floor - 394 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/clear-creek.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
