@page "/floor-plans/comacho"
@model BA.AvalonLogHomes.Pages.FloorPlans.ComachoModel
@{
    ViewData["Title"] = "Comacho";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Comacho
    </h1>
    <p>
        This Commacho Log Home features a great contemporary log home design. Included are 4+ Bdrm, office, and 3 Bath two story with 3 car garage. The great room is designed to enjoy the views with a prow wall of glass. The gallery kitchen features lots of cabinets and center  island. This plan radiates a warm comfortable feeling through its bright open design. The kitchen, dining & living areas flow together which proves to be functional and elegant. The large master bedroom suite is situated for extra privacy and offers everything you have always wanted.  Featured is a beautiful appointed bath area including a separate Jacuzzi, his and her sinks, and walk-in shower. Interesting gables accent the exterior of this great family log home. There is a masterful sense of styling and sophistication clearly evident in the Comacho design which you and your family will appreciate.
    </p>
    <p>
        3,800 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/comacho.jpg" />
        </p>
        <h2>
            First Floor - 3800 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/comacho.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
