@page "/floor-plans/cottonwood"
@model BA.AvalonLogHomes.Pages.FloorPlans.CottonwoodModel
@{
    ViewData["Title"] = "Cottonwood";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Cottonwood
    </h1>
    <p>This is a great home for the small to medium family with 4 bedrooms and 3 baths. A cathedral ceiling and open-concept design opens up the main floor. The kitchen features a pantry and the porch off the side is a great place to do some grilling. Two Bedrooms with closets and a bathroom make up the rest of the first floor. Upstairs is room for more bedrooms, a cozy loft, and a full bath.</p>
    <p>
        1,819 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/cottonwood.jpg" />
        </p>
        <h2>
            First Floor - 1429 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/cottonwood.jpg" />
        </p>
        <h2>
            Second Floor - 390 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/cottonwood.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
