@page "/floor-plans/coventry"
@model BA.AvalonLogHomes.Pages.FloorPlans.CoventryModel
@{
    ViewData["Title"] = "Coventry";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Coventry
    </h1>
    <p>
        This custom Parade Of Homes award winning plan features a great open design. Included is split 3 Bdrm, 2 Bath single level with garage. The great room, kitchen, & nook is designed to enjoy the views. Plan Changes can be made to fit you needs.
    </p>
    <p>
        2,213 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/coventry.jpg" />
        </p>
        <h2>
            First Floor - 2213 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/coventry.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
