@page "/floor-plans/dlewis"
@model BA.AvalonLogHomes.Pages.FloorPlans.DLewisModel
@{
    ViewData["Title"] = "DLewis";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        DLewis
    </h1>
    <p>
        Custom L shaped Log home plan features a great open design. Included is 3 Bdrm, 2 Baths, single level with basement with garage. Open concept living area is designed to enjoy the views. Notice the garage loft for extra space. Plan Changes can be made to fit you needs.
    </p>
    <p>
        3,623 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/dlewis.jpg" />
        </p>
        <h2>
            First Floor - 1841 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/dlewis.jpg" />
        </p>
        <h2>
            Second Floor - 1782 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/dlewis.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
