@page "/floor-plans/eaglesnest-davila"
@model BA.AvalonLogHomes.Pages.FloorPlans.EaglesnestDavilaModel
@{
    ViewData["Title"] = "Eaglesnest Davila";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Eaglesnest Davila
    </h1>
    <p>
        Custom Eaglesnest Log home plan features a great open design. Included is 3 Bdrm, 2 Bath, 1.5 Stories. The great room is designed to enjoy the views. Notice the great look for each elevation of the log home. Plan Changes can be made to fit you needs.
    </p>
    <p>
        2,724 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/eaglesnest-davila.jpg" />
        </p>
        <h2>
            First Floor - 1719 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/eaglesnest-davila.jpg" />
        </p>
        <h2>
            Second Floor - 1005 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/eaglesnest-davila.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
