@page "/floor-plans/eagles-nest"
@model BA.AvalonLogHomes.Pages.FloorPlans.EaglesNestModel
@{
    ViewData["Title"] = "EaglesNest";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Eagles Nest
    </h1>
    <p>The Eagles Nest by Avalon Log Homes is a 2,638 sf home with 3 Bedrooms and 2-1/2 baths, 1.5 stories. The first floor features a popular open floor plan with a great room prow with lots of glass for great views. The spacious master bedroom is located on the first floor with two additional bedrooms and an additional upstairs family room on the 2nd floor. The upstairs area can be expanded to suite your needs. The expansive kitchen features lots of cabinets with a center island and an eating bar. The Eagle Nest also features an optional garage, decks and covered porches can be included, and this plan can be designed to fit over a daylight basement.</p>
    <p>See a video of this log home at <a href="http://www.youtube.com/watch?v=k_XvYV7hCX4">http://www.youtube.com/watch?v=k_XvYV7hCX4</a></p>
    <p>
        2,638 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/eagles-nest.jpg" />
        </p>
        <h2>
            First Floor - 1637 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/eagles-nest.jpg" />
        </p>
        <h2>
            Second Floor - 1001 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/eagles-nest.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
