@page "/floor-plans/eagle-ridge"
@model BA.AvalonLogHomes.Pages.FloorPlans.EagleRidgeModel
@{
    ViewData["Title"] = "EagleRidge";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Eagle Ridge
    </h1>
    <p>This Gravitas Eagles Nest Log home plan features a great open design.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1515410361810">The Eagles Nest: 3D Fly-Around Video</a></h2>
    <p>The Eagles Nest is an efficient one bedroom plan that expands out into a spacious outdoor living area. A perfect retreat or a home to simplify in. The great room is designed for entertaining &amp; to enjoy the views. This log home plan has outstanding elevations. Plan Changes can be made to fit you needs.</p>
    <p>
        1,173 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/eagle-ridge.jpg" />
        </p>
        <h2>
            First Floor - 1173 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/eagle-ridge.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
