@page "/floor-plans/edgewater"
@model BA.AvalonLogHomes.Pages.FloorPlans.EdgewaterModel
@{
    ViewData["Title"] = "Edgewater";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Edgewater
    </h1>
    <p>
        The Edgewater features soaring ceilings, elevated windows, and lots of glass overlooking the very dramatic back view scene.  Included is split 3+ Bdrm, 2 Bath single level with garage. This plan includes a formal study and living room adjacent to the entry. The unique window theme continues into the great room and adjoining kitchen and dining areas resulting in a bathed in warm glow of sunlight. The coffered ceiling master suite offers everything you have always wanted including a huge walk-in closet. Featured is a beautiful appointed bath area including a separate Jacuzzi, his and her sinks, and walk-in shower. You will find this home loaded with all the latest design ideas. There is a masterful sense of styling and sophistication clearly evident in the Edgewater design which you and your family will appreciate more with each passing year.
    </p>
    <p>
        2,321 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/edgewater.jpg" />
        </p>
        <h2>
            First Floor - 2321 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/edgewater.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
