@page "/floor-plans/edgewood"
@model BA.AvalonLogHomes.Pages.FloorPlans.EdgewoodModel
@{
    ViewData["Title"] = "Edgewood";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Edgewood
    </h1>
    <p>
        Log Home plan features a split 3 Bdrm, 2.5 Bath single level with garage. If you like wrap around covered porches this one has it! This is one of Avalon Log Home's most popular plans. The great room, huge kitchen, & nook is designed to for family enjoyment. Formal living room & Den are up front in the house. Plan Changes can be made to fit you needs.
    </p>
    <p>
        2,155 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/edgewood.jpg" />
        </p>
        <h2>
            First Floor - 2155 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/edgewood.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
