@page "/floor-plans/gateway"
@model BA.AvalonLogHomes.Pages.FloorPlans.GatewayModel
@{
    ViewData["Title"] = "Gateway";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Gateway
    </h1>
    <p>
        This Gateway Log Home is 1613 sf custom log home is 2bd, 1.5 bath two story. A dormered roofline and covered porches enhance this log home. Vaulted ceilings and an open interior design create a spacious feeling. The 2nd level master bath offers an open layout as well as a spacious walk-in closet and dressing area. This log home design is sure to be the showpiece of the neighborhood, with its captivating blend of traditional and contemporary features.
    </p>
    <p>
        1,613 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/gateway.jpg" />
        </p>
        <h2>
            First Floor - 936 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/gateway.jpg" />
        </p>
        <h2>
            Second Floor - 677 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/gateway.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
