@page "/floor-plans/glenview"
@model BA.AvalonLogHomes.Pages.FloorPlans.GlenviewModel
@{
    ViewData["Title"] = "Glenview";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Glenview
    </h1>
    <p>
        This custom home is 3bd, 3.0 bath single level with garage.
    </p>
    <p>
        2,370 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/glenview.jpg" />
        </p>
        <h2>
            First Floor - 2370 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/glenview.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
