@page "/floor-plans/glenhaven"
@model BA.AvalonLogHomes.Pages.FloorPlans.GlenhavenModel
@{
    ViewData["Title"] = "Glenhaven";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Glenhaven
    </h1>
    <p>
        This 3 bd 2 bath log home is an attractive home, perfect for the small family, couple, or single person. This home features 1 bedroom, a spacious open concept kitchen and living area with cathedral ceilings on the main level with two bedrooms and bath upstairs with a cozy loft. There is also an optional basement.This plan at houseplan.com
    </p>
    <p>
        1,774 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/glenhaven.jpg" />
        </p>
        <h2>
            First Floor - 1185 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/glenhaven.jpg" />
        </p>
        <h2>
            Second Floor - 589 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/glenhaven.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
