@page "/floor-plans/greycrest"
@model BA.AvalonLogHomes.Pages.FloorPlans.GreycrestModel
@{
    ViewData["Title"] = "Greycrest";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Greycrest
    </h1>
    This custom log home is 3bd, 2.5 bath two story.
    <p>
        3,219 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/greycrest.jpg" />
        </p>
        <h2>
            First Floor - 2089 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/greycrest.jpg" />
        </p>
        <h2>
            Second Floor - 1130 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/greycrest.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
