@page "/floor-plans/grey"
@model BA.AvalonLogHomes.Pages.FloorPlans.GreyModel
@{
    ViewData["Title"] = "Grey";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Grey
    </h1>
    <p>
        This custom home is 3bd, 2.0 bath single level with garage.
    </p>
    <p>
        1,700 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/grey.jpg" />
        </p>
        <h2>
            First Floor - 1700 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/grey.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
