@page "/floor-plans/haskell"
@model BA.AvalonLogHomes.Pages.FloorPlans.HaskellModel
@{
    ViewData["Title"] = "Haskell";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Haskell
    </h1>
    <p>
        Custom Log Home plan features a split 4 Bdrm, 2.5 Bath 1.5 story with garage. This plan has a living room prow, sunroom and lots of decks. Plan Changes can be made to fit you needs.
    </p>
    <p>
        2,403 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/haskell.jpg" />
        </p>
        <h2>
            First Floor - 1257 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/haskell.jpg" />
        </p>
        <h2>
            Second Floor - 1146 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/haskell.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
