@page "/floor-plans/hazelwood"
@model BA.AvalonLogHomes.Pages.FloorPlans.HazelwoodModel
@{
    ViewData["Title"] = "Hazelwood";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Hazelwood
    </h1>
    <p>
        This 1906sf custom log home is 4bd, 2 bath two story. This spacious, two level home combines contemporary styling with a rustic feel. The main floor has two bedrooms, a kitchen/dining area, laundry facilities and great room. Upstairs: two additional bedrooms; plus bathroom, loft, and storage area. A gabled roof line and great room prow wall of windows enhance this log home. Vaulted ceilings and an open interior design create a spacious feeling.
    </p>
    <p>
        1,260 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/hazelwood.jpg" />
        </p>
        <h2>
            First Floor - 1260 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/hazelwood.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
