@page "/floor-plans/hidden-trails"
@model BA.AvalonLogHomes.Pages.FloorPlans.HiddenTrailsModel
@{
    ViewData["Title"] = "Hidden Trails";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Hidden Trails
    </h1>
    This Hidden Trails Log Home features a great contemporary log home design. Included is 6 Bdrm, 4.5 Bath two story and daylight basement with large covered porch. The great room is designed to enjoy the views with a prow wall of glass. The gallery kitchen features lots of cabinets. This plan radiates a warm comfortable feeling through its bright open design. The kitchen, dining & living areas flow together which proves to be functional and elegant. Two large master bedroom suites are situated for extra privacy and offers everything you have always wanted.  Interesting gables accent the exterior of this great family log home. There is a masterful sense of styling and sophistication clearly evident in the Hidden Trails design which you and your family will appreciate more with each passing year.
    <p>
        2,563 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/hidden-trails.jpg" />
        </p>
        <h2>
            First Floor - 2563 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/hidden-trails.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
