@page "/floor-plans/highbury"
@model BA.AvalonLogHomes.Pages.FloorPlans.HighburyModel
@{
    ViewData["Title"] = "Highbury";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Highbury
    </h1>
    <p>
        This Log Home plan features a great room with a wall of glass. Included is 3 Bdrms, 2 Bath, 1.5 stories. Interesting covered porches, decks, gables and dormers accent the exterior of this log home.This plan at houseplan.com
    </p>
    <p>
        2,646 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/highbury.jpg" />
        </p>
        <h2>
            First Floor - 1896 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/highbury.jpg" />
        </p>
        <h2>
            Second Floor - 750 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/highbury.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
