@page "/floor-plans/hubbard"
@model BA.AvalonLogHomes.Pages.FloorPlans.HubbardModel
@{
    ViewData["Title"] = "Hubbard";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Hubbard
    </h1>
    As you enter this excitingly spacious log home you see through the extensive windows to the back yard. This 3 bed 2 bath 1.5 stories with optional basement log home was designed for the maturing family with the separation of the master suite on the loft level. A gabled roofline and Great room prow wall of windows enhance this log home. Vaulted ceilings and an open interior design create a spacious feeling The master bath offers an exciting oval tub and separate shower, as well as a spacious walk-in closet and dressing area. This log home design is sure to be the showpiece of the neighborhood, with its captivating blend of traditional and contemporary features.
    <p>
        2,438 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/hubbard.jpg" />
        </p>
        <h2>
            First Floor - 1512 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/hubbard.jpg" />
        </p>
        <h2>
            Second Floor - 926 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/hubbard.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
