@page "/floor-plans/johnson-eaglesnest-log-home"
@model BA.AvalonLogHomes.Pages.FloorPlans.JohnsonEaglesnestLogHomeModel
@{
    ViewData["Title"] = "Johnson Eaglesnest Log Home";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Johnson Eaglesnest Log Home
    </h1>
    <p>This custom Log home plan features a great open design. Included is 3 Bdrm, 2 Bath, 1.5 Stories. The great room is designed to enjoy the views with a prow wall of glass. Notice the great look for each elevation of the log home. Separated from the other two bedrooms, the main level master suite is both private and spacious. It offers its own garden bath with twin vanities and walk-in closets, plus a separate tub and shower. An upstairs recreation room is adjacent to the bedroom wing. Plan Changes can be made to fit you needs.</p>
    <p>See a video of this log home at <a href="http://www.youtube.com/watch?v=k_XvYV7hCX4">http://www.youtube.com/watch?v=k_XvYV7hCX4</a></p>
    <p>See more Johnson Eaglesnest Plan Photos at <a href="http://picasaweb.google.com/Clarencepond/JohnsonLuxuryLogHomeByAvalonLogHomes">http://picasaweb.google.com/Clarencepond/JohnsonLuxuryLogHomeByAvalonLogHomes#</a></p>
    <p>
        3,137 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/johnson-eaglesnest-log-home.jpg" />
        </p>
        <h2>
            First Floor - 1796 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/johnson-eaglesnest-log-home.jpg" />
        </p>
        <h2>
            Second Floor - 1341 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/johnson-eaglesnest-log-home.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
