@page "/floor-plans/larkhaven"
@model BA.AvalonLogHomes.Pages.FloorPlans.LarkhavenModel
@{
    ViewData["Title"] = "Larkhaven";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Larkhaven
    </h1>
    <p>
        The Larkhaven is a 2,684 sf home with 3+ Bedrooms and 2.5 baths, two story with bonus room over the garage. Interesting gables and dormers accent the exterior of this contemporary home. The first floor features a popular open floor plan with a living room and family room with lots of glass for great views, dramatic stairway, and a stunning fireplace. The spacious master bedroom is located on the upper floor with lots of views. The gallery kitchen features lots of cabinets with a center island and walk-in pantry. The Larkhaven also features lots of decks and covered porches. This plan has great curb appeal.
    </p>
    <p>
        2,684 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/larkhaven.jpg" />
        </p>
        <h2>
            First Floor - 2684 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/larkhaven.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
