@page "/floor-plans/larriat-king"
@model BA.AvalonLogHomes.Pages.FloorPlans.LarriatKingModel
@{
    ViewData["Title"] = "Larriat King";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Larriat King
    </h1>
    <p>
        This cozy cottage gains character from its gables and wrapping the front porch. Included is 3 Bdrm, 2 Bath, 1.5 Stories. The entry creates an eye-catching look to the rest of the interior. The spacious Great Room hosts a warm fireplace that is the centerpiece of the room.

    </p>
    <p>
        1,305 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/larriat-king.jpg" />
        </p>
        <h2>
            First Floor - 792 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/larriat-king.jpg" />
        </p>
        <h2>
            Second Floor - 513 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/larriat-king.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
