@page "/floor-plans/las-alturas"
@model BA.AvalonLogHomes.Pages.FloorPlans.LasAlturasModel
@{
    ViewData["Title"] = "Las Alturas";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Las Alturas
    </h1>
    <p>
        A gabled front covered porch roofline enhance this modest sized log home. Included is 3 Bdrm, 3 Bath, 1.5 Stories. Vaulted ceilings and an open interior design create a spacious feeling.
    </p>
    <p>
        1,629 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/las-alturas.jpg" />
        </p>
        <h2>
            First Floor - 1271 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/las-alturas.jpg" />
        </p>
        <h2>
            Second Floor - 358 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/las-alturas.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
