@page "/floor-plans/lodgestone"
@model BA.AvalonLogHomes.Pages.FloorPlans.LodgestoneModel
@{
    ViewData["Title"] = "Lodgestone";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Lodgestone
    </h1>
    <p>This custom log home is 2480 sf, 3bd, 2 bath, dbl loft two story. The first floor features a popular open floor plan with a great room with prow which includes a wall of windows for great views and a stunning fireplace. The kitchen features lots of cabinets with a eating bar is designed for entertaining. Inside, the well-integrated main living areas are geared for the views out the great room, which is the perfect complement to the views beyond. The large main level master bedroom suite is situated for extra privacy. The master suite offers everything you&rsquo;ve always wanted.&nbsp; The loft area can be left as open area or divided up into bedrooms and baths. &nbsp;This plan features lots of decks and covered porches.</p>
    <p>
        2,480 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/lodgestone.jpg" />
        </p>
        <h2>
            First Floor - 1800 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/lodgestone.jpg" />
        </p>
        <h2>
            Second Floor - 680 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/lodgestone.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
