@page "/floor-plans/mallinson"
@model BA.AvalonLogHomes.Pages.FloorPlans.MallinsonModel
@{
    ViewData["Title"] = "Mallinson";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Mallinson
    </h1>
    <p>This Mallinson custom log home is sure to be the showpiece of the neighborhood, with its captivating blend of traditional features. This 4 bedroom 2.5 bath two story offers all the extra special touches. Handsome dormers and gables accent the exterior of this log home. The unique window theme continues into the family room and adjoining kitchen and dining areas resulting in a log home bathed in warm glow of sunlight. While the spacious Great Room hosts a massive warm fireplace that is the centerpiece of the room. The modern kitchen with adjacent nook opens onto the backyard, creating a perfect setting for backyard gatherings. There&rsquo;s a masterful sense of styling clearly evident in spaciousness and design that you&rsquo;ll appreciate for a long time. The large master bedroom suite is situated for extra privacy.</p>
    <p>See a video of this log home at <a href="http://www.youtube.com/watch?v=zdvIZEu7Kbk">http://www.youtube.com/watch?v=zdvIZEu7Kbk</a></p>
    <p>
        2,804 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/mallinson.jpg" />
        </p>
        <h2>
            First Floor - 1690 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/mallinson.jpg" />
        </p>
        <h2>
            Second Floor - 1114 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/mallinson.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
