@page "/floor-plans/meadowbrook"
@model BA.AvalonLogHomes.Pages.FloorPlans.MeadowbrookModel
@{
    ViewData["Title"] = "Meadowbrook";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Meadowbrook
    </h1>
    The Meadowbrook is a 2928  sf  country home with 3+ Bedrooms and 3.5 baths, two story with  3 car garage. Interesting gables accent the exterior of this traditional home. The first floor features a popular open floor plan with a living room and family room with lots of glass for great views and a stunning fireplace. The spacious master bedroom is located on the main floor with lots of views. The gallery kitchen features lots of cabinets with a center island and walk-in pantry. Dens/Studies are located on both floors. The Meadowbrook also features lots of decks and covered porches. This plan has great curb appeal.
    <p>
        2,928 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/meadowbrook.jpg" />
        </p>
        <h2>
            First Floor - 2928 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/meadowbrook.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
