@page "/floor-plans/medora"
@model BA.AvalonLogHomes.Pages.FloorPlans.MedoraModel
@{
    ViewData["Title"] = "Medora";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Medora
    </h1>
    <p>This custom log home is 2616 sf, 3bd, 2 bath two story. The great room is designed to enjoy the views with a prow wall of glass and fireplace. The gallery kitchen features lots of cabinets and includes a large mudroom/utility. This plan radiates a warm comfortable feeling through its bright open design. The kitchen, dining &amp; living areas flow together which proves to be functional and elegant. The upstairs is dedicated to the master bedroom suite with a large loft and overlook. The master bath offers an exciting oval tub and separate shower, as well as a spacious walk-in closet and dressing area. This is a very flexible home with plenty of options to choose from. Make this your family's next home!</p>
    <p>
        1,895 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/medora.jpg" />
        </p>
        <h2>
            First Floor - 1895 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/medora.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
