@page "/floor-plans/mesa-garage-suite"
@model BA.AvalonLogHomes.Pages.FloorPlans.MesaGarageSuitModel
@{
    ViewData["Title"] = "Mesa Garage-Suite";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Mesa Garage-Suite
    </h1>
    <p>
        The Mesa Log Cabin plan is one of our popular Garage/Suites - Garage with living area above plans. This log cabin features 1 bdrm, 1 bath, 2 stories with 3 car garage. Plan Changes can be made to fit you needs.
    </p>
    <p>
        1,917 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/mesa-garage-suite.jpg" />
        </p>
        <h2>
            First Floor - 991 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/mesa-garage-suite.jpg" />
        </p>
        <h2>
            Second Floor - 926 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/mesa-garage-suite.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
