@page "/floor-plans/mountain-brook"
@model BA.AvalonLogHomes.Pages.FloorPlans.MountainBrookModel
@{
    ViewData["Title"] = "Mountain Brook";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Mountain Brook
    </h1>
    <p>This custom log home features 2729 sf, 3bd, 3 bath, den, loft, two story. The great room is designed to enjoy the views with a prow wall of glass. The gallery kitchen features lots of cabinets. This plan radiates a warm comfortable feeling through its bright open design. The kitchen, dining &amp; living areas flow together which proves to be functional and elegant. The main level includes a bedroom, den, and library. The upstairs includes the master bedroom, 3<sup>rd</sup> bedroom, baths, and loft area.</p>
    <p>
        1,839 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/mountain-brook.jpg" />
        </p>
        <h2>
            First Floor - 1839 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/mountain-brook.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
