@page "/floor-plans/natoma"
@model BA.AvalonLogHomes.Pages.FloorPlans.NatomaModel
@{
    ViewData["Title"] = "Natoma";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Natoma
    </h1>
    <p>
        This custom log home is 3bd, 3 bath two story with Bsmt.This plan is a great little get away cabin. It is shown on with an unfinished daylight basement that could accommodate future bedrooms. Open floor plan on the main level allows for easy entertaining that can spill out to the view deck. The Upper Level has a bedroom and a Open Loft that leads to a covered coffee deck to view the sunrise.This plan at houseplan.com
    </p>
    <p>
        1,941 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/natoma.jpg" />
        </p>
        <h2>
            First Floor - 1426 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/natoma.jpg" />
        </p>
        <h2>
            Second Floor - 515 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/natoma.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
