@page "/floor-plans/nester"
@model BA.AvalonLogHomes.Pages.FloorPlans.NesterModel
@{
    ViewData["Title"] = "Nester";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Nester
    </h1>
    <p>
        The Nester is one of our popular log cabins. Vaulted ceilings and an open interior design create a spacious feeling. The kitchen, dining & living areas flow together which proves to be functional and elegant. This 2  bedroom, 2 bath, open loft, 1.5 story plan offers all the extra special touches. The family room with  a lots of glass is enhanced by a stunning fireplace. Inside, the well-integrated main living areas are geared for the views out the prow, which is the perfect complement to the views beyond. Plan Changes can be made to fit you needs.
    </p>
    <p>
        960 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/nester.jpg" />
        </p>
        <h2>
            First Floor - 660 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/nester.jpg" />
        </p>
        <h2>
            Second Floor - 300 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/nester.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
