@page "/floor-plans/park-city"
@model BA.AvalonLogHomes.Pages.FloorPlans.ParkCityModel
@{
    ViewData["Title"] = "Park City";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Park City
    </h1>
    <p>This Gravitas Series luxury log homes plan features 3831 sf including 4+ bedroom, private office, 3.5 baths, indoor swimming pool, formal dining room, 2 car garage, 2 car carports, porte-cochere drive-thru two story.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1515997496488">The Park City: 3D Fly-Around Video</a></h2>
    <p>The Park City is a home that we designed for an equestrian estate in Park City. This home has a large open living area that spills to a huge outdoor living room, outdoor kitchen and dining and an integral fire pit. A spacious master has a private entrance to an indoor lap pool. Above the garage is a two bedroom guest suite for visiting skiers and horseback riders.</p>
    <p>The Park City has a unique contemporary design. The gables on this design look like a lodge. This plan radiates a warm comfortable feeling through its bright open design. The entry creates an eye-catching look to the rest of the interior. While the spacious great room hosts a massive warm fireplace that is the centerpiece of the room. Large gourmet kitchen with lots of custom cabinets and countertop space. The kitchen, dining &amp; living areas flow together which proves to be functional and elegant. This luxury log home design is sure to be the showpiece of the neighborhood with its captivating blend of traditional and contemporary features.</p>
    <p>
        3,831 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/park-city.jpg" />
        </p>
        <h2>
            First Floor - 2850 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/park-city.jpg" />
        </p>
        <h2>
            Second Floor - 981 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/park-city.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
