@page "/floor-plans/pinewood"
@model BA.AvalonLogHomes.Pages.FloorPlans.PinewoodModel
@{
    ViewData["Title"] = "Pinewood";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Pinewood
    </h1>
    <p>
        ENTER THIS CAPTIVATING LUXURY LOG HOME FEEL THE GRANDEUR... TOP QUALITY CONSTRUCTION AND DESIGN. THIS HOME FEATURES: 3068 S.F. 4 BEDROOMS 4 BATHS, LIVING AND DINING. COMBINING THE LIVING ROOM WITH WALL OF GLASS PROW, DINING AREA AND LARGE GOURMET KITCHEN TOGETHER PROVIDES OPENNESS FOR FAMILY AND PERFECT FOR ENTERTAINING.
        GORGEOUS  MASTER BATH, FEATURING WALK-IN SHOWER, JETTED TUB AND DOUBLE VANITY. TERRIFIC DOUBLE WALK-IN CLOSETS. THIS HOME HAS A VIEW FROM ALL AREAS WITH ITS USE OF WINDOWS. OUT BACK OFF THE KITCHEN ENJOY THE SUMMER EVENINGS ON THE LARGE COVERED PATIO. LOOK OVER THIS GREAT FLOOR PLAN WITH LOTS OF COVERED PORCHES. SEE HOW LIVEABLE THIS HOME IS.
    </p>
    <p>
        3,068 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/pinewood.jpg" />
        </p>
        <h2>
            First Floor - 2148 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/pinewood.jpg" />
        </p>
        <h2>
            Second Floor - 920 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/pinewood.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
