@page "/floor-plans/pinecreek"
@model BA.AvalonLogHomes.Pages.FloorPlans.PinecreekModel
@{
    ViewData["Title"] = "Pinecreek";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Pinecreek
    </h1>
    <p>
        The Pinecreek Log Home features 1638 sf with 2 bedroom, 2 bath, open loft, 1.5 stories. Vaulted ceilings and an open interior design create a spacious feeling. The kitchen, dining, and living areas flow together which proves to be functional and elegant. The family room with a huge full glass prow is enhanced by a stunning fireplace. Inside, the well-integrated main living areas are geared for the views out the prow, which is the perfect complement to the views beyond. The large upstairs master bedroom suite is situated for extra privacy. The master suite offers everything you have always wanted. You will find this home loaded with all the latest design ideas.
    </p>
    <p>
        988 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/pinecreek.jpg" />
        </p>
        <h2>
            First Floor - 988 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/pinecreek.jpg" />
        </p>
        <h2>
            Second Floor - 650 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/pinecreek.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
