@page "/floor-plans/pinehurst"
@model BA.AvalonLogHomes.Pages.FloorPlans.PinehurstModel
@{
    ViewData["Title"] = "Pinehurst";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Pinehurst
    </h1>
    <p>
        This Log homes plan features a great open design. Included is 3 Bdrm, 2 Bath, single level. The great room is designed to enjoy the views and to be the focus. This log homes focus is on the great room prow. Separated from the other two bedrooms, the master suite is both private and spacious. Plan Changes can be made to fit you needs.
    </p>
    <p>
        1,756 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/pinehurst.jpg" />
        </p>
        <h2>
            First Floor - 1756 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/pinehurst.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
