@page "/floor-plans/pullig"
@model BA.AvalonLogHomes.Pages.FloorPlans.PulligModel
@{
    ViewData["Title"] = "Pullig";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Pullig
    </h1>
    This Log Home plan features a 4 Bdrm, 2. Bath two story. If you like wrap around covered porches this one has it!  The great room, huge kitchen, & nook are designed to for family enjoyment. This four bedroom log home was designed for the maturing family with the separation of the master suite on the main level and the other bedrooms upstairs. The master bath offers an exciting oval tub and separate shower, as well as a spacious walk-in closet and dressing area.
    <p>
        1,910 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/pullig.jpg" />
        </p>
        <h2>
            First Floor - 1707 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/pullig.jpg" />
        </p>
        <h2>
            Second Floor - 1203 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/pullig.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
