@page "/floor-plans/ranch-suites"
@model BA.AvalonLogHomes.Pages.FloorPlans.RanchSuitesModel
@{
    ViewData["Title"] = "Ranch Suites";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Ranch Suites
    </h1>
    <p>This Gravitas Series luxury log homes plan features 4 bedroom 4 bath, single level.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1516004096653">The Ranch Suites: 3D Fly-Around Video</a></h2>
    <p>This Ranch House is a bunk house of sorts with rental suites as part of a larger dude ranch. There is an adjacent Lodge with a large dining area, bars, and multiple lounges. The Lodge serves as the main common living areas for the Ranch Houses and surrounding Cabins. The Ranch Houses are rented as a whole for a corporation, family, or wedding party, or as individual units.</p>
    <p>
        2,620 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/ranch-suites.jpg" />
        </p>
        <h2>
            First Floor - 2620 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/ranch-suites.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
