@page "/floor-plans/reed"
@model BA.AvalonLogHomes.Pages.FloorPlans.ReedModel
@{
    ViewData["Title"] = "Reed";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Reed
    </h1>
    Reed Log Home plan features a 3 Bdrm, 2 Bath single level with optional basement. Combining spaciousness with single story elegance, the Reed is a design masterpiece that speaks of sophisticated living. The dramatic entry is framed by glass sidelights. The gourmet kitchen and nook, featuring a wonderful layout is perfect for large-scale entertainment or intimate family gatherings. The large master bedroom suite is situated for extra privacy.
    <p>
        3,141 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/reed.jpg" />
        </p>
        <h2>
            First Floor - 1862 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/reed.jpg" />
        </p>
        <h2>
            Second Floor - 1279 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/reed.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
