@page "/floor-plans/regent"
@model BA.AvalonLogHomes.Pages.FloorPlans.RegentModel
@{
    ViewData["Title"] = "Regent";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Regent
    </h1>
    <p>This Regent custom log home is 1963 sf 3bd, 2 bath two story. &nbsp;This inviting home is packed with great features. The front and rear covered porches and decks add plenty of usable outdoor living space. Expansive great room includes vaulted ceiling as well as built-in cabinets and a fireplace. The spacious kitchen features an oversized island with a large dining area. The master bedroom has access to the deck and opens into the well-equipped bath with a walk-in closet. The upstairs loft area can be made into a third bedroom or left open to the area below. &nbsp;Make this your family's next home!</p>
    <p>
        1,216 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/regent.jpg" />
        </p>
        <h2>
            First Floor - 1216 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/regent.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
