@page "/floor-plans/regency"
@model BA.AvalonLogHomes.Pages.FloorPlans.RegencyModel
@{
    ViewData["Title"] = "Regency";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Regency
    </h1>
    <p>
        This Log Home plan features a great room prow with a wall of glass and fireplace. Included is 3 Bdrms, 2 Bath, 1.5 stories. Interesting decks, gables and dormers accent the exterior of this log home.This plan at houseplan.com
    </p>
    <p>
        2,402 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/regency.jpg" />
        </p>
        <h2>
            First Floor - 1584 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/regency.jpg" />
        </p>
        <h2>
            Second Floor - 818 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/regency.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
