@page "/floor-plans/ridge-crest"
@model BA.AvalonLogHomes.Pages.FloorPlans.RidgeCrestModel
@{
    ViewData["Title"] = "Ridge Crest";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Ridge Crest
    </h1>
    <p>
        The Ridge Crest luxury log homes by Avalon Log Homes is a 2,137 sf log home with 3 Bedrooms and 4 baths, 1.5 story with open loft. Interesting gables and dormers accent the exterior of this contemporary log home. The first floor features a popular open floor plan with a living room prow with lots of glass for great views and a stunning fireplace. The spacious master bedroom is located on the first floor with two additional bedrooms and an additional open loft on the 2nd floor. The gallery kitchen features lots of cabinets with a center island. The Ridge Crest also features lots of decks and covered porches. This plan can be designed to fit over a daylight basement.
    </p>
    <p>
        2,137 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/ridge-crest.jpg" />
        </p>
        <h2>
            First Floor - 1277 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/ridge-crest.jpg" />
        </p>
        <h2>
            Second Floor - 860 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/ridge-crest.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
