@page "/floor-plans/ridgewood"
@model BA.AvalonLogHomes.Pages.FloorPlans.RidgewoodModel
@{
    ViewData["Title"] = "Ridgewood";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Ridgewood
    </h1>
    <p>
        This plan radiates a warm comfortable feeling through its bright open design. The kitchen, dining, and living areas flow together which proves to be functional and elegant. This 4 bedroom 3.5 bath 1-1/2 story with optional basement plan offers all the extra special touches. The living room with a huge full glass prow is enhanced by a stunning fireplace. Inside, the well-integrated main living areas are geared for the views to the back patio, which is the perfect complement to the views beyond. Private decks off of each Suite are ideal for a quiet morning coffee or night cap.
    </p>
    <p>
        2,475 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/ridgewood.jpg" />
        </p>
        <h2>
            First Floor - 1860 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/ridgewood.jpg" />
        </p>
        <h2>
            Second Floor - 615 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/ridgewood.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
