@page "/floor-plans/rosewood"
@model BA.AvalonLogHomes.Pages.FloorPlans.RosewoodModel
@{
    ViewData["Title"] = "Rosewood";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Rosewood
    </h1>
    <p>
        This custom log home is 3bd, 2 bath two story with garage.The floor plan features storage area, split bedrooms, great room/living room, loft / balcony, walk-in closet, suited for vacation home, volume/vaulted ceiling, main floor master bed and bath, peninsula/eating bar, side-entry garage, suited for corner lot, open floor plan, main floor bed and bath.This plan at houseplan.com
    </p>
    <p>
        1,898 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/rosewood.jpg" />
        </p>
        <h2>
            First Floor - 1898 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/rosewood.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
