@page "/floor-plans/rowader"
@model BA.AvalonLogHomes.Pages.FloorPlans.RowaderModel
@{
    ViewData["Title"] = "Rowader";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Rowader
    </h1>
    <p>
        This Log home plan features a great open design. Included is 4 Bdrm, 3 Bath, 1.5 Stories. Master bedroom suite is on the main level with large kitchen & dining room and a large utility room . Features include A wrap around loft for great views down into the great room.
        The public area is designed to enjoy the views. Notice the great look for each elevation of the log home. Plan Changes can be made to fit you needs.
    </p>
    <p>
        3,397 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/rowader.jpg" />
        </p>
        <h2>
            First Floor - 2032 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/rowader.jpg" />
        </p>
        <h2>
            Second Floor - 1365 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/rowader.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
