@page "/floor-plans/saddlehorn"
@model BA.AvalonLogHomes.Pages.FloorPlans.SaddlehornModel
@{
    ViewData["Title"] = "Saddlehorn";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Saddlehorn
    </h1>
    <p>
        This Log home plan features a great open design. Included is 3 Bdrm, 2.5 Bath, open loft, and 1.5 stories. The first floor features a popular open floor plan with a great room prow with wall of windows for great views and a stunning fireplace. This plan has lot of storage areas. Notice the great look for each elevation of the log home. Plan Changes can be made to fit you needs.
    </p>
    <p>
        1,851 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/saddlehorn.jpg" />
        </p>
        <h2>
            First Floor - 978 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/saddlehorn.jpg" />
        </p>
        <h2>
            Second Floor - 873 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/saddlehorn.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
