@page "/floor-plans/sanchez-pinecrest"
@model BA.AvalonLogHomes.Pages.FloorPlans.SanchezPinecrestModel
@{
    ViewData["Title"] = "Sanchez Pinecrest";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Sanchez Pinecrest
    </h1>
    This log home plan gains character from its dormers, gables, and wrapping the front porch. Featured is 2 Bdrm, open loft, 2 Bath 1.5 stories. Vaulted ceilings and an open interior design create a spacious feeling. The kitchen, dining & living areas flow together which proves to be functional and elegant.
    <p>
        1,416 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/sanchez-pinecrest.jpg" />
        </p>
        <h2>
            First Floor - 936 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/sanchez-pinecrest.jpg" />
        </p>
        <h2>
            Second Floor - 480 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/sanchez-pinecrest.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
