@page "/floor-plans/saxony"
@model BA.AvalonLogHomes.Pages.FloorPlans.SaxonyModel
@{
    ViewData["Title"] = "Saxony";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Saxony
    </h1>
    This custom home is 4bd, 2.5 bath, den, two story with garage.
    <p>
        1,600 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/saxony.jpg" />
        </p>
        <h2>
            First Floor - 1600 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/saxony.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
