@page "/floor-plans/sedgewood"
@model BA.AvalonLogHomes.Pages.FloorPlans.SedgewoodModel
@{
    ViewData["Title"] = "Sedgewood";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Sedgewood
    </h1>
    <p>The Sedgewood log home is 3136 sf, 4bd, 3 bath, loft, two story with garage. The floor plan features suited for view lot, covered entry, large peninsula/eating bar, living room and family room. Two bedrooms are on the main level/ master bedroom, sitting room, and 4th bedroom are upstairs. This plan features lots of decks and covered porches and is shown with optional garage.</p>
    <p>
        3,136 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/sedgewood.jpg" />
        </p>
        <h2>
            First Floor - 1955 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/sedgewood.jpg" />
        </p>
        <h2>
            Second Floor - 1181 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/sedgewood.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
