@page "/floor-plans/sierra-la-rama"
@model BA.AvalonLogHomes.Pages.FloorPlans.SierraLaRamaModel
@{
    ViewData["Title"] = "Sierra La Rama";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Sierra La Rama
    </h1>
    This Gravitas Series luxury log homes plan features 3831 sf including 4+ bedroom, private office, 3.5 baths, indoor swimming pool, formal dining room, 2 car garage, 2 car carports, porte-cochere drive-thru two story. The Park City has a unique contemporary design. The gables on this design look like a lodge. This plan radiates a warm comfortable feeling through its bright open design. The entry creates an eye-catching look to the rest of the interior. While the spacious great room hosts a massive warm fireplace that is the centerpiece of the room. Large gourmet kitchen with lots of custom cabinets and countertop space. The kitchen, dining & living areas flow together which proves to be functional and elegant. This luxury log homes design is sure to be the showpiece of the neighborhood with its captivating blend of traditional and contemporary features.
    <p>
        3,280 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/sierra-la-rama.jpg" />
        </p>
        <h2>
            First Floor - 3280 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/sierra-la-rama.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
