@page "/floor-plans/sing"
@model BA.AvalonLogHomes.Pages.FloorPlans.SingModel
@{
    ViewData["Title"] = "Sing";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Sing
    </h1>
    The Sing Log Home is 2501 sf with 3+ Bedrooms and 2.5 baths, two story with large loft and 2 car garage. Interesting gables accent the exterior of this log home. The first floor features a popular open floor plan with lots of glass for great views. The gallery kitchen features lots of cabinets with a center island. The loft overlooks the living room below. This plan also features lots of decks and covered porches.
    <p>
        2,501 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/sing.jpg" />
        </p>
        <h2>
            First Floor - 2501 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/sing.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
