@page "/floor-plans/snowflake"
@model BA.AvalonLogHomes.Pages.FloorPlans.SnowflakeModel
@{
    ViewData["Title"] = "Snowflake";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Snowflake
    </h1>
    <p>
        This Log home plan features a great open design. Included is 2 Bdrm, 2 Bath, single level. The great room is designed to enjoy the views and to be the focus. This log home's focus is on the great room prow with wall of glass. Notice the great look for each elevation of the log home. Plan Changes can be made to fit you needs.
    </p>
    <p>
        1,443 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/snowflake.jpg" />
        </p>
        <h2>
            First Floor - 1443 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/snowflake.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
