@page "/floor-plans/sorenson-log-lodge"
@model BA.AvalonLogHomes.Pages.FloorPlans.SorensonLogLodgeModel
@{
    ViewData["Title"] = "Sorenson Log Lodge";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Sorenson Log Lodge
    </h1>
    <p>
        This Sorenson Log Lodge radiates a warm comfortable feeling through its bright open design. The kitchen, dining & living areas  are located in the center section for quick access to the bedroom wings. This 9 bedroom, 5 bath, large lofts- two story with optional basement plan offers all the extra special touches for resort living. The great room with glass prow is enhanced by a stunning fireplace. Inside, the well-integrated main living areas are treated to the loft wraparound overlooks above, which is the perfect complement to the views beyond.
    </p>
    <p>
        5,406 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/sorenson-log-lodge.jpg" />
        </p>
        <h2>
            First Floor - 5406 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/sorenson-log-lodge.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
