@page "/floor-plans/springdale"
@model BA.AvalonLogHomes.Pages.FloorPlans.SpringdaleModel
@{
    ViewData["Title"] = "Springdale";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Springdale
    </h1>
    <p>This Springdale Model is one of our most popular log homes. This plan radiates a warm comfortable feeling through its bright open design. The kitchen, dining &amp; living areas flow together which proves to be functional and elegant. This 3 bedroom 2.5 bath 1-1/2 story with optional basement plan offers all the extra special touches. The family room with a huge full glass prow is enhanced by a stunning fireplace. Inside, the well-integrated main living areas are geared for the views to the back patio, which is the perfect complement to the views beyond.</p>
    <p>To see a video of one of these models click on <strong><a href="http://www.youtube.com/watch?v=6lV7P3Oi8Z8">http://www.youtube.com/watch?v=6lV7P3Oi8Z8</a></strong></p>
    <p>
        2,280 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/springdale.jpg" />
        </p>
        <h2>
            First Floor - 1762 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/springdale.jpg" />
        </p>
        <h2>
            Second Floor - 518 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/springdale.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
