@page "/floor-plans/stamford"
@model BA.AvalonLogHomes.Pages.FloorPlans.StamfordModel
@{
    ViewData["Title"] = "Stamford";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Stamford
    </h1>
    This Log Home plan features a great open design with upstairs family room. Included is 2 Bdrm, 2 Bath, 1.5 stories with optional basement. Interesting decks, gables and dormers accent the exterior of this log home.
    <p>
        1,218 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/stamford.jpg" />
        </p>
        <h2>
            First Floor - 713 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/stamford.jpg" />
        </p>
        <h2>
            Second Floor - 515 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/stamford.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
