@page "/floor-plans/the-st-francis-log-chapel"
@model BA.AvalonLogHomes.Pages.FloorPlans.StFrancisLogChapelModel
@{
    ViewData["Title"] = "St Francis Log Chapel";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The St. Francis Log Chapel
    </h1>
    <p>The <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> St. Francis Log Chapel</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1630335994879">The St. Francis Fly-Around Video: A Log Church by Gravitas</a></h2>
    <p>The St. Francis is a hillside wedding chapel with a separated reception hall and kitchen below opening to patios and outdoor dining areas. There is plenty of room for events and services in this cozy log church.</p>
    <p>
        square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-st-francis-log-chapel.jpg" />
        </p>
        <h2>
            First Floor - 5324 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-st-francis-log-chapel.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-st-francis-log-chapel.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
