@page "/floor-plans/stonewall"
@model BA.AvalonLogHomes.Pages.FloorPlans.StonewallModel
@{
    ViewData["Title"] = "Stonewall";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Stonewall
    </h1>
    This custom home is 4bd, 3.5 bath, with mother-in law quarters two story with garage.
    <p>
        2,078 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/stonewall.jpg" />
        </p>
        <h2>
            First Floor - 2078 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/stonewall.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
