@page "/floor-plans/the-ashland"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheAshlandModel
@{
    ViewData["Title"] = "The Ashland";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Ashland
    </h1>
    <p>
        The Ashland is 2199 sf 3bd 2.5 baths with 2 car garage. This appealing bungalow has an eye-catching covered front porch, cedar-shingle accents and light-catching windows. All main-level spaces have nine-foot ceilings, except the great room, which features a scissor-vaulted ceiling, and the master salon, which is also vaulted. The main foyer separates a cozy den on the left from the formal dining room on the right. A butler's pantry connects the dining room and the convenient kitchen. An angled peninsula containing the cooktop joins the kitchen to a casual nook. There is patio access here for outdoor entertaining. A gas fireplace, skylights and a built-in media center in the great room make it a comfortable place to relax. Exquisite in design, the master suite includes a bath with spa tub, dual lavatories, separate shower, walk-in closet and compartmented toilet. On the upper level is a hall bath with dual lavatories to serve the two family bedrooms on this floor. This plan can be modified by the Mascord Design Group to fit your needs.
    </p>
    <p>
        2,199 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-ashland.jpg" />
        </p>
        <h2>
            First Floor - 1675 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-ashland.jpg" />
        </p>
        <h2>
            Second Floor - 524 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-ashland.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
