@page "/floor-plans/the-afton"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheAftonModel
@{
    ViewData["Title"] = "The Afton";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Afton
    </h1>
    <h2><a href="http://www.facebook.com/video/video.php?v=1559321539562">The Afton Log Home Fly-Around Video</a></h2>
    <p>The Afton is an infill project in a residential historic district. This plan is sure to breeze through the Historic Review Commission with its traditional Arts and Crafts lines. 1821 SF on the main and upper levels plus an additional 1213 on the lower level puts the total home at just above 3000 SF. Plenty of room in a compact footprint for smaller lots. The main level has an open floor plan including built in dining and an office space that easily connects to the public areas with sliding pocket doors. The upper level is reserved for privacy in a large owner's suite that includes an office nook at the top of the stairs, lots of built in storage, and a walk-in shower. The lower level adds two bedrooms and a family room for play or entertaining.</p>
    <p>
        1,832 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-afton.jpg" />
        </p>
        <h2>
            First Floor - 1086 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-afton.jpg" />
        </p>
        <h2>
            Second Floor - 746 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-afton.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
