@page "/floor-plans/the-albany"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheAlbanyModel
@{
    ViewData["Title"] = "The Albany";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Albany
    </h1>
    <p>This Gravitas, Inc. Series log home plan features 2 bd, 1 bath, one level with basement.</p>
    <p><strong><a href="http://www.facebook.com/?ref=home#%21/video/video.php?v=1720880458434">The Albany: 3D Fly-Around Video</a></strong></p>
    <p>The Albany is an efficient log home just under 1200 SF. This home is ready to go off the grid with a solar array and a solar closet for energy storage and mechanicals. Full log dovetail walls with hand peeled finish, perfect for a little retreat or a home to downsize into.</p>
    <p>
        1,200 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-albany.jpg" />
        </p>
        <h2>
            First Floor - 1200 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-albany.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
