@page "/floor-plans/the-ashley"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheAshleyModel
@{
    ViewData["Title"] = "The Ashley";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Ashley
    </h1>
    <p>The Ashely is a <a href="http://www.gravitaslc.com/" target="_blank">Gravitas, Inc.</a> 2390 Finished s.f. 4 bedroom 4 bath Including Assessory Dwelling Unit.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1515399201531">The Ashley: 3D Fly-Around Video </a></h2>
    <p>The Ashley plan has an in-law suite with kitchenette.</p>
    <p>&nbsp;</p>
    <p>
        2,390 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-ashley.jpg" />
        </p>
        <h2>
            First Floor - 2390 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-ashley.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
