@page "/floor-plans/the-bruneau"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheBruneauModel
@{
    ViewData["Title"] = "The Bruneau";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Bruneau
    </h1>
    <p>This <a href="http://www.gravitaslc.com/" target="_blank">Gravitas, Inc.</a> log home plan features 3 bd, 2.5 bath, 1.5 stories. The Bruneau is a 2066 sf eight sided log home which radiates a warm comfortable feeling through its bright open design.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1515401681593">The Bruneau: 3D Fly-Around Video</a></h2>
    <p>The Bruneau has canted walls and a contemporary feel. This home features a central double-sided fireplace viewed from the Gathering Room as well as through the open stairwell from the entry.</p>
    <p>The entry and central stair system creates an eye-catching look to the rest of the interior. While the spacious Great Room hosts a massive amount of window glass that is the centerpiece of the room. The large gourmet kitchen has abundant cabinets &amp; countertop space with eating bar. The kitchen, dining and living areas flow together which proves to be functional and elegant. This 3 bedroom plan offers the extra special touches that makes a house a home. There&rsquo;s a masterful sense of styling clearly evident in spaciousness and design that you&rsquo;ll appreciate for a long time.</p>
    <p>
        2,066 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-bruneau.jpg" />
        </p>
        <h2>
            First Floor - 2066 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-bruneau.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-bruneau.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
