@page "/floor-plans/the-bear-creek"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheBearCreekModel
@{
    ViewData["Title"] = "The Bear Creek";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Bear Creek
    </h1>
    <p>This is a <a href="http://www.gravitaslc.com/" target="_blank">Gravitas, Inc.</a> customized Seneca. This plan features 5627 sf including 5+ bedrooms, 4.5 bath, formal dining room, double 2 car garages, drive-thru, 1.5 stories with larger daylight basement. From the soaring ceilings, elevated windows, formal dining room with walls of windows, and refined design of the commanding fireplace in the great room overlooking the very dramatic back view scene. The Bear Creek exudes a grad style. The unique window theme continues into the family room and adjoining kitchen and dining areas resulting in a log home bathed in warm glow of sunlight. The master suite offers everything you&rsquo;ve always wanted. You&rsquo;ll find this home loaded with all the latest design ideas.</p>
    <p>
        7,185 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-bear-creek.jpg" />
        </p>
        <h2>
            First Floor - 7185 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-bear-creek.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-bear-creek.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
