@page "/floor-plans/the-bighorn"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheBighornModel
@{
    ViewData["Title"] = "The Bighorn";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Bighorn
    </h1>
    <p>The Gravitas Series Big Horn is the perfect size, a main level owners suite with two additional bedrooms on the upper level. A full shed dormer on the entry side opens up more useable space on the second floor and gives the bedrooms plenty of room. An open loft for reading or games overlooks the open gathering room to the view beyond. The main level has a open floor plan creating a long view from kitchen across dining and into the gathering room. This open long view makes the home feel much larger than the efficient footprint that it is. The owner&rsquo;s suite is on the main level with a large walk in shower, and private deck. This plan would be ideal for a retirement home, small family, or second home in the mountains wherever you live.</p>
    <h2><a href="http://www.gravitaslc.com/Projects/StandardPlans/Movies/TheBigHorn.mp4?utm_source=2011+ALL&amp;utm_campaign=16bf2abd0d-GravitasDesign-TheGoodwood&amp;utm_medium=email">The Big Horn Fly-Around Video</a></h2>
    <p>
        1,905 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-bighorn.jpg" />
        </p>
        <h2>
            First Floor - 1505 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-bighorn.jpg" />
        </p>
        <h2>
            Second Floor - 400 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-bighorn.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
