@page "/floor-plans/the-columbia"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheColumbiaModel
@{
    ViewData["Title"] = "The Columbia";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Columbia
    </h1>
    <p>This Gravitas Series log home plan features 5006 sf, 5 bedroom, 3 1/2 bath. It includes a loft level fireplace and multiple zones of activity, allowing the family to maximize their use of the home. A recreation room above the garage is located separately from the other public areas of the house for acoustic privacy.</p>
    <h2><a href="http://www.gravitaslc.com/Projects/StandardPlans/Movies/TheGoodwood.wmv">See The Columbia Fly-Around Video</a></h2>
    <p>
        5,006 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-columbia.jpg" />
        </p>
        <h2>
            First Floor - 2469 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-columbia.jpg" />
        </p>
        <h2>
            Second Floor - 2537 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-columbia.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
