@page "/floor-plans/the-clarion"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheClarionModel
@{
    ViewData["Title"] = "The Clarion";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Clarion
    </h1>
    <p>
        This Gravitas, Inc. Series Clarion is a Spanish Mission style courtyard home at just over 3000 square feet. The home is oriented for protected and private outdoor living at the back of the house. The courtyard adds an expansive living area to the home with patio dining, a pool and hot tub with outdoor shower and shaded trellis areas. The owners suite has its own private wing with a garden court directly outside from the owners bath. An in-home studio/office has direct access to the public entry to double as an office that can receive customers without entry into the home. The open kitchen-living-dining is an open plan that spills out to the outdoor living through a kitchen pass through and living room French doors. An away room is located nearby to isolate activities. The Clarion Fly-Around Video
    </p>
    <p>
        3,005 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-clarion.jpg" />
        </p>
        <h2>
            First Floor - 3005 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-clarion.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
