@page "/floor-plans/the-carson"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheCarsonModel
@{
    ViewData["Title"] = "The Carson";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Carson
    </h1>
    <p>The <a href="http://www.gravitaslc.com/" target="_blank">Gravitas, Inc.</a> Carson log home</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1548972840851">The Carson Hybrid Log Home Fly-Around Video</a></h2>
    <p>The Carson is a 3 bedroom 2.5 bath hybrid log home that has a dovetail core with interior log walls and standard framed wings. The integration of multiple materials using the dovetail log, board &amp; batten, and shake shingle siding adds to the rustic charm of this home. This home has a formal Living Room off of a grand Entry and an informal Living Room near the Kitchen/Dining and Family Entry. The Owner's Suite has a unique stepped storage hall that gives access to a private loft that would serve as a retreat or home office. The Upper Level features two bedrooms with built in beds in the dormers and full bath. This home would be easily adaptable to have more bedrooms on the Lower Level with an appropriately sloping site.</p>
    <p>
        2,775 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-carson.jpg" />
        </p>
        <h2>
            First Floor - 2775 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-carson.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-carson.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
