@page "/floor-plans/the-cache-b"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheCacheBModel
@{
    ViewData["Title"] = "The Cache B";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Cache B
    </h1>
    <p>The <a href="http://www.gravitaslc.com/" target="_blank">Gravitas, Inc.</a> Cache B makes a cute little get away cabin or an efficient retirement home. This home has just the right amount of room in a compact design. This is a modification of The Cache plan which didn't have dormers or the upper bedroom, just an open loft but it did have a full daylight basement that added about 1200 SF</p>
    <p>
        1,243 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-cache-b.jpg" />
        </p>
        <h2>
            First Floor - 1243 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-cache-b.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
