@page "/floor-plans/the-clark-fork"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheClarkForkModel
@{
    ViewData["Title"] = "The Clark Fork";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Clark Fork
    </h1>
    <p>This Gravitas Clark Fork has 5 1/2 bedrooms, with a bunkroom in the lower level for additional family space. An at-home office is adjacent to the Owner's Suite, so you can work from home, and still be a part of the family activities. Many timber trusses, and beams help to create a warm and inviting atmosphere, while the Family Room in the lower level creates a separate zone for guests. Two full suites on the Upper Level have private balconies to the view.</p>
    <p>&nbsp;</p>
    <h2><a href="http://www.gravitaslc.com/Projects/StandardPlans/Movies/TheClarkFork.wmv?utm_source=2011+ALL&amp;utm_campaign=dd9c33a2f1-Plan_of_the_Month12_17_2010&amp;utm_medium=email">The Clark Fork Fly-around Video:</a></h2>
    <p>
        5,559 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-clark-fork.jpg" />
        </p>
        <h2>
            First Floor - 5559 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-clark-fork.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-clark-fork.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
