@page "/floor-plans/the-clearwater"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheClearwaterModel
@{
    ViewData["Title"] = "The Clearwater";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Clearwater
    </h1>
    <p>The Clearwater is a hybrid home mixing standard frame construction and timber frame elements and thick timber siding.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1515403001626">The Clearwater: 3D Fly-Around Video</a></h2>
    <p>The Clearwater is a hybrid home mixing standard frame construction and timber frame elements and thick timber siding. This home has large open common areas and a beautiful feature fireplace. A spacious owner's suite has it's own private deck and convenient laundry chute. The open loft would be a great place for a library or study. Two additional bedrooms and a comfortable rec. room/ family room round out the lower level with spacious built in shelving.</p>
    <p>
        1,720 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-clearwater.jpg" />
        </p>
        <h2>
            First Floor - 1420 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-clearwater.jpg" />
        </p>
        <h2>
            Second Floor - 300 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-clearwater.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
