@page "/floor-plans/the-dechutes"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheDechutesModel
@{
    ViewData["Title"] = "TheDechutes";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Dechutes
    </h1>
    <p>This <a href="http://www.gravitaslc.com/" target="_blank">Gravitas, Inc.</a> log homes plan features 1 bd, 1 bath, single level with oversized single car garage. The Dechutes is a 811 sf log cabin. The great room with majestic corner fireplace is designed for entertaining &amp; to enjoy the views. This log cabins plan has outstanding elevations with wrap around covered porches.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1515933694893">The Oregon Series:3D Fly-Around Video</a></h2>
    <p>The Oregon Series consists of three plans, ranging in size from The Metolius at 700 SF, The Deschutes at 800 SF and the largest, The Malheur at 1200 SF. A Spanish inspired log home right at home in the rolling foothills.</p>
    <p>Plan Changes can be made to fit you needs.</p>
    <p>
        811 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-dechutes.jpg" />
        </p>
        <h2>
            First Floor - 811 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-dechutes.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
