@page "/floor-plans/the-dearborn"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheDearbornModel
@{
    ViewData["Title"] = "The Dear born";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Dearborn
    </h1>
    <p>This <a href="http://www.gravitaslc.com/" target="_blank">Gravitas, Inc.</a> luxury log homes plan features 3 bedroom 3 bath, open loft area, 1.5 stories. The Dearborn is 2559 sf of contemporary designed log home.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1515407441737">The Dearborn: 3D Fly-Around Video</a></h2>
    <p>The Dearborn is a 2559 SF, 3 bedroom, 3 bath home with a 2 car garage in the Lower Level. This contemporary plan features a Gathering Room with a fireplace and a terraced deck. The Office on the main floor could easily be converted to the third Bedroom, while the Owner&rsquo;s Suite shares the upstairs level with the third Bedroom and Open Loft.</p>
    <p>From the soaring ceilings, elevated windows, and refined design of the commanding fireplace in the great room overlooking the very dramatic back view scene. The large gourmet kitchen has abundant cabinets &amp; countertop space with eating bar. The master suite offers everything you&rsquo;ve always wanted. The master bath offers double vanities, jacuzzi, walk-in shower, as well as a spacious walk-in closet and dressing area.</p>
    <p>
        2,559 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-dearborn.jpg" />
        </p>
        <h2>
            First Floor - 2559 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-dearborn.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-dearborn.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
