@page "/floor-plans/the-escalante"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheEscalanteModel
@{
    ViewData["Title"] = "The Escalante";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Escalante
    </h1>
    <p>The <a href="http://www.gravitaslc.com/" target="_blank">Gravitas, Inc.</a> Escalante</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1525287928743">The Escalante Fly-Around Video</a></h2>
    <p>The Escalante is a 4514 SF, 4 bedroom, 4 1/2 bath, 2 car garage with shop area featuring an open terrace above outdoor kitchen for entertaining and relaxing. This is a custom designed home for a client in the Roaring Fork Valley and will be systems built (modular). An elevator moves between the Lower and Main Level for easy grocery delivery to the pantry. A modified version of this home has been awarded Timber Home Living's "Top Five Plans" in their April issue.</p>
    <p>
        4,514 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-escalante.jpg" />
        </p>
        <h2>
            First Floor - 4514 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-escalante.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-escalante.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
