@page "/floor-plans/the-gunnison"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheGunnisonModel
@{
    ViewData["Title"] = "The Gunnison";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Gunnison
    </h1>
    <p>This <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> luxury log homes plan features 3 bedroom 2-1/2 bath, open loft area, 1.5 stories with detached garage. The Gunnison is 2411 sf of unique designed log home.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1515909134279">The Gunnison: 3D Fly-Around Video</a></h2>
    <p>This is a classic prow layout that we are all familiar with but with a more contemporary entry and steeply pitched roofs. The Upper Level has a large bunk room and then opens up to a Flex Space that could be a home office or an additional suite.</p>
    <p>The gathering room with prow design and extensive wall of windows is designed to enjoy the views. The large gourmet kitchen, dining area, and living areas flow together which proves to be functional and elegant. Separated from the other two bedrooms, the master suite is both private and spacious. It offers its won garden bath with twin vanities and walk-in closets, plus a walk-in shower. This log home plan has outstanding elevations. Plan Changes can be made to fit you needs.</p>
    <p>
        2,411 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-gunnison.jpg" />
        </p>
        <h2>
            First Floor - 2411 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-gunnison.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-gunnison.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
