@page "/floor-plans/the-goodwood"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheGoodwoodModel
@{
    ViewData["Title"] = "The Goodwood";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Goodwood
    </h1>
    <p>
        This Gravitas, Inc. Series log home plan features 3 bd, 2.5 bath, one level with basement.
        The Goodwood a 3787 SF home on two levels. It has three bedrooms and 2.5 baths. Open living on the main floor combines the living, kitchen, and dining. The Goodwood has a large open deck on the view side and a welcoming covered porch to protect awaiting guests from the rain. The Owners Suite is accessed through a library alcove and has a convenient office on the front side of the home. The lower level includes additional bedrooms that can be used for guests or hobby space. Opposite the daylighting south wall and tucked into the hillside are ample sized root and wine cellars.
    </p>
    <p>
        3,787 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-goodwood.jpg" />
        </p>
        <h2>
            First Floor - 3787 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-goodwood.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-goodwood.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
