@page "/floor-plans/the-greylin"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheGreylinModel
@{
    ViewData["Title"] = "The Greylin";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Greylin
    </h1>
    <p>This <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> log homes plan features 4 bd, 2.5 bath, 1.5 stories with single car garage. The Greylin is 1648 sf of contemporary designed log home.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1515423522139">The Greylin: 3D Fly-Around Video</a></h2>
    <p>The Greylin was a reclaimed residential lot with strict setbacks inside city limits. We minimized the footprint and maximized the interior space through the use of built in areas and "double duty" rooms.</p>
    <p>This plan has unique exterior elevations that include gables and a clearstory.</p>
    <p>
        1,648 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-greylin.jpg" />
        </p>
        <h2>
            First Floor - 851 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-greylin.jpg" />
        </p>
        <h2>
            Second Floor - 797 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-greylin.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
