@page "/floor-plans/the-klamath"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheKlamathModel
@{
    ViewData["Title"] = "The Klamath";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Klamath
    </h1>
    This Gravitas, Inc. Series Klamath includes 643 sf, 2 bedroom, 1 bath with Sleeping Loft
    <p>
        643 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-klamath.jpg" />
        </p>
        <h2>
            First Floor - 643 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-klamath.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-klamath.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
