@page "/floor-plans/the-long-valley"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheLongValleyModel
@{
    ViewData["Title"] = "The Long Valley";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Long Valley
    </h1>
    <p>This <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> luxury log homes plan features 3991 sf including 4+ bedroom, 3 bath, formal dining room, main level &amp; basement family rooms, attached 2 car garage, 1.5 stories with daylight basement.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1515914134404">The Long Valley: 3D Fly-Around Video</a></h2>
    <p>The Long Valley has it all! The entry creates an eye-catching look to the rest of the interior. The first floor features a popular open floor plan with a great room prow with lots of glass for great views and a stunning fireplace. The gallery kitchen features lots of cabinets with a eating bar is designed for entertaining. Inside, the well-integrated main living areas are geared for the views out the prow, which is the perfect complement to the views beyond. The Long Valley features lots of decks and covered porches. While the spacious Great Room hosts a massive warm fireplace that is the centerpiece of the room. Separated from the other bedrooms, the master suite is both private and spacious. It offers twin vanities and walk-in closets, plus a walk-in shower. The first floor features a popular open floor plan with a great room prow with lots of glass for great views. The gallery kitchen features lots of cabinets with a eating bar is designed for entertaining. Inside, the well-integrated main living areas are geared for the views out the prow, which is the perfect complement to the views beyond. The Long Valley features lots of decks and covered porches.</p>
    <p>
        3,991 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-long-valley.jpg" />
        </p>
        <h2>
            First Floor - 3991 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-long-valley.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-long-valley.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
