@page "/floor-plans/the-lamar"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheLamarModel
@{
    ViewData["Title"] = "The Lamar";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Lamar
    </h1>
    <p>This <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> Lamar</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1515913734394">The Lamar: 3D Fly-Around Video</a></h2>
    <p>The Lamar is a two story dovetail and timber home that will be built in Kentucky. A traditional "T" shaped plan makes for a spacious Main Level plan laid out for open accessible living. The Upper Level has four additional bedrooms for guests or a large family and a comfortable office study space. The unfinished Lower Level can be finished out with a Media Room, Rec. Room or more Bedrooms to suit the needs of the final occupants.</p>
    <p>
        3,200 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-lamar.jpg" />
        </p>
        <h2>
            First Floor - 3200 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-lamar.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-lamar.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
