@page "/floor-plans/the-merced"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheMercedModel
@{
    ViewData["Title"] = "The Merced";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Merced
    </h1>
    <p>This <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> log home plan features 3 bedroom 2 bath, with large master suite, great room, corner fireplace and 2 car garage.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1591878313461">The Merced Fly-around Video:</a></h2>
    <p>The Merced is an adorable 1784 square foot 3 bedroom 2 bath home with a main level Owner's Suite. The open loft with a full shed dormer on the upper level would make for a great office space or play area. The four sided wrap around porch and screened porch almost double the living space for outdoor dining and entertaining and relaxing.</p>
    <p>From the soaring ceilings, elevated windows, and refined design of the commanding fireplace in the great room overlooking the very dramatic back view scene. The large gourmet kitchen has abundant cabinets and countertop space with eating bar. The master bath offers walk-in shower, as well as a spacious walk-in closet and dressing area. There is masterful sense of styling and sophistication clearly evident in The Merced design which you will appreciate more with each passing year.</p>
    <p>
        1,784 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-merced.jpg" />
        </p>
        <h2>
            First Floor - 1257 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-merced.jpg" />
        </p>
        <h2>
            Second Floor - 527 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-merced.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
