@page "/floor-plans/the-madison"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheMadisonModel
@{
    ViewData["Title"] = "The Madison";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Madison
    </h1>
    <p>This <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a>&nbsp; Madison is the quintessential log home plan with a few features that you don't always see.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1515929974800">The Madison: 3D Fly-Around Video</a></h2>
    <p>A large Grand Entry with a double fireplace and curved stairway greets guests. Outdoor living space is not in short supply with decks and covered porches wrapping the entire home. The main floor is the traditional log home layout with an expanded dining area for entertaining and an enlarged pantry storage area right off the entry on the way to the kitchen for convenient grocery drop off. The Upper Level has two bedrooms but in the Madison they both share one side and have their own bath. This leaves the other side open for a large Flex space for an exercise, room, hobby room, or bunk room. The upper level also shares the chimney from below and allows a cozy fire in the library &amp; study area.</p>
    <p>
        3,760 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-madison.jpg" />
        </p>
        <h2>
            First Floor - 3760 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-madison.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-madison.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
