@page "/floor-plans/the-mackenzie"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheMackenzieModel
@{
    ViewData["Title"] = "TheMackenzie";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Mackenzie
    </h1>
    <p>This <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> log home plan features 2 bedroom 2 bath, open loft area, 1.5 stories. The McKenzie is 2112 sf of traditional designed log home.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1570714464378">The Mackenzie Log Home Fly-Around Video</a></h2>
    <p>The Mackenzie is an open floor plan with a main level Owner&rsquo;s Suite. This home has integrated outdoor living with a two large covered porches and a screened porch for evening reading or entertaining. The garage on the lower level takes advantage of a minimal footprint and keeps the owners out of the rain and snow. The second floor guest bedroom has its own bath and easy access to a open loft library area. This home was originally built as a full log home but with its efficient rectilinear shape it would work equally well as a timberframe home.</p>
    <p>
        2,072 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-mackenzie.jpg" />
        </p>
        <h2>
            First Floor - 1472 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-mackenzie.jpg" />
        </p>
        <h2>
            Second Floor - 640 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-mackenzie.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
