@page "/floor-plans/the-north-fork"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheNorthFolkModel
@{
    ViewData["Title"] = "The North Folk";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The North Fork
    </h1>
    <p>The <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> North Fork.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1515931534839">The North Fork: 3D Fly-Around Video</a></h2>
    <p>The North Fork is a home we designed for a client in Wisconsin. This is a getaway cabin plan for simple living. The Main Level is open for entertaining and relaxed living. A spacious Owner's Suite on the Main Level for easy access. &nbsp;Lots of outdoor living for grilling, sunsets and rocking chairs.</p>
    <p>
        2,144 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-north-fork.jpg" />
        </p>
        <h2>
            First Floor - 2144 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-north-fork.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-north-fork.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
