@page "/floor-plans/the-oswego"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheOswegoModel
@{
    ViewData["Title"] = "TheOswego";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Oswego
    </h1>
    <p>The <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> Oswego is 1021 sf 1 bedroom 1.5 bath two story with optional unfinished bsmt.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1515944415161">The Oswego: 3D Fly-Around Video</a></h2>
    <p>The Oswego is a basic getaway cabin plan for simple living. The Main Level is all open for entertaining and relaxed living. The only enclosed bedroom is on the Upper Floor that has easy access to a large morning coffee balcony overlooking the view. The lower level was unfinished in this home but could easily accommodate more bedrooms and a Family Room if the site allowed for daylighting as this one did.</p>
    <p>
        1,021 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-oswego.jpg" />
        </p>
        <h2>
            First Floor - 1021 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-oswego.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
