@page "/floor-plans/the-palouse"
@model BA.AvalonLogHomes.Pages.FloorPlans.ThePalouseModel
@{
    ViewData["Title"] = "The Palouse";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Palouse
    </h1>
    <p>The Palouse is a Gravitas Series traditional log home with an expansive wrap around deck that greatly increases the livable area. This plan includes 1895 sf, 4 bd, 2.5 bath with an optional basement. The main floor open living space joins together the kitchen, dining and gathering room with easy access to the owners suite, all on one level. The public areas are open and vaulted whereas the space over the bedroom is captured for an open flex space and an additional bath. The lower level is ready for your hobbies. Half of the lower level is dedicated to the garage and the other half is shared by a shop, craft room, and storage.</p>
    <p><strong><span style="text-decoration: underline;"><a href="http://www.gravitaslc.com/Projects/StandardPlans/Movies/ThePalouse.wmv">See The Palouse Fly-Around Video</a></span></strong><strong></strong></p>
    <p>
        1,895 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-palouse.jpg" />
        </p>
        <h2>
            First Floor - 1630 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-palouse.jpg" />
        </p>
        <h2>
            Second Floor - 265 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-palouse.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
