@page "/floor-plans/the-pipestone"
@model BA.AvalonLogHomes.Pages.FloorPlans.ThePipestoneModel
@{
    ViewData["Title"] = "The Pipestone";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Pipestone
    </h1>
    <p class="gravitastitle">The Pipestone</p>
    <p>The <a href="http://www.gravitaslc.com/" target="_blank">Gravitas, Inc.</a> Pipestone Log Home</p>
    <p><strong><span style="text-decoration: underline;"><a href="http://gravitaslc.com/Projects/StandardPlans/Movies/ThePipestone.mp4?utm_source=2011+ALL&amp;utm_campaign=96ae8da850-GravitasDesign-TheGoodwood&amp;utm_medium=email">The Pipestone Log Home Fly-Around Video</a></span></strong><strong></strong></p>
    <p class="gravitastitle">&nbsp;</p>
    <p class="blurb">The Pipestone is a traditional log home with a spacious open floor plan. Included is 2200 sf, 3 bed, 2.5 bath with open loft and optional 1500 sf basement. This plan has a large owners suite on the main level, office, laundry and powder room. A full wrap around deck doubles the livable area on the main floor and opens up the opportunities for entertaining, or spending lazy afternoons in a rocking chair. Two bedrooms, an open loft, and a full bath finish off the upper level. A full lower level is left unfinished for your imagination, maybe build out more bedrooms and a family room, or a shop, garage, or craft room.</p>
    <p>
        2,200 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-pipestone.jpg" />
        </p>
        <h2>
            First Floor - 1500 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-pipestone.jpg" />
        </p>
        <h2>
            Second Floor - 700 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-pipestone.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
