@page "/floor-plans/the-rockway-duplex"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheRockwayDuplexModel
@{
    ViewData["Title"] = "The Rockway Duplex";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Rockway Duplex
    </h1>
    <p>This <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> duplex plan features 3133 sf including 3 bedroom, 2.5 baths, fireplace, with large kitchen &amp; dining area for each unit with attached 2 car garage, single level with daylight basement.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1534939170018">The Rockaway Fly-Around Video</a></h2>
    <p>The Rockaway is a systems built (off site built) duplex with a detached Accessory Dwelling Unit (ADU) with garage below. The Unit A features 4 bedrooms and an attached 2 car garage. The owners suite also has a private covered balcony. Unit B has 3 bedrooms and a large, open floor plan between the kitchen and gathering room extending to the outdoor living space of a street front covered porch. The 1 bedroom ADU sits above the detached 2 car garage and has a unrestricted open floor plan with a large covered porch making the efficient footprint feel much larger. This program was designed for a narrow city lot but can be modified for any site size or application.</p>
    <p>
        3,133 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-rockway-duplex.jpg" />
        </p>
        <h2>
            First Floor - 3133 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-rockway-duplex.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-rockway-duplex.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
