@page "/floor-plans/the-redstone"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheRedstoneModel
@{
    ViewData["Title"] = "The Redstone";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Redstone
    </h1>
    The Redstone features 2869 sf with  4 bedrooms and 2.5 baths with family room and 2 car garage.
    <p>
        2,869 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-redstone.jpg" />
        </p>
        <h2>
            First Floor - 2100 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-redstone.jpg" />
        </p>
        <h2>
            Second Floor - 769 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-redstone.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
