@page "/floor-plans/the-red-deer"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheRedDeerModel
@{
    ViewData["Title"] = "The Red Deer";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Red Deer
    </h1>
    <p>The Gravitas, Inc. Red Deer Timber Frame Home</p>
    <p><br /> <strong><span style="text-decoration: underline;"><a href="http://www.gravitaslc.com/Projects/StandardPlans/Movies/TheRedDeer.mp4">The Red Deer Timber Frame Home Fly-Around Video</a></span></strong><strong></strong></p>
    <p>The Red Deer is a single level timber frame hybrid home. This 3408 sf, four bedroom 4.5 bath home has a private wing with the owner's suite and office. The public entry opens into a vaulted foyer that provides an impressive view through the gathering room windows beyond. Also connected are the kitchen and dining room which extend to outdoor living space beyond. The vaulted spaces feature rustic reclaimed beams on the ceiling. Beyond the kitchen is the bedroom wing with two additional bedrooms with full baths. The family entry passes through an efficient bench seating area, the laundry, and a gear storage area. A private guest suite above the garage could be turned into an artist's studio, a separate rental, or a more secluded space for long term guests.</p>
    <p>
        4,008 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-red-deer.jpg" />
        </p>
        <h2>
            First Floor - 3408 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-red-deer.jpg" />
        </p>
        <h2>
            Second Floor - 600 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-red-deer.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
