@page "/floor-plans/the-rivanna"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheRivannaModel
@{
    ViewData["Title"] = "The Rivanna";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Rivanna
    </h1>
    <p>The <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> Rivanna is a 5604 SF, 6 bedroom, 4 bath home with a offset 3 car garage set into the mountainside.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1516009096778">The Rivanna: 3D Fly-Around Video</a></h2>
    <p>The Rivanna is a 5604 SF, 6 bedroom, 4 bath home with a offset 3 car garage set into the mountainside. This plan features an all season porch, complete with a cozy fireplace and two balconies. A private owners suite occupies the top floor, with an open loft looking down over the spacious gathering room and a covered porch.</p>
    <p>
        5,604 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-rivanna.jpg" />
        </p>
        <h2>
            First Floor - 5604 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-rivanna.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-rivanna.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
