@page "/floor-plans/the-roanoke"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheRoanokeModel
@{
    ViewData["Title"] = "The Roanoke";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Roanoke
    </h1>
    <p>The <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> Roanoke is a 2559 SF, 3 bedroom, 3 bath home with a detached 2 car garage and easy option for a daylight basement on the right lot.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1516010136804">The Roanoke Fly-Around Video</a></h2>
    <p>The Roanoke is a 2559 SF, 3 bedroom, 3 bath home with a detached 2 car garage and easy option for a daylight basement on the right lot. The open layout allows the kitchen to easily flow into the adjacent dining room and vaulted gathering room. The owners suite opens to a deck that wraps around the house. Heading up the log stairs you'll find another bedroom and full bathroom, along with an open loft. There&rsquo;s also plenty of storage space in the accessible attic space directly off the loft.</p>
    <p>
        2,559 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-roanoke.jpg" />
        </p>
        <h2>
            First Floor - 2559 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-roanoke.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-roanoke.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
