@page "/floor-plans/the-stillwater"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheStillwaterModel
@{
    ViewData["Title"] = "The Stillwater";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Stillwater
    </h1>
    <p>The <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> Stillwater</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1650528499679">The Stillwater Fly-Around Video: Colorado Timber Frame Hybrid Home</a></h2>
    <p>The Stillwater is a home that we designed for a couple in Colorado. It features four full suites including a separate apartment with its own entrance that could be used for guests, or rented out. This home has 3556 SF in the main quarters and 1076 SF in the guest apartment. An open stairwell at the entry to the main home follows through to open public areas and plenty of windows to soak in the mountain views. The lower level has a large media room and a wine storage and tasting room tucked out of the way in the back.</p>
    <p>&nbsp;</p>
    <p>
        3,556 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-stillwater.jpg" />
        </p>
        <h2>
            First Floor - 3556 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-stillwater.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-stillwater.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
