@page "/floor-plans/the-salinas"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheSalinasModel
@{
    ViewData["Title"] = "The Salinas";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Salinas
    </h1>
    <p>The <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> Salinas is a hybrid timberframe home with some unique features.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1516015856947">The Salinas Fly-Around Video</a></h2>
    <p>The Salinas is a hybrid timberframe home with some unique features. This home is designed for off-site construction (Systems Built, or modular). A very contemporary design with mono pitch roofs, a unique private Owner's Suite that stands by itself and a full rentable "Accessory Dwelling Unit" or In-Law suite on the street side of the lot. Media Room, Office, Wine Room, the features of this plan are many. Take a walk through and let us know what you think.</p>
    <p>
        4,244 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-salinas.jpg" />
        </p>
        <h2>
            First Floor - 4244 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-salinas.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-salinas.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
