@page "/floor-plans/the-sages"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheSagesModel
@{
    ViewData["Title"] = "The Sages";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Sages
    </h1>
    <p>This <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> luxury log homes plan features 3130 sf including 3 bedroom, 3.5 baths, 2 fireplaces, formal dining room and attached 2 car garage, 1.5 stories.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1516012336859">The Sages Fly-Around Video</a></h2>
    <p>The Sages is a 3200 SF 3 bedroom 2.5 bath home. The Sages has it all. A gabled roofline and unique entry enhance this modest sized log home. Vaulted ceilings and an open interior design create a spacious feeling. The kitchen with center island and eating bar with formal dining room opens to the patio for convenient living. The master bedroom suite has it all. The master bath offers an exciting oval tub and separate shower, as well as a spacious walk-in closet and dressing area Attention to detail and interior design add to this log home&rsquo;s value and charm.</p>
    <p>
        3,130 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-sages.jpg" />
        </p>
        <h2>
            First Floor - 2009 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-sages.jpg" />
        </p>
        <h2>
            Second Floor - 1121 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-sages.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
