@page "/floor-plans/the-sabine"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheSabineModel
@{
    ViewData["Title"] = "TheSabine";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Sabine
    </h1>
    <p>This <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> log home plan features 1 bd, 2 bath, 1.5 story level. The Sabine is 939 sf of contemporary designed log cabin.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1516010456812">The Sabine Fly-Around Video</a></h2>
    <p>The Sabine is an efficient loft bedroom cabin, great for a weekend getaway. The Great Room triangular prow with lots of glass offers a spectacular elevation and great styling. The great room, huge kitchen, &amp; nook are designed to for family enjoyment. The master suite makes up the loft level.</p>
    <p>
        939 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-sabine.jpg" />
        </p>
        <h2>
            First Floor - 939 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-sabine.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-sabine.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
