@page "/floor-plans/the-santee"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheSanteeModel
@{
    ViewData["Title"] = "The Santee";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Santee
    </h1>
    <p>The <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> Santee is a custom home we designed for a couple about to retire to the Owyhee Desert for some quiet and peaceful living. This home has a open floor plan with a Main Level Owner's Suite. The Upper Level accomodates the guests and open area for a home office. Sunsets from the Lookout Level will be unbeatable over the desert. This Level will also be a fun hideout for the Grandkids.</p>
    <p>
        3,114 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-santee.jpg" />
        </p>
        <h2>
            First Floor - 3114 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-santee.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-santee.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
