@page "/floor-plans/the-shasta"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheShastaModel
@{
    ViewData["Title"] = "TheShasta";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Shasta
    </h1>
    <p>This <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> log home plan features 1 bd, 1 bath, single level. The Shasta is a 459 sf expandable cozy log cabin. Covered porches and gabled roof add to this log cabins charming appeal.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1516033257382">The Shasta Cabins Fly-Around Video</a></h2>
    <p>The Shasta Cabins are a series of cabins that were designed for a guest ranch in California. The property will have a main mess hall within walking distance, that is the reason for no kitchenettes. With some small changes these would make great little guest, retreat or hunting cabins. The simple shape is consistent through all the cabins with one of the three being larger. The various plan layouts could accommodate bunk style lodging, or more private double bedrooms. Let me know your feedback, we are always interested.</p>
    <p>
        459 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-shasta.jpg" />
        </p>
        <h2>
            First Floor - 459 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-shasta.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-shasta.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
