@page "/floor-plans/the-seneca"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheSenecaModel
@{
    ViewData["Title"] = "The Seneca";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Seneca
    </h1>
    <p>The <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> Seneca luxury log home.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1516020537064">The Seneca Fly-Around Video</a></h2>
    <p>The Seneca is a 5600 SF 3 bedroom home with a 850 SF office detached from the home. We worked with this home owner through the design phase to incorporate all of the program elements that they were looking for. At only three bedrooms this home has a big impact with two studies, a library and exercise room just off of the Owner&rsquo;s Suite, south side sun rooms on two stories and a large media room and sauna adjacent to a central rec. room. This homeowner worked from home so a detached office was important so they could remove themselves from work with a little distance, rather than the office being right in the home. Through a structured Design Phase we worked with this client&rsquo;s inspirations and requirements to develop a plan that fit their needs.</p>
    <p>From the soaring ceilings, elevated windows, formal dining room with walls of windows, and refined design of the commanding fireplace in the great room overlooking the very dramatic back view scene. The Seneca exudes a grad style. The unique window theme continues into the family room and adjoining kitchen and dining areas resulting in a log home bathed in warm glow of sunlight. The master suite offers everything you&rsquo;ve always wanted. You&rsquo;ll find this home loaded with all the latest design ideas.</p>
    <p>
        5,627 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-seneca.jpg" />
        </p>
        <h2>
            First Floor - 5627 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-seneca.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-seneca.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
