@page "/floor-plans/the-tioga"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheTiogaModel
@{
    ViewData["Title"] = "The Tioga";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Tioga
    </h1>
    <p>This <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> luxury log homes plan features 4 bedroom 3.5 bath, single level plan with basement/garage. The Tioga is 2988 sf with two master suites. As you enter this excitingly spacious log home you see through the extensive windows to the back yard. A gabled entry with open web trusses enhance this log home plan. Vaulted ceilings and an open interior design create a spacious feeling. This log home design is sure to be the showpiece of the neighborhood, with its captivating blend of traditional and contemporary features.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1516034217406">The Tioga Fly-Around Video</a></h2>
    <p>The Tioga is a contemporary home with timber accents. This home has approximately 1000 sf on the lower level and 2000 sf on the main level. The wing shaped plan adds an element of privacy to the bedroom wings while increasing the view potential.</p>
    <p>
        2,988 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-tioga.jpg" />
        </p>
        <h2>
            First Floor - 2988 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-tioga.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-tioga.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
