@page "/floor-plans/the-ventura"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheVenturaModel
@{
    ViewData["Title"] = "The Ventura";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Ventura
    </h1>
    <p>This <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> luxury log home plan features 3991 sf including 4+ bedrooms, 4.5 bath, formal dining room, attached 3 car garage, 1.5 stories with daylight basement.</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1516038097503">The Ventura Fly-Around Video</a></h2>
    <p>The Ventura is a hybrid timberframe home that we are designing for a Colorado client. This home is designed for off-site construction. Some unique features are a his and hers bath, full media room on the Lower Level and a view window through the kitchen from the entry. There is also potential for a bonus bedroom above the garage.</p>
    <p>The Ventura has a unique contemporary design. This log homes gains character from its dormers, arches, gables, porches, decks, and wrapping the front porch. The dramatic entry is framed by glass sidelights. The master suite offers everything you&rsquo;ve always wanted including a exercise room and separate getaway room. The Ventura is a design masterpiece that speaks of sophisticated living. The gourmet kitchen and nook, featuring a wonderful layout is perfect for large-scale entertainment or intimate family gatherings. This plan radiates a warm comfortable feeling through its bright open design.</p>
    <p>
        3,992 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-ventura.jpg" />
        </p>
        <h2>
            First Floor - 3992 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-ventura.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-ventura.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
