@page "/floor-plans/the-willow"
@model BA.AvalonLogHomes.Pages.FloorPlans.TheWillowModel
@{
    ViewData["Title"] = "The Willow";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        The Willow
    </h1>
    <p>The <a href="http://www.gravitaslc.com/">Gravitas, Inc. Series</a> Willow</p>
    <h2><a href="http://www.facebook.com/video/video.php?v=1516040217556">The Willow Fly-Around Video</a></h2>
    <p>The Willow is a log guest home that we designed for a client in New Mexico. This cozy 2 bedroom cottage features an upstairs master suite with a private balcony and open loft. A convenient mudroom off the kitchen make for great storage and laundry facilities. A long covered porch over the entry will be a favorite gathering place for friends and family year round.</p>
    <p>
        1,427 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/the-willow.jpg" />
        </p>
        <h2>
            First Floor - 1427 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/the-willow.jpg" />
        </p>
        <h2>
            Second Floor
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/the-willow.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
