@page "/floor-plans/tiburon"
@model BA.AvalonLogHomes.Pages.FloorPlans.TiburonModel
@{
    ViewData["Title"] = "Tiburon";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Tiburon
    </h1>
    <p>
        THE TIBURON OF THE LUXURY LOG HOMES SERIES BY AVALON LOG HOMES. ENTER THIS CAPTIVATING LUXURY LOG HOME FEEL THE GRANDEUR... TOP  QUALITY  CONSTRUCTION AND DESIGN. THIS HOME FEATURES: 5068 S.F. 4 BEDROOMS 3.5 BATHS, DEN, STUDY,  LIVING AND DINING. COMBINING THE GREAT ROOM WITH WALL OF GLASS PROW, DINING AREA AND LARGE GOURMET KITCHEN TOGETHER PROVIDES OPENNESS FOR FAMILY AND PERFECT FOR ENTERTAINING.
        GORGEOUS  MASTER BATH, FEATURING WALK-IN SHOWER, JETTED TUB AND DOUBLE VANITY. TERRIFIC DOUBLE WALK-IN CLOSETS. THIS HOME HAS A VIEW FROM ALL AREAS WITH ITS USE OF WINDOWS. OUT BACK OFF THE KITCHEN ENJOY THE SUMMER EVENINGS ON THE LARGE COVERED PATIO. LOOK OVER THIS GREAT FLOOR PLAN WITH LOTS OF COVERED PORCHES. SEE HOW LIVEABLE THIS HOME IS.

    </p>
    <p>
        5,068 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/tiburon.jpg" />
        </p>
        <h2>
            First Floor - 3222 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/tiburon.jpg" />
        </p>
        <h2>
            Second Floor - 1846 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/tiburon.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
