@page "/floor-plans/timber-line"
@model BA.AvalonLogHomes.Pages.FloorPlans.TimberLineModel
@{
    ViewData["Title"] = "Timber Line";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Timber Line
    </h1>
    <p>
        The Timberline of the Luxury Log Homes Series by Avalon Log Homes is a 2,758 sf log home with 3 bedrooms and 2.5 baths, 1.5 story with open loft. Interesting gables and dormers accent the exterior of this contemporary log home. The first floor features a popular open floor plan with a great room with prow which includes a wall of windows for great views and a stunning fireplace. The kitchen features lots of cabinets with a eating bar is designed for entertaining. Inside, the well-integrated main living areas are geared for the views out the great room, which is the perfect complement to the views beyond. This plan features lots of decks and covered porches. This plan can be designed to fit over a daylight basement.
    </p>
    <p>
        2,s758 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/timber-line.jpg" />
        </p>
        <h2>
            First Floor - 2190 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/timber-line.jpg" />
        </p>
        <h2>
            Second Floor - 568 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/timber-line.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
