@page "/floor-plans/trent-meadow-creek"
@model BA.AvalonLogHomes.Pages.FloorPlans.TrentMeadowCreekModel
@{
    ViewData["Title"] = "Trent Meadow Creek";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Trent - Meadow Creek
    </h1>
    <p>The Trent Meadowcreek features 3 bedroom, 2 bath, open loft, 1.5 stories with basement/garage. Vaulted ceilings and an open interior design create a spacious feeling. The kitchen, dining &amp; living areas flow together which proves to be functional and elegant. The family room with a huge full glass prow is enhanced by a stunning fireplace. Inside, the well-integrated main living areas are geared for the views out the prow, which is the perfect complement to the views beyond. The large upstairs master bedroom suite is situated for extra privacy. The master suite offers everything you&rsquo;ve always wanted. You&rsquo;ll find this home loaded with all the latest design ideas.</p>
    <p>See a video of this log home at <strong><a href="http://www.youtube.com/watch?v=qV-0PrsKKl4">http://www.youtube.com/watch?v=qV-0PrsKKl4</a></strong></p>
    <p>
        1,728 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/trent-meadow-creek.jpg" />
        </p>
        <h2>
            First Floor - 1324 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/trent-meadow-creek.jpg" />
        </p>
        <h2>
            Second Floor - 404 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/trent-meadow-creek.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
