@page "/floor-plans/trescott"
@model BA.AvalonLogHomes.Pages.FloorPlans.TrescottModel
@{
    ViewData["Title"] = "Trescott";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Trescott
    </h1>
    <p>
        This custom log home is 3bd, 3 bath, loft, two story with garage.This plan at houseplan.com
    </p>
    <p>
        2,650 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/trescott.jpg" />
        </p>
        <h2>
            First Floor - 2500 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/trescott.jpg" />
        </p>
        <h2>
            Second Floor - 1150 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/trescott.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
