@page "/floor-plans/turgate"
@model BA.AvalonLogHomes.Pages.FloorPlans.TurgateModel
@{
    ViewData["Title"] = "Turgate";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Turgate
    </h1>
    <p>
        The Turgate is 1861 sf custom log home with 2bd, 2 bath two story. This home has clean contemporary lines with the integration of timber elements to create a mountain modern style. The upstairs master bedroom suite offers an exciting oval tub and separate shower, as well as extra closet space. This log home design is sure to be the showpiece of the neighborhood, with its captivating blend of traditional and contemporary features.
    </p>
    <p>
        1,200 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/turgate.jpg" />
        </p>
        <h2>
            First Floor - 1200 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/turgate.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
