@page "/floor-plans/valmont"
@model BA.AvalonLogHomes.Pages.FloorPlans.ValmontModel
@{
    ViewData["Title"] = "Valmont";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Valmont
    </h1>
    <p>
        This custom log home is 4bd, 2.5 bath two story. This inviting Craftsman home is packed with great features. The front and rear covered porches add plenty of usable outdoor living space. Expansive great room includes a vaulted ceiling as well as built-in cabinets and a gas fireplace. The spacious kitchen features an large island with a large eating bar and breakfast area. The hall bath is located for convenience. The main level master bedroom opens into the well-equipped bath with dual lavatories, oversized shower, and large walk-in closet. This is a very flexible home with plenty of options to choose from. Make this your family's next home!
    </p>
    <p>
    <p>
        2,088 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/valmont.jpg" />
        </p>
        <h2>
            First Floor - 1260 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/valmont.jpg" />
        </p>
        <h2>
            Second Floor - 828 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/valmont.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
