@page "/floor-plans/waterstone"
@model BA.AvalonLogHomes.Pages.FloorPlans.WaterstoneModel
@{
    ViewData["Title"] = "Waterstone";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Waterstone
    </h1>
    <p>
        This custom log home is 4bd, 3.5 bath, dbl masters, two story. The floor plan features great room/living room, loft / balcony, upstairs master bdrm, covered rear porch, suited for view lot, hobby/rec room/game room, walk-in closet, daylight basement, peninsula/eating bar, volume/vaulted ceiling, main floor master bed &amp; bath, covered front porch, storage area, 2 master suites, nook/breakfast area/dining, family room/keeping room, den/office/study/computer, open floor plan.This plan at houseplan.com
    </p>
    <p>
        2,883 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/waterstone.jpg" />
        </p>
        <h2>
            First Floor - 1622 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/waterstone.jpg" />
        </p>
        <h2>
            Second Floor - 1261 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/waterstone.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
