@page "/floor-plans/white-pine"
@model BA.AvalonLogHomes.Pages.FloorPlans.WhitePineModel
@{
    ViewData["Title"] = "White Pine";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        White Pine
    </h1>
    <p>
        The White Pine is one of our most popular log homes. Vaulted ceilings and an open interior design create a spacious feeling. The kitchen, dining & living areas flow together which proves to be functional and elegant. This 3 bedroom, 2 bath, 2bd, loft, 2 story plan offers all the extra special touches. The family room with a huge full glass prow is enhanced by a stunning fireplace. Inside, the well-integrated main living areas are geared for the views out the prow, which is the perfect complement to the views beyond. The loft can be made into additional bedrooms or left open. Plan Changes can be made to fit you needs.
    </p>
    <p>
        1,019 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/white-pine.jpg" />
        </p>
        <h2>
            First Floor - 675 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/white-pine.jpg" />
        </p>
        <h2>
            Second Floor - 344 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/white-pine.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
