@page "/floor-plans/windriver"
@model BA.AvalonLogHomes.Pages.FloorPlans.WindriverModel
@{
    ViewData["Title"] = "Windriver";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Windriver
    </h1>
    <p>
        This custom log home is 2777 sf, 4bd, 3 bath two story. The floor plan features suited for view lot, covered entry, large peninsula/eating bar, 2 bds on main level/ master and 4th bedroom upstairs, walk-in closet, nook/breakfast area/mudroom/ lots of glass and stunning fireplace. Plan is shown with optional basement/drive under garage.
    </p>
    <p>
        2,777 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/windriver.jpg" />
        </p>
        <h2>
            First Floor - 1832 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/windriver.jpg" />
        </p>
        <h2>
            Second Floor - 945 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/windriver.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
