@page "/floor-plans/windsor"
@model BA.AvalonLogHomes.Pages.FloorPlans.WindsorModel
@{
    ViewData["Title"] = "Windsor";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Windsor
    </h1>
    <p>
        This Log Home plan features large great room with lots of prow glass with nearby kitchen and dining. Included is 1896 sf, 3 Bdrm, 2 Bath, 1.5 stories with optional garage. Interesting decks, gables and dormers accent the exterior of this log home. The floor plan features suited for view lot, suited for vacation home, volume/vaulted ceiling, storage area, great room/living room, loft / balcony, upstairs master bdrm, walk-in closet, daylight basement, open floor plan.This plan at houseplan.com
    </p>
    <p>
        1,896 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/windsor.jpg" />
        </p>
        <h2>
            First Floor - 1202 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/windsor.jpg" />
        </p>
        <h2>
            Second Floor - 694 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/windsor.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
