@page "/floor-plans/winterbirch"
@model BA.AvalonLogHomes.Pages.FloorPlans.WinterBirchModel
@{
    ViewData["Title"] = "WinterBirch";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Winterbirch
    </h1>
    <p>
        This custom home is 5bd, 4 bath two story with garage.
    </p>
    <p>
        3,392 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/winterbirch.jpg" />
        </p>
        <h2>
            First Floor - 2592 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/winterbirch.jpg" />
        </p>
        <h2>
            Second Floor - 800 ft<sup>2</sup>
        </h2>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
