@page "/floor-plans/woodlawn"
@model BA.AvalonLogHomes.Pages.FloorPlans.WoodlawnModel
@{
    ViewData["Title"] = "Woodlawn";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Woodlawn
    </h1>
    <p>
        The Woodlawn custom log home is 1955 sf 3bd, 2 bath two story. Enjoy a very private second floor master suite complete with a walk-in closet, jacuzzi tub and shower, loft area, and an abundance of natural light. The kitchen opens to a formal dining room scaled perfectly for big family gatherings. The spacious great room with a prow wall of glass looks out into front yard view. On the main level you will find two equally sized bedrooms that share a bathroom. This log home design is sure to be the showpiece of the neighborhood, with its captivating blend of traditional and contemporary features.
    </p>
    <p>
    <p>
        1,955 square feet total.
    </p>
    <p>
        <a href="/log-cabin-floor-plans">View all floor plans</a>
    </p>
    <div class="floor_plan">
        <h2>
            Rendering
        </h2>
        <p>
            <img src="/images/floor-plans/rendering/woodlawn.jpg" />
        </p>
        <h2>
            First Floor - 1423 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/first-plan/woodlawn.jpg" />
        </p>
        <h2>
            Second Floor - 532 ft<sup>2</sup>
        </h2>
        <p>
            <img src="/images/floor-plans/second-plan/woodlawn.jpg" />
        </p>
        <p>
            <a href="/log-cabin-floor-plans">View all floor plans</a>
        </p>
    </div>
</div>
