@page "/custom-homes-designs"
@model BA.AvalonLogHomes.Pages.AvalonCustomHomesModel
@{
    ViewData["Title"] = "Avalon CustomHomes";
    ViewData["Description"] = "For more than 30 years, Avalon's New Homes Idaho team has grown and thrived by following one simple, straightforward mission - helping families...";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <a href="/custom-homes-designs">
        <img src="/images/nav-left/custom-homes.png" alt="Custom Homes" />
    </a>
    <a href="/log-cabin-floor-plans">
        Floor Plans
    </a>
    <a href="/custom-homes-photo-gallery-galleries">
        Photo Gallery
    </a>
    <a href="/designing-custom-homes-green-hybrid">
        Design Services
    </a>
    <a href="/construction-management-projects">
        Construction Management
    </a>
    <a href="/green-building-standards">
        Green Building Standards
    </a>
    <a href="/energy-management-services">
        Energy Management Services
    </a>
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Custom Homes
    </h1>
    <p>
        For more than 30 years, Avalon's New Homes Idaho team has grown and thrived by following one simple, straightforward mission - helping families realize the American dream of owning a home in Idaho all over the Treasure Valley.
    </p>
    <p>
        Our Idaho-based company traces its roots back to Boise, where we first earned our strong reputation for quality construction, unmatched customer service, and a never-ending commitment to excellence throughout the homebuilding process. Central to who we are is Avalon's' set of values: Honesty, Integrity, Trust and Respect, Teamwork, Excellence, and Continuous Improvement. The company is managed to these values and works to hold everyone accountable to living these values in everything we do.
    </p>
    <p>
        Homeowners have entrusted Avalon Enterprises with one of the most important investments of their lifetime, and we have not only met, but exceeded their expectations. Loyalty and customer satisfaction are the top priorities for every member of our team, and the desire to succeed in this mission has allowed Avalon's team to help over 500 families.
    </p>
    <p>
        There are few milestones in life as significant and memorable as home ownership, and Avalon looks forward to building and delivering the home of your dreams.
    </p>
    <p>
        Our Idaho Homes are not mass-produced; careful attention is given to all aspects of site selection, design and construction. We pride ourselves on our high standards of quality and use only the best materials and craftsmen. For this reason you can be sure that your home will be exceptional.
    </p>
    <p>
        Dealing with one entity through the design, costing and construction phase of a custom built home insures continuity of concept with fewer misunderstandings between the builder and the client. Not having to transfer the thought process from designer to contractor saves time and limits the potential for mistakes. This will save you money.
    </p>
    <p>
        Avalon's numerous floor plans and interior and exterior design options and upgrades offer you endless flexibility in creating the perfect environment for your family. Our floor plans can be designed for either log homes or conventionally constructed homes.
    </p>
    <p>
        Avalon Custom Homes uses its innovative program to distinguish itself from other homebuilders in the market. While other builders offer limited "pre-packaged" options on their homes, Avalon homeowners enjoy the personalization of a custom home, designed around your unique needs and wants, with the affordability you'd get from a production homebuilding company. Our exclusive system allows you to select a plan and adapt it to your individual lifestyle and needs.
    </p>
    <p>
        As a part of the Avalon experience you will have alongside you a team of professionals throughout the homebuilding process. This team of professionals is dedicated to addressing your needs before, during, and after your home is built.
    </p>
    <p>
        Avalon Enterprises long-standing relationships with top subcontractors are a major facet in their success. The highest level of attention is paid to the smallest details in every home. Always taking the extra step to ensure customer satisfaction, Avalon strives to provide superior customer service at all times and in all ways. They take great pride in their endeavor to incorporate the latest and finest construction techniques and highest quality products into each and every home they build.
    </p>
    <p>
        Avalon uses a similar payment as its construction management division. At Avalon Enterprises, we take pride in offering the construction management method of construction to our residential clients. The books are open for you to review everything. All bills are paid though the homeowner direct, by their bank or title company, or their representative to each subcontractor or supplier in monthly prepared draw requests. This insures that your money goes to pay the bills directly for your house. No payment to a builder who may use your money to pay costs on a totally unrelated other project.
    </p>
    <p>
        This is the best and safest method of payment verification and peace of mind.
    </p>
    <p>
        For more information on Avalon Custom Homes services, call us at 208-467-6098, or fill out our <a href="/contact-information">online contact form</a>
    </p>
    <p>
        For a video of some of our homes click: <strong><a href="http://www.youtube.com/watch?v=AnVzkRFFE6U">Video: Treasure Valley Homes in Idaho by Avalon Custom Homes</a></strong>
    </p>
    <p>
        Join our facebook page - Treasure Valley Homes at <strong><a href="http://www.facebook.com/profile.php?id=100002103015629">http://www.facebook.com/profile.php?id=100002103015629</a></strong>
    </p>
    <h3>
        <em>Avalon Custom Homes, division of Avalon Enterprises builds conventional homes in the Treasure Valley in Idaho. For some of the homes built in the Boise, Nampa, and Caldwell, Idaho area, you can view custom home photos at</em> <a href="http://www.box.net/shared/sb4ro5v44x">http://www.box.net/shared/sb4ro5v44x</a>
    </h3>
    <h3>
        <em>For floor plans of these homes, please go to our site and see the Traditional Custom Homes Plans at the bottom of our floor plans link &nbsp;at</em> <a href="../log-cabin-floor-plans">http://www.avalonloghomes.com/log-cabin-floor-plans</a>
    </h3>
    <p>
        &nbsp;
    </p>
</div>
