@page "/avalon-brochure"
@model BA.AvalonLogHomes.Pages.AvalonBrochureModel
@{
    ViewData["Title"] = "Avalon Brochure";
    ViewData["Description"] = "Avalon Brochures. &amp;nbsp; Thank you for your interest in Avalon Log Homes Avalon Log Homes 2 page Flier Avalon Log Homes Spring 2015...";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Avalon Brochures
    </h1>
    <div style="margin-left: 300px;">
        <p>
            &nbsp;
        </p><a href="documents/avalon-brochures/thankyou.pdf">Thank you for your interest in Avalon Log Homes</a>
    </div>
    <div style="margin-left: 300px;">
        <p>
            <a href="http://www.slideshare.net/Cpond/avalon-log-homes-flier">Avalon Log Homes 2 page Flier</a>
        </p><a href="http://www.slideshare.net/Cpond/avalon-log-homes-spring-2015-newsletter">Avalon Log Homes Spring 2015 Newsletter</a>
        <p>
            <a href="http://www.slideshare.net/Cpond/avalon-log-homes-overview-2014">Avalon Log Homes Overview</a>
        </p>
        <p>
            <a href="http://www.slideshare.net/Cpond/avalon-log-homes-construction-manual">Avalon Log Homes Construction Manual</a>
        </p>
        <p>
            <a href="documents/avalon-brochures/floorplans.pdf">Avalon Log Homes Floor Plans</a>
        </p>
        <p>
            <a href="log-cabin-floor-plans">Follow this link to view our floor plans</a>
        </p>
    </div>
    <p>
        &nbsp;
    </p>
</div>
