@page "/construction-management-projects-bak"
@model BA.AvalonLogHomes.Pages.AvalonConstructionManagementModel
@{
    ViewData["Title"] = "Avalon Construction Management";
    ViewData["Description"] = "At Avalon Enterprises we know the requirements a Client must endure when beginning a Project. As a layman it is often difficult to...";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationPrimaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Construction Management
    </h1>
    <p>
        At Avalon Enterprises we know the requirements a Client must endure when beginning a Project. As a layman it is often difficult to make the necessary decisions as to who you hire and where to find them. We can guide you through this process. With a group of Professionals from every area of design and construction for both log homes, luxury log homes, and conventionally framed custom homes, we can give you the tools and knowledge to make those decisions. You are never obligated to use a member of our team. However, our prices and the expertise and skills with which we work will probably induce you to use all our services...
    </p>
    <p>
        <strong>We look forward to making your home building project a Smooth and Enjoyable Experience.</strong>
    </p>
    <p>
        The Avalon Group offers the option of professional construction management services that are tailored to the size and complexity of any given project-and backed by our commitment to total quality management.
    </p>
    <p>
        At Avalon Enterprises, we take pride in offering the construction management method of construction to our residential clients. The books are open for you to review everything. All bills are paid though the homeowner direct, by their bank or title company, or their representative to each subcontractor or supplier. This insures that your money goes to pay the bills directly for your house. No payment to a builder who may use your money to pay costs on a totally unrelated other project.
    </p>
    <p>
        This is the best and safest method of payment verification and peace of mind.
    </p>
    <p>
        On home building projects, Avalon's construction management services typically begin during design, and include:
    </p>
    <ul>
        <li>
            Floor plan selection
        </li>
        <li>
            Design coordination including architectural and engineering
        </li>
        <li>
            Building permit acquisition
        </li>
        <li>
            Schedule and budget evaluations
        </li>
        <li>
            Value engineering
        </li>
        <li>
            Constructability reviews
        </li>
        <li>
            Accuracy checks on cost estimates
        </li>
        <li>
            Weighing project alternatives
        </li>
        <li>
            Soliciting &amp; awarding bid packages for lowest cost construction
        </li>
        <li>
            Monitoring and coordinating daily construction activities
        </li>
        <li>
            Maintaining subcontractor insurance binders for complete insurance coverage
        </li>
        <li>
            Obtaining, reviewing, and approving monthly subcontractor &amp; supplier invoicing
        </li>
        <li>
            Preparing and maintaining monthly draw requests and reports
        </li>
        <li>
            Obtaining lien releases from all vendors for the job payments
        </li>
        <li>
            Preparing final project reports
        </li>
        <li>
            Assisting with project closeout and warranty follow-up
        </li>
    </ul>
    <p>
        Avalon's construction engineering and inspection services personnel are experts in monitoring the quality of construction work and documenting the materials, labor and equipment used.
    </p>
    <p>
        The Avalon Group understands the importance of clear, concise and complete construction documents for competitive bidding. Budgets become a reality at the bidding phase of a project. Bidding phase services include developing bid documents and technical specifications, soliciting bids, evaluating bids and recommending award of a contract. Our staff has thorough knowledge of AIA and EJCDC construction documents, as well as master format specifications.
    </p>
    <p>
        Establishing lines of communication, document control and clear expectations between the owner, Architect/Engineer and the contractor are vital to the success of a project. Specific services we provide include executing contracts, obtaining permits, coordinating meetings, processing change orders, approving pay applications and coordinating acceptance by authorities having jurisdiction.
    </p>
    <p>
        The Avalon Group possesses knowledgeable inspection staff with expertise in building, site and infrastructure construction. Depending on the needs of the project, we can provide part-time to full-time resident observation to report daily activities, verify plan and specification compliance, monitor work progress for schedule compliance and troubleshoot construction issues as they occur.
    </p>
    <p>
        The Avalon Group CM staff has the expertise to review plans and specifications for constructability, completeness and general code compliance. This has proven very valuable to reviewing agencies with limited staff, and lending institutions requiring third party reviews prior to loan commitments.
    </p>
    <p>
        As construction manager, Avalon has successfully delivered many projects built in the United States. As a result of this experience, we've developed a unique reservoir of skills with which to support our clients.
    </p>
    <p>
        For more information about our optional construction management services, <a href="/contact-information">contact us via our online form</a> or call 208-467-6098.
    </p>
    <p>
        Avalon Enterprises is a registered Contractor
    </p>
    <p>
        License # RCT-24792
    </p>
    <p>
        &nbsp;
    </p>
</div>
