@page "/custom-builders"
@model BA.AvalonLogHomes.Pages.AvalonLogHomesModel
@{
    ViewData["Title"] = "Custom Log Homes";
    ViewData["Description"] = "Avalon Log Homes offers a full line of design, manufacturing, construction or construction management services for luxury log homes, log homes, log cabins,...";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Avalon Log Homes
    </h1>
    <p>
        Avalon Log Homes offers a full line of design, manufacturing, construction or construction management services for luxury log homes, log homes, log cabins, log cabin kits, log home plans, handcrafted log homes, and timber frame homes.
    </p>
    <p>
        Avalon Log Homes, a division on Avalon Enterprises, is your first step to building your dream Log Home.
    </p>
    <p>
        You can click on any of our navigation links shown on the left. While you are here check out our log home floor plans and our updated log home photo galleries. You'll find a wealth of free information about log homes, log home research, log home construction, log home design information, and log home financing help.
    </p>
    <p>
        You can request a custom quote for one of our plans or send us yours for a quote. We'll help you through the whole construction process if you desire.
    </p>
    <p>
        <a href="/contact-information">Contact Us</a>
    </p>
</div>
