@page "/dealers-locations"
@model BA.AvalonLogHomes.Pages.BecomeADealerModel
@{
    ViewData["Title"] = "Become a Dealer";
    ViewData["Description"] = "Avalon Log Homes Dealer Program. Being an Avalon Log Homes authorized dealer means that you are part of one of the fastest growing...";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationPrimaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Avalon Log Homes Dealer Program
    </h1>
    <p>
        Being an Avalon Log Homes authorized dealer means that you are part of one of the fastest growing companies in the log home industry. It also means that you have an entrepreneurial spirit that drives you to achieve top performance in just about anything you do.
    </p>
    <p>
        Simply stated, dealers are Avalon Log Homes most valuable assets. It is our firm belief that Avalon Log Homes success can only be measured by the individual accomplishments of our dealers. As such, we are absolutely dedicated to dealer support and to building the finest sales program in the business; one that's expertly designed to help dealers (new and old) realize their full potential.
    </p>
    <p>
        If you believe you have what it takes to be an Avalon Log Homes dealer,
        <br />
        please submit our <a href="/contact-information">Contact Form.</a>
        <br />
        Please post the phrase ("Dealer Interest") in the comment box.
    </p>
    <p>
        An Avalon Log Homes representative will contact you shortly to discuss the specifics of our Avalon Log Homes dealership opportunity. Thank You
    </p>
</div>
