@page "/designing-custom-homes-green-hybrid"
@model BA.AvalonLogHomes.Pages.DesignServicesModel
@{
    ViewData["Title"] = "Design Services";
    ViewData["Description"] = "Just the thought of a log home brings to mind thoughts of relaxation and freedom. Whether your log home is overlooking a sparkling lake,...";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationPrimaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Design Services
    </h1>
    <p>Just the thought of a log home brings to mind thoughts of relaxation and freedom. Whether your log home is overlooking a sparkling lake, snuggled into a mountain valley, or just surrounded by the simple glory of nature herself, a log home adds the final touch to that special place you want to call home...an inviting home which radiates warmth and security where your family and friends can gather around the blazing fireplace to enjoy each others' company.</p>
    <p>At Avalon Log Homes we believe there is no such thing as a perfect log home plan. Though we pride ourselves on having the finest standard plans in the industry, we realize that your dream home is just that- the home of your dreams (not ours).&nbsp; We offer a full design service where you can create your own custom designed home, incorporating the uniqueness and individual needs of your family into the design Because we understand your need to personalize your log home design, Avalon Log Home&rsquo;s expert team of designers, architects, and engineers are at your service to ensure that your log home meets each of your exacting requirements.</p>
    <p>Once you have chosen Avalon Log Homes, you are ready to begin crafting the home of your dreams. Designing the log home to your expectations is a challenging and exciting process. Let us help you work through the steps to make it as rewarding an experience as possible. Designing your own home is a fun and creative process that will involve many decisions. The first and most important step is deciding where to place the house on your property via a <strong>Site Review</strong>. Someone from our team will meet with you to view your building site or if a site meeting is not possible, then photographs and a plat of your site may be viewed instead.</p>
    <p>Next, we work together with you to create a list of the many features and details you want in your new home. Many of our customers provide us with a sketch of their future home that we use to draw computer generated <strong>Conceptual Drawings</strong> which are easily modified and revised until you&rsquo;re satisfied with the results. As you share your ideas and visions, we will create a plan that is a reflection of your lifestyle, your creativity and your budget. Avalon Log Homes is prepared to devote as much time as needed in this phase to develop your design ideas through a clear and thoughtful review and to provide you with the attention your new log home deserves. If you need some ideas to help get you started, you can visit our portfolio of log home floor plans to provide you with several plans that can be customized to suit your specific needs.</p>
    <p>From there we create <strong>Preliminary Drawings</strong>. This second phase of planning will include drafting preliminary floor plans and elevations, which will enable you to start seeing the design of your log home take shape in a professional design format that can be reviewed and revised once without any additional charge. Once approved, we will provide you with a preliminary budget for the construction of this home.</p>
    <p>Once your final design decisions have been made, we draft your new home&rsquo;s <strong>Final Construction Drawings</strong> using CAD (Computer Assisted Design) technology, and provide you with a set of architectural drawings, including: Elevations, Foundation Plan, Floor Plans, Floor Framing Plans, Wall Framing Plans, Roof Framing Plans, Sectionals, Electrical Plans and a set of Structural Details. These will show you all the details of your new log home. You may alter the electrical plans to suit your specific requirements. Once Finals are completed and approved will we provide you with the final material package quotes that will be used to produce your log home, unique to you and crafted to your specific needs. If stamped architectural or engineering is required per the local codes in your area, we have a team of those licensed professionals available to complete that requirement.</p>
    <p>For more information on our design services, email us at <a href="mailto:clarencepond@gmail.com">clarencepond@gmail.com</a> or call 208-467-6098.</p>
    <p>&nbsp;</p>
</div>
