@page "/energy-management-services"
@model BA.AvalonLogHomes.Pages.EnergyManagementServicesModel
@{
    ViewData["Title"] = "EnergyManagementServices";
    ViewData["Description"] = "EnergyManagementServices";
    ViewData["Keywords"] = "EnergyManagementServices";
}
<div id="nav_left">
    <a href="/custom-homes-designs">
        <img src="/style/images/nav-left/custom-homes.png" alt="Custom Homes" />
    </a>
    <a href="/log-cabin-floor-plans">
        Floor Plans
    </a>
    <a href="/custom-homes-photo-gallery-galleries">
        Photo Gallery
    </a>
    <a href="/designing-custom-homes-green-hybrid">
        Design Services
    </a>
    <a href="/construction-management-projects">
        Construction Management
    </a>
    <a href="/green-building-standards">
        Green Building Standards
    </a>
    <a href="/energy-management-services">
        Energy Management Services
    </a>
</div>
<div id="content">
    <partial name="_SandbagPartial" />
    <h1>
        Green Building Standards
    </h1>
    <p>
        <strong>Avalon Enterprises &amp; its Divisions support the Green Building Standards</strong>
    </p>
    <p>
        We support using renewable resources and natural products in the construction &amp; design of our homes.
    </p>
    <p>
        We are a proponent of greening the built environment and also have goals to transform the way homes are designed, built and operated, enabling an environmentally and socially responsible, healthy, and prosperous environment that improves the quality of life. Using these principals many ways are available to do that by building homes that will cost less to live in for years to come. .
    </p>
    <p>
        Avalon follows state-of-the-art strategies in energy efficiency, resource selection, and indoor environmental quality. .
    </p>
    <p>
        Listed below are links to several sites concerning green building standards. .
    </p>
    <p>
        <strong>Green Building Organizations.</strong>
        <br />
        There are a number of organizations both government run and not, which are dedicated to the concepts of green living and energy conservation. Learn about green building and practices. .
    </p>
    <p>
        <a href="http://www.thegbi.org/"><strong>Green Building Initiative:</strong></a> The Green Building Initiative envisions a future in which energy-efficient, healthier and environmentally conscious construction is the norm instead of the exception.
    </p>
    <p>
        <a href="http://www.usgbc.org/"><strong>US Green Building Council:</strong></a> The U.S. Green Building Council (USGBC) is the nation&rsquo;s foremost coalition of leaders from every sector of the building industry working to promote buildings that are environmentally responsible, profitable and healthy places to live and work.
    </p>
    <p>
        <a href="http://www.energystar.gov/"><strong>Energy Star:</strong></a> ENERGY STAR is a joint program of the U.S. Environmental Protection Agency and the U.S. Department of Energy. Energy efficient choices can save families about a third on their energy bill with similar savings of greenhouse gas emissions, without sacrificing features, style or comfort. ENERGY STAR helps you make the energy efficient choice.&nbsp;
    </p>
    <p>
        <strong><a href="http://www.treefarmsystem.org/" target="_Blank">American Tree Farm System.</a></strong>
        <br />
        To promote the growing of renewable forest resources on private lands while protecting environmental benefits and increasing public understanding of all benefits of productive forestry.
    </p>
    <p>
        <a href="http://www.safnet.org/" target="_Blank"><strong>Society of American Foresters</strong>.</a>
        <br />
        Forest resources provide the raw materials for our homes, our workplaces, the books and newspapers we read, and the packaging that contains our food and other products of our labor.
    </p>
    <p>
        <strong><a href="http://www.fs.fed.us/" target="_Blank">US Forest Service.</a></strong>
        <br />
        Established in 1905, the Forest Service is an agency of the U.S. Department of Agriculture. The Forest Service manages public lands in national forests and grasslands.
    </p>
    <p>
        <strong>Green and Net Zero Energy Homes Information:</strong>
    </p>
    <ul>
        <li>
            <strong><a href="http://www.natresnet.org/about/resnet.htm" target="_blank">RESNET:</a></strong> A national standards making body for building energy efficiency rating systems.
        </li>
        <li>
            <strong><a href="http://www.energystar.gov/index.cfm?c=bldrs_lenders_raters.nh_HERS">The HERS Index</a></strong> - The HERS Index is a scoring system established by RESNET in which a home built to the specifications of the HERS Reference Home scores a HERS Index of 100, while a net zero ready house plan scores a HERS Index of 0.
        </li>
        <li>
            <strong><a href="http://www.usgbc.org/" target="_blank">U.S. Green Building Council</a>:</strong> You'll find comprehensive links from a non-profit community of leaders working to make green buildings available to everyone.
        </li>
        <li>
            <strong><a href="http://www.nahbgreen.org/">National Association of Home Builders (NAHB) Green Building Program</a>:</strong> Resources for NAHB members helping them move the practice of green building into the mainstream.
        </li>
        <li>
            <strong><a href="http://www.nahb.org/page.aspx/category/sectionID=127">The National Association of Home Builders - Consumer Resources</a>:</strong> Resources for the general public regarding green, energy-efficient and sustainable construction and remodeling.
        </li>
        <li>
            <strong><a href="http://www.thegbi.org/" target="_blank">Green Building Initiative</a>:</strong> A not for profit organization whose mission is to accelerate the adoption of building practices that result in energy-efficient, healthier and environmentally sustainable buildings by promoting credible and practical green building approaches for residential and commercial construction. .
        </li>
        <li>
            <strong><a href="http://www.epa.gov/greenbuilding/" target="_blank">U.S. E.P.A.Green Initiative</a>:</strong> The Environmental Protection Agencies collection of resources and information on green building.
        </li>
        <li>
            <strong><a href="http://en.wikipedia.org/wiki/Green_building" target="_blank">Wikipedia's Green Building Page</a>:</strong> Wikipedia does a nice job of collecting resources from across the Internet on Green Building.
        </li>
    </ul>
</div>
