@page "/log-cabin-floor-plans"
@model BA.AvalonLogHomes.Pages.FloorPlansModel
@{
    ViewData["Title"] = "Log Home Floor Plans";
    ViewData["Description"] = "Log Home Floor Plans At Avalon Log Homes we understand that having the right floor plan is a must for you. That is...";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Log Home Floor Plans
    </h1>
    <h4>
        Log Home Floor Plans
    </h4>
    <p>
        At Avalon Log Homes we understand that having the right floor plan is a must for you. That is why we have our own in house design team. This means that we are able to provide you with a fully customized floor plan that is <strong>exactly</strong> to your specifications. We are able to take a <strong>floor plan from any source</strong>, fine tune it to your needs and wishes to be the log home, log cabin, handcrafted, or timber frame home of your dreams. We can take a conventionally framed home and design it into a log home or vice versa to suite you needs. At the end of the design process we will produce working blue prints for you.
    </p>
    <p>
        We also offer <strong><a href="http://www.gravitaslc.com/">Gravitas, Inc.</a></strong> designs custom homes from high mountain to desert properties. The Gravitas team will provide innovative design, creative solutions, with attention to your needs. Their homes highlight simplicity of materials, the graceful path of the sun, the comfort of the occupants, and their movement in and through the spaces.
    </p>
    <p>
        Click below to view more details about any floor plan. We have them in four sections: Standard, Gravitas, Custom, and Custom Traditional. Any of these plans can be designed either as a log home or as a conventionally stick-built home.
    </p>
    <h2>
        Standard Log Home Plans
    </h2>
    <table class="floor_plans" style="width: 72%; position: relative; left: 10%;">

        <tr>
            <th>Square Feet</th>
            <th>Name</th>
            <th>Rendering</th>
        </tr>
        <tr>
            <td>760</td>
            <td><a href="/floor-plans/heath-ridge">Heath Ridge </a></td>
            <td><a href="/floor-plans/heath-ridge"><img src="/images/floor-plans/rendering/thumb/heath-ridge.jpg" alt="Heath Ridge " /></a></td>
        </tr>
        <tr>
            <td>768</td>
            <td><a href="/floor-plans/peekskill">Peekskill </a></td>
            <td><a href="/floor-plans/peekskill"><img src="/images/floor-plans/rendering/thumb/peekskill.jpg" alt="Peekskill " /></a></td>
        </tr>
        <tr>
            <td>960</td>
            <td><a href="/floor-plans/nester">Nester </a></td>
            <td><a href="/floor-plans/nester"><img src="/images/floor-plans/rendering/thumb/nester.jpg" alt="Nester " /></a></td>
        </tr>
        <tr>
            <td>1019</td>
            <td><a href="/floor-plans/white-pine">White Pine </a></td>
            <td><a href="/floor-plans/white-pine"><img src="/images/floor-plans/rendering/thumb/white-pine.jpg" alt="White Pine " /></a></td>
        </tr>
        <tr>
            <td>1035</td>
            <td><a href="/floor-plans/vista-garage-suite">Vista Garage-Suite</a></td>
            <td><a href="/floor-plans/vista-garage-suite"><img src="/images/floor-plans/rendering/thumb/vista-garage-suite.jpg" alt="Vista Garage-Suite" /></a></td>
        </tr>
        <tr>
            <td>1064</td>
            <td><a href="/floor-plans/birchwood">Birchwood </a></td>
            <td><a href="/floor-plans/birchwood"><img src="/images/floor-plans/rendering/thumb/birchwood.jpg" alt="Birchwood " /></a></td>
        </tr>
        <tr>
            <td>1086</td>
            <td><a href="/floor-plans/mountain-top">Mountain Top </a></td>
            <td><a href="/floor-plans/mountain-top"><img src="/images/floor-plans/rendering/thumb/mountain-top.jpg" alt="Mountain Top " /></a></td>
        </tr>
        <tr>
            <td>1182</td>
            <td><a href="/floor-plans/alpine">Alpine </a></td>
            <td><a href="/floor-plans/alpine"><img src="/images/floor-plans/rendering/thumb/alpine.jpg" alt="Alpine " /></a></td>
        </tr>
        <tr>
            <td>1246</td>
            <td><a href="/floor-plans/cedar-crest">Cedar Crest </a></td>
            <td><a href="/floor-plans/cedar-crest"><img src="/images/floor-plans/rendering/thumb/cedar-crest.jpg" alt="Cedar Crest " /></a></td>
        </tr>
        <tr>
            <td>1362</td>
            <td><a href="/floor-plans/lariat">Lariat </a></td>
            <td><a href="/floor-plans/lariat"><img src="/images/floor-plans/rendering/thumb/lariat.jpg" alt="Lariat " /></a></td>
        </tr>
        <tr>
            <td>1424</td>
            <td><a href="/floor-plans/willowcreek">Willowcreek </a></td>
            <td><a href="/floor-plans/willowcreek"><img src="/images/floor-plans/rendering/thumb/willowcreek.jpg" alt="Willowcreek " /></a></td>
        </tr>
        <tr>
            <td>1443</td>
            <td><a href="/floor-plans/snowflake">Snowflake </a></td>
            <td><a href="/floor-plans/snowflake"><img src="/images/floor-plans/rendering/thumb/snowflake.jpg" alt="Snowflake " /></a></td>
        </tr>
        <tr>
            <td>1499</td>
            <td><a href="/floor-plans/deertrail">Deertrail </a></td>
            <td><a href="/floor-plans/deertrail"><img src="/images/floor-plans/rendering/thumb/deertrail.jpg" alt="Deertrail " /></a></td>
        </tr>
        <tr>
            <td>1629</td>
            <td><a href="/floor-plans/las-alturas">Las Alturas </a></td>
            <td><a href="/floor-plans/las-alturas"><img src="/images/floor-plans/rendering/thumb/las-alturas.jpg" alt="Las Alturas " /></a></td>
        </tr>
        <tr>
            <td>1704</td>
            <td><a href="/floor-plans/aspen">Aspen </a></td>
            <td><a href="/floor-plans/aspen"><img src="/images/floor-plans/rendering/thumb/aspen.jpg" alt="Aspen " /></a></td>
        </tr>
        <tr>
            <td>1711</td>
            <td><a href="/floor-plans/clear-creek">Clear Creek </a></td>
            <td><a href="/floor-plans/clear-creek"><img src="/images/floor-plans/rendering/thumb/clear-creek.jpg" alt="Clear Creek " /></a></td>
        </tr>
        <tr>
            <td>1756</td>
            <td><a href="/floor-plans/pinehurst">Pinehurst </a></td>
            <td><a href="/floor-plans/pinehurst"><img src="/images/floor-plans/rendering/thumb/pinehurst.jpg" alt="Pinehurst " /></a></td>
        </tr>
        <tr>
            <td>1826</td>
            <td><a href="/floor-plans/oak-crest">Oak Crest </a></td>
            <td><a href="/floor-plans/oak-crest"><img src="/images/floor-plans/rendering/thumb/oak-crest.jpg" alt="Oak Crest " /></a></td>
        </tr>
        <tr>
            <td>1851</td>
            <td><a href="/floor-plans/saddlehorn">Saddlehorn </a></td>
            <td><a href="/floor-plans/saddlehorn"><img src="/images/floor-plans/rendering/thumb/saddlehorn.jpg" alt="Saddlehorn " /></a></td>
        </tr>
        <tr>
            <td>1917</td>
            <td><a href="/floor-plans/mesa-garage-suite">Mesa Garage-Suite</a></td>
            <td><a href="/floor-plans/mesa-garage-suite"><img src="/images/floor-plans/rendering/thumb/mesa-garage-suite.jpg" alt="Mesa Garage-Suite" /></a></td>
        </tr>
        <tr>
            <td>2114</td>
            <td><a href="/floor-plans/rio-verde">Rio Verde </a></td>
            <td><a href="/floor-plans/rio-verde"><img src="/images/floor-plans/rendering/thumb/rio-verde.jpg" alt="Rio Verde " /></a></td>
        </tr>
        <tr>
            <td>2119</td>
            <td><a href="/floor-plans/meadow-view">Meadow View </a></td>
            <td><a href="/floor-plans/meadow-view"><img src="/images/floor-plans/rendering/thumb/meadow-view.jpg" alt="Meadow View " /></a></td>
        </tr>
        <tr>
            <td>2124</td>
            <td><a href="/floor-plans/montana">Montana </a></td>
            <td><a href="/floor-plans/montana"><img src="/images/floor-plans/rendering/thumb/montana.jpg" alt="Montana " /></a></td>
        </tr>
        <tr>
            <td>2137</td>
            <td><a href="/floor-plans/ridge-crest">Ridge Crest</a></td>
            <td><a href="/floor-plans/ridge-crest"><img src="/images/floor-plans/rendering/thumb/ridge-crest.jpg" alt="Ridge Crest" /></a></td>
        </tr>
        <tr>
            <td>2155</td>
            <td><a href="/floor-plans/edgewood">Edgewood </a></td>
            <td><a href="/floor-plans/edgewood"><img src="/images/floor-plans/rendering/thumb/edgewood.jpg" alt="Edgewood " /></a></td>
        </tr>
        <tr>
            <td>2280</td>
            <td><a href="/floor-plans/springdale">Springdale </a></td>
            <td><a href="/floor-plans/springdale"><img src="/images/floor-plans/rendering/thumb/springdale.jpg" alt="Springdale " /></a></td>
        </tr>
        <tr>
            <td>2421</td>
            <td><a href="/floor-plans/maplewood">Maplewood </a></td>
            <td><a href="/floor-plans/maplewood"><img src="/images/floor-plans/rendering/thumb/maplewood.jpg" alt="Maplewood " /></a></td>
        </tr>
        <tr>
            <td>2620</td>
            <td><a href="/floor-plans/elk-ridge">Elk Ridge </a></td>
            <td><a href="/floor-plans/elk-ridge"><img src="/images/floor-plans/rendering/thumb/elk-ridge.jpg" alt="Elk Ridge " /></a></td>
        </tr>
        <tr>
            <td>2638</td>
            <td><a href="/floor-plans/eagles-nest">Eagles Nest </a></td>
            <td><a href="/floor-plans/eagles-nest"><img src="/images/floor-plans/rendering/thumb/eagles-nest.jpg" alt="Eagles Nest " /></a></td>
        </tr>
        <tr>
            <td>2757</td>
            <td><a href="/floor-plans/cimmeron">Cimmeron </a></td>
            <td><a href="/floor-plans/cimmeron"><img src="/images/floor-plans/rendering/thumb/cimmeron.jpg" alt="Cimmeron " /></a></td>
        </tr>
        <tr>
            <td>2758</td>
            <td><a href="/floor-plans/timber-line">Timber Line </a></td>
            <td><a href="/floor-plans/timber-line"><img src="/images/floor-plans/rendering/thumb/timber-line.jpg" alt="Timber Line " /></a></td>
        </tr>
        <tr>
            <td>2780</td>
            <td><a href="/floor-plans/spurcross-log-home">Spurcross Log Home</a></td>
            <td><a href="/floor-plans/spurcross-log-home"><img src="/images/floor-plans/rendering/thumb/spurcross-log-home.jpg" alt="Spurcross Log Home" /></a></td>
        </tr>
        <tr>
            <td>3068</td>
            <td><a href="/floor-plans/pinewood">Pinewood </a></td>
            <td><a href="/floor-plans/pinewood"><img src="/images/floor-plans/rendering/thumb/pinewood.jpg" alt="Pinewood " /></a></td>
        </tr>
        <tr>
            <td>4025</td>
            <td><a href="/floor-plans/river-birch">River Birch </a></td>
            <td><a href="/floor-plans/river-birch"><img src="/images/floor-plans/rendering/thumb/river-birch.jpg" alt="River Birch " /></a></td>
        </tr>
        <tr>
            <td>4401</td>
            <td><a href="/floor-plans/fall-creek">Fall Creek </a></td>
            <td><a href="/floor-plans/fall-creek"><img src="/images/floor-plans/rendering/thumb/fall-creek.jpg" alt="Fall Creek " /></a></td>
        </tr>
        <tr>
            <td>5068</td>
            <td><a href="/floor-plans/tiburon">Tiburon </a></td>
            <td><a href="/floor-plans/tiburon"><img src="/images/floor-plans/rendering/thumb/tiburon.jpg" alt="Tiburon " /></a></td>
        </tr>
    </table>
    <h2>
        Gravitas<sup style="font-size: .6em;">TM</sup> Plans
    </h2>
    <table class="floor_plans">

        <tr>
            <th>Square Feet</th>
            <th>Name</th>
            <th>Rendering</th>
        </tr>
        <tr>
            <td>402</td>
            <td><a href="/floor-plans/adu-garage-suite">ADU Garage Suite</a></td>
            <td><a href="/floor-plans/adu-garage-suite"><img src="/images/floor-plans/rendering/thumb/adu-garage-suite.jpg" alt="ADU Garage Suite" /></a></td>
        </tr>
        <tr>
            <td>459</td>
            <td><a href="/floor-plans/the-shasta">The Shasta</a></td>
            <td><a href="/floor-plans/the-shasta"><img src="/images/floor-plans/rendering/thumb/the-shasta.jpg" alt="The Shasta" /></a></td>
        </tr>
        <tr>
            <td>643</td>
            <td><a href="/floor-plans/the-klamath">The Klamath</a></td>
            <td><a href="/floor-plans/the-klamath"><img src="/images/floor-plans/rendering/thumb/the-klamath.jpg" alt="The Klamath" /></a></td>
        </tr>
        <tr>
            <td>693</td>
            <td><a href="/floor-plans/the-metolius">The Metolius</a></td>
            <td><a href="/floor-plans/the-metolius"><img src="/images/floor-plans/rendering/thumb/the-metolius.jpg" alt="The Metolius" /></a></td>
        </tr>
        <tr>
            <td>811</td>
            <td><a href="/floor-plans/the-dechutes">The Dechutes</a></td>
            <td><a href="/floor-plans/the-dechutes"><img src="/images/floor-plans/rendering/thumb/the-dechutes.jpg" alt="The Dechutes" /></a></td>
        </tr>
        <tr>
            <td>939</td>
            <td><a href="/floor-plans/the-sabine">The Sabine</a></td>
            <td><a href="/floor-plans/the-sabine"><img src="/images/floor-plans/rendering/thumb/the-sabine.jpg" alt="The Sabine" /></a></td>
        </tr>
        <tr>
            <td>1021</td>
            <td><a href="/floor-plans/the-oswego">The Oswego</a></td>
            <td><a href="/floor-plans/the-oswego"><img src="/images/floor-plans/rendering/thumb/the-oswego.jpg" alt="The Oswego" /></a></td>
        </tr>
        <tr>
            <td>1173</td>
            <td><a href="/floor-plans/eagle-ridge">Eagle Ridge</a></td>
            <td><a href="/floor-plans/eagle-ridge"><img src="/images/floor-plans/rendering/thumb/eagle-ridge.jpg" alt="Eagle Ridge" /></a></td>
        </tr>
        <tr>
            <td>1200</td>
            <td><a href="/floor-plans/the-albany">The Albany</a></td>
            <td><a href="/floor-plans/the-albany"><img src="/images/floor-plans/rendering/thumb/the-albany.jpg" alt="The Albany" /></a></td>
        </tr>
        <tr>
            <td>1216</td>
            <td><a href="/floor-plans/the-malheur">The Malheur</a></td>
            <td><a href="/floor-plans/the-malheur"><img src="/images/floor-plans/rendering/thumb/the-malheur.jpg" alt="The Malheur" /></a></td>
        </tr>
        <tr>
            <td>1243</td>
            <td><a href="/floor-plans/the-cache-b">The Cache B</a></td>
            <td><a href="/floor-plans/the-cache-b"><img src="/images/floor-plans/rendering/thumb/the-cache-b.jpg" alt="The Cache B" /></a></td>
        </tr>
        <tr>
            <td>1274</td>
            <td><a href="/floor-plans/the-winooski">The Winooski</a></td>
            <td><a href="/floor-plans/the-winooski"><img src="/images/floor-plans/rendering/thumb/the-winooski.jpg" alt="The Winooski" /></a></td>
        </tr>
        <tr>
            <td>1305</td>
            <td><a href="/floor-plans/the-quinn">The Quinn</a></td>
            <td><a href="/floor-plans/the-quinn"><img src="/images/floor-plans/rendering/thumb/the-quinn.jpg" alt="The Quinn" /></a></td>
        </tr>
        <tr>
            <td>1427</td>
            <td><a href="/floor-plans/the-willow">The Willow</a></td>
            <td><a href="/floor-plans/the-willow"><img src="/images/floor-plans/rendering/thumb/the-willow.jpg" alt="The Willow" /></a></td>
        </tr>
        <tr>
            <td>1648</td>
            <td><a href="/floor-plans/the-greylin">The Greylin</a></td>
            <td><a href="/floor-plans/the-greylin"><img src="/images/floor-plans/rendering/thumb/the-greylin.jpg" alt="The Greylin" /></a></td>
        </tr>
        <tr>
            <td>1720</td>
            <td><a href="/floor-plans/the-clearwater">The Clearwater</a></td>
            <td><a href="/floor-plans/the-clearwater"><img src="/images/floor-plans/rendering/thumb/the-clearwater.jpg" alt="The Clearwater" /></a></td>
        </tr>
        <tr>
            <td>1784</td>
            <td><a href="/floor-plans/the-merced">The Merced</a></td>
            <td><a href="/floor-plans/the-merced"><img src="/images/floor-plans/rendering/thumb/the-merced.jpg" alt="The Merced" /></a></td>
        </tr>
        <tr>
            <td>1832</td>
            <td><a href="/floor-plans/the-afton">The Afton</a></td>
            <td><a href="/floor-plans/the-afton"><img src="/images/floor-plans/rendering/thumb/the-afton.jpg" alt="The Afton" /></a></td>
        </tr>
        <tr>
            <td>1895</td>
            <td><a href="/floor-plans/the-palouse">The Palouse</a></td>
            <td><a href="/floor-plans/the-palouse"><img src="/images/floor-plans/rendering/thumb/the-palouse.jpg" alt="The Palouse" /></a></td>
        </tr>
        <tr>
            <td>1905</td>
            <td><a href="/floor-plans/the-bighorn">The Bighorn</a></td>
            <td><a href="/floor-plans/the-bighorn"><img src="/images/floor-plans/rendering/thumb/the-bighorn.jpg" alt="The Bighorn" /></a></td>
        </tr>
        <tr>
            <td>2066</td>
            <td><a href="/floor-plans/the-bruneau">The Bruneau</a></td>
            <td><a href="/floor-plans/the-bruneau"><img src="/images/floor-plans/rendering/thumb/the-bruneau.jpg" alt="The Bruneau" /></a></td>
        </tr>
        <tr>
            <td>2112</td>
            <td><a href="/floor-plans/the-mackenzie">The Mackenzie</a></td>
            <td><a href="/floor-plans/the-mackenzie"><img src="/images/floor-plans/rendering/thumb/the-mackenzie.jpg" alt="The Mackenzie" /></a></td>
        </tr>
        <tr>
            <td>2126</td>
            <td><a href="/floor-plans/the-seton">The Seton</a></td>
            <td><a href="/floor-plans/the-seton"><img src="/images/floor-plans/rendering/thumb/the-seton.jpg" alt="The Seton" /></a></td>
        </tr>
        <tr>
            <td>2144</td>
            <td><a href="/floor-plans/the-north-fork">The North Fork</a></td>
            <td><a href="/floor-plans/the-north-fork"><img src="/images/floor-plans/rendering/thumb/the-north-fork.jpg" alt="The North Fork" /></a></td>
        </tr>
        <tr>
            <td>2200</td>
            <td><a href="/floor-plans/the-pipestone">The Pipestone</a></td>
            <td><a href="/floor-plans/the-pipestone"><img src="/images/floor-plans/rendering/thumb/the-pipestone.jpg" alt="The Pipestone" /></a></td>
        </tr>
        <tr>
            <td>2390</td>
            <td><a href="/floor-plans/the-ashley">The Ashley</a></td>
            <td><a href="/floor-plans/the-ashley"><img src="/images/floor-plans/rendering/thumb/the-ashley.jpg" alt="The Ashley" /></a></td>
        </tr>
        <tr>
            <td>2411</td>
            <td><a href="/floor-plans/the-gunnison">The Gunnison</a></td>
            <td><a href="/floor-plans/the-gunnison"><img src="/images/floor-plans/rendering/thumb/the-gunnison.jpg" alt="The Gunnison" /></a></td>
        </tr>
        <tr>
            <td>2411</td>
            <td><a href="/floor-plans/the-gunnison-b">The Gunnison B</a></td>
            <td><a href="/floor-plans/the-gunnison-b"><img src="/images/floor-plans/rendering/thumb/the-gunnison-b.jpg" alt="The Gunnison B" /></a></td>
        </tr>
        <tr>
            <td>2559</td>
            <td><a href="/floor-plans/the-roanoke">The Roanoke</a></td>
            <td><a href="/floor-plans/the-roanoke"><img src="/images/floor-plans/rendering/thumb/the-roanoke.jpg" alt="The Roanoke" /></a></td>
        </tr>
        <tr>
            <td>2559</td>
            <td><a href="/floor-plans/the-dearborn">The Dearborn</a></td>
            <td><a href="/floor-plans/the-dearborn"><img src="/images/floor-plans/rendering/thumb/the-dearborn.jpg" alt="The Dearborn" /></a></td>
        </tr>
        <tr>
            <td>2620</td>
            <td><a href="/floor-plans/ranch-suites">Ranch Suites</a></td>
            <td><a href="/floor-plans/ranch-suites"><img src="/images/floor-plans/rendering/thumb/ranch-suites.jpg" alt="Ranch Suites" /></a></td>
        </tr>
        <tr>
            <td>2718</td>
            <td><a href="/floor-plans/the-whitefish">The Whitefish</a></td>
            <td><a href="/floor-plans/the-whitefish"><img src="/images/floor-plans/rendering/thumb/the-whitefish.jpg" alt="The Whitefish" /></a></td>
        </tr>
        <tr>
            <td>2775</td>
            <td><a href="/floor-plans/the-carson">The Carson</a></td>
            <td><a href="/floor-plans/the-carson"><img src="/images/floor-plans/rendering/thumb/the-carson.jpg" alt="The Carson" /></a></td>
        </tr>
        <tr>
            <td>2869</td>
            <td><a href="/floor-plans/the-redstone">The Redstone</a></td>
            <td><a href="/floor-plans/the-redstone"><img src="/images/floor-plans/rendering/thumb/the-redstone.jpg" alt="The Redstone" /></a></td>
        </tr>
        <tr>
            <td>2988</td>
            <td><a href="/floor-plans/the-tioga">The Tioga</a></td>
            <td><a href="/floor-plans/the-tioga"><img src="/images/floor-plans/rendering/thumb/the-tioga.jpg" alt="The Tioga" /></a></td>
        </tr>
        <tr>
            <td>3005</td>
            <td><a href="/floor-plans/the-clarion">The Clarion</a></td>
            <td><a href="/floor-plans/the-clarion"><img src="/images/floor-plans/rendering/thumb/the-clarion.jpg" alt="The Clarion" /></a></td>
        </tr>
        <tr>
            <td>3114</td>
            <td><a href="/floor-plans/the-santee">The Santee</a></td>
            <td><a href="/floor-plans/the-santee"><img src="/images/floor-plans/rendering/thumb/the-santee.jpg" alt="The Santee" /></a></td>
        </tr>
        <tr>
            <td>3130</td>
            <td><a href="/floor-plans/the-sages">The Sages</a></td>
            <td><a href="/floor-plans/the-sages"><img src="/images/floor-plans/rendering/thumb/the-sages.jpg" alt="The Sages" /></a></td>
        </tr>
        <tr>
            <td>3133</td>
            <td><a href="/floor-plans/the-rockway-duplex">The Rockway Duplex</a></td>
            <td><a href="/floor-plans/the-rockway-duplex"><img src="/images/floor-plans/rendering/thumb/the-rockway-duplex.jpg" alt="The Rockway Duplex" /></a></td>
        </tr>
        <tr>
            <td>3200</td>
            <td><a href="/floor-plans/the-lamar">The Lamar</a></td>
            <td><a href="/floor-plans/the-lamar"><img src="/images/floor-plans/rendering/thumb/the-lamar.jpg" alt="The Lamar" /></a></td>
        </tr>
        <tr>
            <td>3280</td>
            <td><a href="/floor-plans/sierra-la-rama">Sierra La Rama</a></td>
            <td><a href="/floor-plans/sierra-la-rama"><img src="/images/floor-plans/rendering/thumb/sierra-la-rama.jpg" alt="Sierra La Rama" /></a></td>
        </tr>
        <tr>
            <td>3464</td>
            <td><a href="/floor-plans/the-alexandra">The Alexandra</a></td>
            <td><a href="/floor-plans/the-alexandra"><img src="/images/floor-plans/rendering/thumb/the-alexandra.jpg" alt="The Alexandra" /></a></td>
        </tr>
        <tr>
            <td>3556</td>
            <td><a href="/floor-plans/the-stillwater">The Stillwater</a></td>
            <td><a href="/floor-plans/the-stillwater"><img src="/images/floor-plans/rendering/thumb/the-stillwater.jpg" alt="The Stillwater" /></a></td>
        </tr>
        <tr>
            <td>3689</td>
            <td><a href="/floor-plans/the-mccloud">The McCloud</a></td>
            <td><a href="/floor-plans/the-mccloud"><img src="/images/floor-plans/rendering/thumb/the-mccloud.jpg" alt="The McCloud" /></a></td>
        </tr>
        <tr>
            <td>3760</td>
            <td><a href="/floor-plans/the-madison">The Madison</a></td>
            <td><a href="/floor-plans/the-madison"><img src="/images/floor-plans/rendering/thumb/the-madison.jpg" alt="The Madison" /></a></td>
        </tr>
        <tr>
            <td>3787</td>
            <td><a href="/floor-plans/the-goodwood">The Goodwood</a></td>
            <td><a href="/floor-plans/the-goodwood"><img src="/images/floor-plans/rendering/thumb/the-goodwood.jpg" alt="The Goodwood" /></a></td>
        </tr>
        <tr>
            <td>3831</td>
            <td><a href="/floor-plans/park-city">Park City</a></td>
            <td><a href="/floor-plans/park-city"><img src="/images/floor-plans/rendering/thumb/park-city.jpg" alt="Park City" /></a></td>
        </tr>
        <tr>
            <td>3991</td>
            <td><a href="/floor-plans/the-long-valley">The Long Valley</a></td>
            <td><a href="/floor-plans/the-long-valley"><img src="/images/floor-plans/rendering/thumb/the-long-valley.jpg" alt="The Long Valley" /></a></td>
        </tr>
        <tr>
            <td>3992</td>
            <td><a href="/floor-plans/the-ventura">The Ventura</a></td>
            <td><a href="/floor-plans/the-ventura"><img src="/images/floor-plans/rendering/thumb/the-ventura.jpg" alt="The Ventura" /></a></td>
        </tr>
        <tr>
            <td>4008</td>
            <td><a href="/floor-plans/the-red-deer">The Red Deer</a></td>
            <td><a href="/floor-plans/the-red-deer"><img src="/images/floor-plans/rendering/thumb/the-red-deer.jpg" alt="The Red Deer" /></a></td>
        </tr>
        <tr>
            <td>4244</td>
            <td><a href="/floor-plans/the-salinas">The Salinas</a></td>
            <td><a href="/floor-plans/the-salinas"><img src="/images/floor-plans/rendering/thumb/the-salinas.jpg" alt="The Salinas" /></a></td>
        </tr>
        <tr>
            <td>4443</td>
            <td><a href="/floor-plans/the-yakima">The Yakima</a></td>
            <td><a href="/floor-plans/the-yakima"><img src="/images/floor-plans/rendering/thumb/the-yakima.jpg" alt="The Yakima" /></a></td>
        </tr>
        <tr>
            <td>4514</td>
            <td><a href="/floor-plans/the-escalante">The Escalante</a></td>
            <td><a href="/floor-plans/the-escalante"><img src="/images/floor-plans/rendering/thumb/the-escalante.jpg" alt="The Escalante" /></a></td>
        </tr>
        <tr>
            <td>5006</td>
            <td><a href="/floor-plans/the-columbia">The Columbia</a></td>
            <td><a href="/floor-plans/the-columbia"><img src="/images/floor-plans/rendering/thumb/the-columbia.jpg" alt="The Columbia" /></a></td>
        </tr>
        <tr>
            <td>5324</td>
            <td><a href="/floor-plans/the-st-francis-log-chapel">The St. Francis Log Chapel</a></td>
            <td><a href="/floor-plans/the-st-francis-log-chapel"><img src="/images/floor-plans/rendering/thumb/the-st-francis-log-chapel.jpg" alt="The St. Francis Log Chapel" /></a></td>
        </tr>
        <tr>
            <td>5559</td>
            <td><a href="/floor-plans/the-clark-fork">The Clark Fork</a></td>
            <td><a href="/floor-plans/the-clark-fork"><img src="/images/floor-plans/rendering/thumb/the-clark-fork.jpg" alt="The Clark Fork" /></a></td>
        </tr>
        <tr>
            <td>5604</td>
            <td><a href="/floor-plans/the-rivanna">The Rivanna</a></td>
            <td><a href="/floor-plans/the-rivanna"><img src="/images/floor-plans/rendering/thumb/the-rivanna.jpg" alt="The Rivanna" /></a></td>
        </tr>
        <tr>
            <td>5627</td>
            <td><a href="/floor-plans/the-seneca">The Seneca</a></td>
            <td><a href="/floor-plans/the-seneca"><img src="/images/floor-plans/rendering/thumb/the-seneca.jpg" alt="The Seneca" /></a></td>
        </tr>
        <tr>
            <td>7185</td>
            <td><a href="/floor-plans/the-bear-creek">The Bear Creek</a></td>
            <td><a href="/floor-plans/the-bear-creek"><img src="/images/floor-plans/rendering/thumb/the-bear-creek.jpg" alt="The Bear Creek" /></a></td>
        </tr>
    </table>
    <h2>
        Custom Log Home Plans
    </h2>
    <table class="floor_plans">

        <tr>
            <th>Square Feet</th>
            <th>Name</th>
            <th>Rendering</th>
        </tr>
        <tr>
            <td>878</td>
            <td><a href="/floor-plans/brandywine">Brandywine</a></td>
            <td><a href="/floor-plans/brandywine"><img src="/images/floor-plans/rendering/thumb/brandywine.jpg" alt="Brandywine" /></a></td>
        </tr>
        <tr>
            <td>1023</td>
            <td><a href="/floor-plans/mountaintop-ii">Mountaintop II </a></td>
            <td><a href="/floor-plans/mountaintop-ii"><img src="/images/floor-plans/rendering/thumb/mountaintop-ii.jpg" alt="Mountaintop II " /></a></td>
        </tr>
        <tr>
            <td>1089</td>
            <td><a href="/floor-plans/wilcox-white-pine">Wilcox White Pine</a></td>
            <td><a href="/floor-plans/wilcox-white-pine"><img src="/images/floor-plans/rendering/thumb/wilcox-white-pine.jpg" alt="Wilcox White Pine" /></a></td>
        </tr>
        <tr>
            <td>1200</td>
            <td><a href="/floor-plans/baymar">Baymar</a></td>
            <td><a href="/floor-plans/baymar"><img src="/images/floor-plans/rendering/thumb/baymar.jpg" alt="Baymar" /></a></td>
        </tr>
        <tr>
            <td>1228</td>
            <td><a href="/floor-plans/stamford">Stamford</a></td>
            <td><a href="/floor-plans/stamford"><img src="/images/floor-plans/rendering/thumb/stamford.jpg" alt="Stamford" /></a></td>
        </tr>
        <tr>
            <td>1250</td>
            <td><a href="/floor-plans/fries-garage-suite">Fries Garage/Suite</a></td>
            <td><a href="/floor-plans/fries-garage-suite"><img src="/images/floor-plans/rendering/thumb/fries-garage-suite.jpg" alt="Fries Garage/Suite" /></a></td>
        </tr>
        <tr>
            <td>1305</td>
            <td><a href="/floor-plans/larriat-king">Larriat King </a></td>
            <td><a href="/floor-plans/larriat-king"><img src="/images/floor-plans/rendering/thumb/larriat-king.jpg" alt="Larriat King " /></a></td>
        </tr>
        <tr>
            <td>1354</td>
            <td><a href="/floor-plans/aurora-sconnelly">Aurora Sconnelly</a></td>
            <td><a href="/floor-plans/aurora-sconnelly"><img src="/images/floor-plans/rendering/thumb/aurora-sconnelly.jpg" alt="Aurora Sconnelly" /></a></td>
        </tr>
        <tr>
            <td>1372</td>
            <td><a href="/floor-plans/blueridge">Blueridge</a></td>
            <td><a href="/floor-plans/blueridge"><img src="/images/floor-plans/rendering/thumb/blueridge.jpg" alt="Blueridge" /></a></td>
        </tr>
        <tr>
            <td>1372</td>
            <td><a href="/floor-plans/alpine-view">Alpine View</a></td>
            <td><a href="/floor-plans/alpine-view"><img src="/images/floor-plans/rendering/thumb/alpine-view.jpg" alt="Alpine View" /></a></td>
        </tr>
        <tr>
            <td>1416</td>
            <td><a href="/floor-plans/sanchez-pinecrest">Sanchez Pinecrest</a></td>
            <td><a href="/floor-plans/sanchez-pinecrest"><img src="/images/floor-plans/rendering/thumb/sanchez-pinecrest.jpg" alt="Sanchez Pinecrest" /></a></td>
        </tr>
        <tr>
            <td>1449</td>
            <td><a href="/floor-plans/arbor-cove">Arbor Cove</a></td>
            <td><a href="/floor-plans/arbor-cove"><img src="/images/floor-plans/rendering/thumb/arbor-cove.jpg" alt="Arbor Cove" /></a></td>
        </tr>
        <tr>
            <td>1488</td>
            <td><a href="/floor-plans/cedarcrest">Cedarcrest</a></td>
            <td><a href="/floor-plans/cedarcrest"><img src="/images/floor-plans/rendering/thumb/cedarcrest.jpg" alt="Cedarcrest" /></a></td>
        </tr>
        <tr>
            <td>1493</td>
            <td><a href="/floor-plans/snowflake-auginash">Snowflake - Auginash</a></td>
            <td><a href="/floor-plans/snowflake-auginash"><img src="/images/floor-plans/rendering/thumb/snowflake-auginash.jpg" alt="Snowflake - Auginash" /></a></td>
        </tr>
        <tr>
            <td>1502</td>
            <td><a href="/floor-plans/arbor-crossing">Arbor Crossing</a></td>
            <td><a href="/floor-plans/arbor-crossing"><img src="/images/floor-plans/rendering/thumb/arbor-crossing.jpg" alt="Arbor Crossing" /></a></td>
        </tr>
        <tr>
            <td>1512</td>
            <td><a href="/floor-plans/arbor-meadows">Arbor Meadows</a></td>
            <td><a href="/floor-plans/arbor-meadows"><img src="/images/floor-plans/rendering/thumb/arbor-meadows.jpg" alt="Arbor Meadows" /></a></td>
        </tr>
        <tr>
            <td>1536</td>
            <td><a href="/floor-plans/big-creek">Big Creek</a></td>
            <td><a href="/floor-plans/big-creek"><img src="/images/floor-plans/rendering/thumb/big-creek.jpg" alt="Big Creek" /></a></td>
        </tr>
        <tr>
            <td>1544</td>
            <td><a href="/floor-plans/ashton">Ashton</a></td>
            <td><a href="/floor-plans/ashton"><img src="/images/floor-plans/rendering/thumb/ashton.jpg" alt="Ashton" /></a></td>
        </tr>
        <tr>
            <td>1613</td>
            <td><a href="/floor-plans/gateway">Gateway</a></td>
            <td><a href="/floor-plans/gateway"><img src="/images/floor-plans/rendering/thumb/gateway.jpg" alt="Gateway" /></a></td>
        </tr>
        <tr>
            <td>1638</td>
            <td><a href="/floor-plans/pinecreek">Pinecreek</a></td>
            <td><a href="/floor-plans/pinecreek"><img src="/images/floor-plans/rendering/thumb/pinecreek.jpg" alt="Pinecreek" /></a></td>
        </tr>
        <tr>
            <td>1728</td>
            <td><a href="/floor-plans/trent-meadow-creek">Trent - Meadow Creek</a></td>
            <td><a href="/floor-plans/trent-meadow-creek"><img src="/images/floor-plans/rendering/thumb/trent-meadow-creek.jpg" alt="Trent - Meadow Creek" /></a></td>
        </tr>
        <tr>
            <td>1774</td>
            <td><a href="/floor-plans/glenhaven">Glenhaven</a></td>
            <td><a href="/floor-plans/glenhaven"><img src="/images/floor-plans/rendering/thumb/glenhaven.jpg" alt="Glenhaven" /></a></td>
        </tr>
        <tr>
            <td>1801</td>
            <td><a href="/floor-plans/clear-creek-jordan">Clear Creek Jordan</a></td>
            <td><a href="/floor-plans/clear-creek-jordan"><img src="/images/floor-plans/rendering/thumb/clear-creek-jordan.jpg" alt="Clear Creek Jordan" /></a></td>
        </tr>
        <tr>
            <td>1819</td>
            <td><a href="/floor-plans/cottonwood">Cottonwood</a></td>
            <td><a href="/floor-plans/cottonwood"><img src="/images/floor-plans/rendering/thumb/cottonwood.jpg" alt="Cottonwood" /></a></td>
        </tr>
        <tr>
            <td>1861</td>
            <td><a href="/floor-plans/turgate">Turgate</a></td>
            <td><a href="/floor-plans/turgate"><img src="/images/floor-plans/rendering/thumb/turgate.jpg" alt="Turgate" /></a></td>
        </tr>
        <tr>
            <td>1864</td>
            <td><a href="/floor-plans/arborpoint">Arborpoint</a></td>
            <td><a href="/floor-plans/arborpoint"><img src="/images/floor-plans/rendering/thumb/arborpoint.jpg" alt="Arborpoint" /></a></td>
        </tr>
        <tr>
            <td>1896</td>
            <td><a href="/floor-plans/windsor">Windsor</a></td>
            <td><a href="/floor-plans/windsor"><img src="/images/floor-plans/rendering/thumb/windsor.jpg" alt="Windsor" /></a></td>
        </tr>
        <tr>
            <td>1906</td>
            <td><a href="/floor-plans/hazelwood">Hazelwood</a></td>
            <td><a href="/floor-plans/hazelwood"><img src="/images/floor-plans/rendering/thumb/hazelwood.jpg" alt="Hazelwood" /></a></td>
        </tr>
        <tr>
            <td>1906</td>
            <td><a href="/floor-plans/clear-creek-roth">Clear Creek Roth</a></td>
            <td><a href="/floor-plans/clear-creek-roth"><img src="/images/floor-plans/rendering/thumb/clear-creek-roth.jpg" alt="Clear Creek Roth" /></a></td>
        </tr>
        <tr>
            <td>1941</td>
            <td><a href="/floor-plans/natoma">Natoma</a></td>
            <td><a href="/floor-plans/natoma"><img src="/images/floor-plans/rendering/thumb/natoma.jpg" alt="Natoma" /></a></td>
        </tr>
        <tr>
            <td>1954</td>
            <td><a href="/floor-plans/matthiesen">Matthiesen </a></td>
            <td><a href="/floor-plans/matthiesen"><img src="/images/floor-plans/rendering/thumb/matthiesen.jpg" alt="Matthiesen " /></a></td>
        </tr>
        <tr>
            <td>1955</td>
            <td><a href="/floor-plans/woodlawn">Woodlawn</a></td>
            <td><a href="/floor-plans/woodlawn"><img src="/images/floor-plans/rendering/thumb/woodlawn.jpg" alt="Woodlawn" /></a></td>
        </tr>
        <tr>
            <td>1963</td>
            <td><a href="/floor-plans/regent">Regent</a></td>
            <td><a href="/floor-plans/regent"><img src="/images/floor-plans/rendering/thumb/regent.jpg" alt="Regent" /></a></td>
        </tr>
        <tr>
            <td>2007</td>
            <td><a href="/floor-plans/brookmere">Brookmere</a></td>
            <td><a href="/floor-plans/brookmere"><img src="/images/floor-plans/rendering/thumb/brookmere.jpg" alt="Brookmere" /></a></td>
        </tr>
        <tr>
            <td>2030</td>
            <td><a href="/floor-plans/clear-creek-vaughn">Clear Creek - Vaughn</a></td>
            <td><a href="/floor-plans/clear-creek-vaughn"><img src="/images/floor-plans/rendering/thumb/clear-creek-vaughn.jpg" alt="Clear Creek - Vaughn" /></a></td>
        </tr>
        <tr>
            <td>2088</td>
            <td><a href="/floor-plans/valmont">Valmont</a></td>
            <td><a href="/floor-plans/valmont"><img src="/images/floor-plans/rendering/thumb/valmont.jpg" alt="Valmont" /></a></td>
        </tr>
        <tr>
            <td>2113</td>
            <td><a href="/floor-plans/rosewood">Rosewood</a></td>
            <td><a href="/floor-plans/rosewood"><img src="/images/floor-plans/rendering/thumb/rosewood.jpg" alt="Rosewood" /></a></td>
        </tr>
        <tr>
            <td>2138</td>
            <td><a href="/floor-plans/bush">Bush</a></td>
            <td><a href="/floor-plans/bush"><img src="/images/floor-plans/rendering/thumb/bush.jpg" alt="Bush" /></a></td>
        </tr>
        <tr>
            <td>2145</td>
            <td><a href="/floor-plans/summerlake">Summerlake</a></td>
            <td><a href="/floor-plans/summerlake"><img src="/images/floor-plans/rendering/thumb/summerlake.jpg" alt="Summerlake" /></a></td>
        </tr>
        <tr>
            <td>2155</td>
            <td><a href="/floor-plans/edgewood-mann">Edgewood - Mann</a></td>
            <td><a href="/floor-plans/edgewood-mann"><img src="/images/floor-plans/rendering/thumb/edgewood-mann.jpg" alt="Edgewood - Mann" /></a></td>
        </tr>
        <tr>
            <td>2155</td>
            <td><a href="/floor-plans/edgewood-mann-ii">Edgewood Mann II</a></td>
            <td><a href="/floor-plans/edgewood-mann-ii"><img src="/images/floor-plans/rendering/thumb/edgewood-mann-ii.jpg" alt="Edgewood Mann II" /></a></td>
        </tr>
        <tr>
            <td>2203</td>
            <td><a href="/floor-plans/ridgecrest-pippin"> Ridgecrest - Pippin</a></td>
            <td><a href="/floor-plans/ridgecrest-pippin"><img src="/images/floor-plans/rendering/thumb/ridgecrest-pippin.jpg" alt=" Ridgecrest - Pippin" /></a></td>
        </tr>
        <tr>
            <td>2271</td>
            <td><a href="/floor-plans/edgewood-sterchi">Edgewood - Sterchi</a></td>
            <td><a href="/floor-plans/edgewood-sterchi"><img src="/images/floor-plans/rendering/thumb/edgewood-sterchi.jpg" alt="Edgewood - Sterchi" /></a></td>
        </tr>
        <tr>
            <td>2305</td>
            <td><a href="/floor-plans/rio-verde-johnson">Rio Verde Johnson</a></td>
            <td><a href="/floor-plans/rio-verde-johnson"><img src="/images/floor-plans/rendering/thumb/rio-verde-johnson.jpg" alt="Rio Verde Johnson" /></a></td>
        </tr>
        <tr>
            <td>2317</td>
            <td><a href="/floor-plans/edgewood-chastee">Edgewood Chastee</a></td>
            <td><a href="/floor-plans/edgewood-chastee"><img src="/images/floor-plans/rendering/thumb/edgewood-chastee.jpg" alt="Edgewood Chastee" /></a></td>
        </tr>
        <tr>
            <td>2346</td>
            <td><a href="/floor-plans/waterford">Waterford</a></td>
            <td><a href="/floor-plans/waterford"><img src="/images/floor-plans/rendering/thumb/waterford.jpg" alt="Waterford" /></a></td>
        </tr>
        <tr>
            <td>2402</td>
            <td><a href="/floor-plans/regency">Regency</a></td>
            <td><a href="/floor-plans/regency"><img src="/images/floor-plans/rendering/thumb/regency.jpg" alt="Regency" /></a></td>
        </tr>
        <tr>
            <td>2403</td>
            <td><a href="/floor-plans/haskell">Haskell </a></td>
            <td><a href="/floor-plans/haskell"><img src="/images/floor-plans/rendering/thumb/haskell.jpg" alt="Haskell " /></a></td>
        </tr>
        <tr>
            <td>2422</td>
            <td><a href="/floor-plans/yellowpine">Yellowpine </a></td>
            <td><a href="/floor-plans/yellowpine"><img src="/images/floor-plans/rendering/thumb/yellowpine.jpg" alt="Yellowpine " /></a></td>
        </tr>
        <tr>
            <td>2438</td>
            <td><a href="/floor-plans/hubbard">Hubbard </a></td>
            <td><a href="/floor-plans/hubbard"><img src="/images/floor-plans/rendering/thumb/hubbard.jpg" alt="Hubbard " /></a></td>
        </tr>
        <tr>
            <td>2475</td>
            <td><a href="/floor-plans/ridgewood">Ridgewood</a></td>
            <td><a href="/floor-plans/ridgewood"><img src="/images/floor-plans/rendering/thumb/ridgewood.jpg" alt="Ridgewood" /></a></td>
        </tr>
        <tr>
            <td>2480</td>
            <td><a href="/floor-plans/lodgestone">Lodgestone</a></td>
            <td><a href="/floor-plans/lodgestone"><img src="/images/floor-plans/rendering/thumb/lodgestone.jpg" alt="Lodgestone" /></a></td>
        </tr>
        <tr>
            <td>2500</td>
            <td><a href="/floor-plans/martini">Martini </a></td>
            <td><a href="/floor-plans/martini"><img src="/images/floor-plans/rendering/thumb/martini.jpg" alt="Martini " /></a></td>
        </tr>
        <tr>
            <td>2501</td>
            <td><a href="/floor-plans/sing">Sing </a></td>
            <td><a href="/floor-plans/sing"><img src="/images/floor-plans/rendering/thumb/sing.jpg" alt="Sing " /></a></td>
        </tr>
        <tr>
            <td>2521</td>
            <td><a href="/floor-plans/amber">Amber</a></td>
            <td><a href="/floor-plans/amber"><img src="/images/floor-plans/rendering/thumb/amber.jpg" alt="Amber" /></a></td>
        </tr>
        <tr>
            <td>2544</td>
            <td><a href="/floor-plans/rainwood">Rainwood</a></td>
            <td><a href="/floor-plans/rainwood"><img src="/images/floor-plans/rendering/thumb/rainwood.jpg" alt="Rainwood" /></a></td>
        </tr>
        <tr>
            <td>2563</td>
            <td><a href="/floor-plans/hidden-trails">Hidden Trails </a></td>
            <td><a href="/floor-plans/hidden-trails"><img src="/images/floor-plans/rendering/thumb/hidden-trails.jpg" alt="Hidden Trails " /></a></td>
        </tr>
        <tr>
            <td>2578</td>
            <td><a href="/floor-plans/powers">Powers </a></td>
            <td><a href="/floor-plans/powers"><img src="/images/floor-plans/rendering/thumb/powers.jpg" alt="Powers " /></a></td>
        </tr>
        <tr>
            <td>2588</td>
            <td><a href="/floor-plans/deertrail-chissus">Deertrail - Chissus</a></td>
            <td><a href="/floor-plans/deertrail-chissus"><img src="/images/floor-plans/rendering/thumb/deertrail-chissus.jpg" alt="Deertrail - Chissus" /></a></td>
        </tr>
        <tr>
            <td>2608</td>
            <td><a href="/floor-plans/edgewood-sorensen">Edgewood - Sorensen</a></td>
            <td><a href="/floor-plans/edgewood-sorensen"><img src="/images/floor-plans/rendering/thumb/edgewood-sorensen.jpg" alt="Edgewood - Sorensen" /></a></td>
        </tr>
        <tr>
            <td>2610</td>
            <td><a href="/floor-plans/spurcross-moore">Spurcross Moore</a></td>
            <td><a href="/floor-plans/spurcross-moore"><img src="/images/floor-plans/rendering/thumb/spurcross-moore.jpg" alt="Spurcross Moore" /></a></td>
        </tr>
        <tr>
            <td>2616</td>
            <td><a href="/floor-plans/medora">Medora</a></td>
            <td><a href="/floor-plans/medora"><img src="/images/floor-plans/rendering/thumb/medora.jpg" alt="Medora" /></a></td>
        </tr>
        <tr>
            <td>2646</td>
            <td><a href="/floor-plans/highbury">Highbury</a></td>
            <td><a href="/floor-plans/highbury"><img src="/images/floor-plans/rendering/thumb/highbury.jpg" alt="Highbury" /></a></td>
        </tr>
        <tr>
            <td>2709</td>
            <td><a href="/floor-plans/cimmeron-williams">Cimmeron Williams</a></td>
            <td><a href="/floor-plans/cimmeron-williams"><img src="/images/floor-plans/rendering/thumb/cimmeron-williams.jpg" alt="Cimmeron Williams" /></a></td>
        </tr>
        <tr>
            <td>2724</td>
            <td><a href="/floor-plans/eaglesnest-davila">Eaglesnest Davila</a></td>
            <td><a href="/floor-plans/eaglesnest-davila"><img src="/images/floor-plans/rendering/thumb/eaglesnest-davila.jpg" alt="Eaglesnest Davila" /></a></td>
        </tr>
        <tr>
            <td>2741</td>
            <td><a href="/floor-plans/cameron">Cameron</a></td>
            <td><a href="/floor-plans/cameron"><img src="/images/floor-plans/rendering/thumb/cameron.jpg" alt="Cameron" /></a></td>
        </tr>
        <tr>
            <td>2749</td>
            <td><a href="/floor-plans/mountain-brook">Mountain Brook</a></td>
            <td><a href="/floor-plans/mountain-brook"><img src="/images/floor-plans/rendering/thumb/mountain-brook.jpg" alt="Mountain Brook" /></a></td>
        </tr>
        <tr>
            <td>2777</td>
            <td><a href="/floor-plans/windriver">Windriver</a></td>
            <td><a href="/floor-plans/windriver"><img src="/images/floor-plans/rendering/thumb/windriver.jpg" alt="Windriver" /></a></td>
        </tr>
        <tr>
            <td>2802</td>
            <td><a href="/floor-plans/burge">Burge </a></td>
            <td><a href="/floor-plans/burge"><img src="/images/floor-plans/rendering/thumb/burge.jpg" alt="Burge " /></a></td>
        </tr>
        <tr>
            <td>2804</td>
            <td><a href="/floor-plans/mallinson">Mallinson </a></td>
            <td><a href="/floor-plans/mallinson"><img src="/images/floor-plans/rendering/thumb/mallinson.jpg" alt="Mallinson " /></a></td>
        </tr>
        <tr>
            <td>2820</td>
            <td><a href="/floor-plans/larkridge">Larkridge</a></td>
            <td><a href="/floor-plans/larkridge"><img src="/images/floor-plans/rendering/thumb/larkridge.jpg" alt="Larkridge" /></a></td>
        </tr>
        <tr>
            <td>2835</td>
            <td><a href="/floor-plans/birchcrest">Birchcrest</a></td>
            <td><a href="/floor-plans/birchcrest"><img src="/images/floor-plans/rendering/thumb/birchcrest.jpg" alt="Birchcrest" /></a></td>
        </tr>
        <tr>
            <td>2883</td>
            <td><a href="/floor-plans/waterstone">Waterstone</a></td>
            <td><a href="/floor-plans/waterstone"><img src="/images/floor-plans/rendering/thumb/waterstone.jpg" alt="Waterstone" /></a></td>
        </tr>
        <tr>
            <td>2910</td>
            <td><a href="/floor-plans/pullig">Pullig </a></td>
            <td><a href="/floor-plans/pullig"><img src="/images/floor-plans/rendering/thumb/pullig.jpg" alt="Pullig " /></a></td>
        </tr>
        <tr>
            <td>2919</td>
            <td><a href="/floor-plans/hidden-trails-springdale">Hidden Trails Springdale</a></td>
            <td><a href="/floor-plans/hidden-trails-springdale"><img src="/images/floor-plans/rendering/thumb/hidden-trails-springdale.jpg" alt="Hidden Trails Springdale" /></a></td>
        </tr>
        <tr>
            <td>2930</td>
            <td><a href="/floor-plans/claredon">Claredon</a></td>
            <td><a href="/floor-plans/claredon"><img src="/images/floor-plans/rendering/thumb/claredon.jpg" alt="Claredon" /></a></td>
        </tr>
        <tr>
            <td>3042</td>
            <td><a href="/floor-plans/quailridge">Quailridge</a></td>
            <td><a href="/floor-plans/quailridge"><img src="/images/floor-plans/rendering/thumb/quailridge.jpg" alt="Quailridge" /></a></td>
        </tr>
        <tr>
            <td>3136</td>
            <td><a href="/floor-plans/sedgewood">Sedgewood</a></td>
            <td><a href="/floor-plans/sedgewood"><img src="/images/floor-plans/rendering/thumb/sedgewood.jpg" alt="Sedgewood" /></a></td>
        </tr>
        <tr>
            <td>3137</td>
            <td><a href="/floor-plans/johnson-eaglesnest-log-home">Johnson Eaglesnest Log Home</a></td>
            <td><a href="/floor-plans/johnson-eaglesnest-log-home"><img src="/images/floor-plans/rendering/thumb/johnson-eaglesnest-log-home.jpg" alt="Johnson Eaglesnest Log Home" /></a></td>
        </tr>
        <tr>
            <td>3141</td>
            <td><a href="/floor-plans/reed">Reed </a></td>
            <td><a href="/floor-plans/reed"><img src="/images/floor-plans/rendering/thumb/reed.jpg" alt="Reed " /></a></td>
        </tr>
        <tr>
            <td>3219</td>
            <td><a href="/floor-plans/greycrest">Greycrest</a></td>
            <td><a href="/floor-plans/greycrest"><img src="/images/floor-plans/rendering/thumb/greycrest.jpg" alt="Greycrest" /></a></td>
        </tr>
        <tr>
            <td>3303</td>
            <td><a href="/floor-plans/woodlark">Woodlark</a></td>
            <td><a href="/floor-plans/woodlark"><img src="/images/floor-plans/rendering/thumb/woodlark.jpg" alt="Woodlark" /></a></td>
        </tr>
        <tr>
            <td>3372</td>
            <td><a href="/floor-plans/larkwood">Larkwood</a></td>
            <td><a href="/floor-plans/larkwood"><img src="/images/floor-plans/rendering/thumb/larkwood.jpg" alt="Larkwood" /></a></td>
        </tr>
        <tr>
            <td>3381</td>
            <td><a href="/floor-plans/woodcliffe">Woodcliffe</a></td>
            <td><a href="/floor-plans/woodcliffe"><img src="/images/floor-plans/rendering/thumb/woodcliffe.jpg" alt="Woodcliffe" /></a></td>
        </tr>
        <tr>
            <td>3397</td>
            <td><a href="/floor-plans/rowader"> Rowader </a></td>
            <td><a href="/floor-plans/rowader"><img src="/images/floor-plans/rendering/thumb/rowader.jpg" alt=" Rowader " /></a></td>
        </tr>
        <tr>
            <td>3623</td>
            <td><a href="/floor-plans/dlewis">DLewis </a></td>
            <td><a href="/floor-plans/dlewis"><img src="/images/floor-plans/rendering/thumb/dlewis.jpg" alt="DLewis " /></a></td>
        </tr>
        <tr>
            <td>3640</td>
            <td><a href="/floor-plans/wynfield">Wynfield</a></td>
            <td><a href="/floor-plans/wynfield"><img src="/images/floor-plans/rendering/thumb/wynfield.jpg" alt="Wynfield" /></a></td>
        </tr>
        <tr>
            <td>3650</td>
            <td><a href="/floor-plans/trescott">Trescott</a></td>
            <td><a href="/floor-plans/trescott"><img src="/images/floor-plans/rendering/thumb/trescott.jpg" alt="Trescott" /></a></td>
        </tr>
        <tr>
            <td>3800</td>
            <td><a href="/floor-plans/comacho">Comacho </a></td>
            <td><a href="/floor-plans/comacho"><img src="/images/floor-plans/rendering/thumb/comacho.jpg" alt="Comacho " /></a></td>
        </tr>
        <tr>
            <td>4196</td>
            <td><a href="/floor-plans/edgewood-glissman">Edgewood Glissman</a></td>
            <td><a href="/floor-plans/edgewood-glissman"><img src="/images/floor-plans/rendering/thumb/edgewood-glissman.jpg" alt="Edgewood Glissman" /></a></td>
        </tr>
        <tr>
            <td>4784</td>
            <td><a href="/floor-plans/edgewood-spangenburg">Edgewood Spangenburg</a></td>
            <td><a href="/floor-plans/edgewood-spangenburg"><img src="/images/floor-plans/rendering/thumb/edgewood-spangenburg.jpg" alt="Edgewood Spangenburg" /></a></td>
        </tr>
        <tr>
            <td>5406</td>
            <td><a href="/floor-plans/sorenson-log-lodge">Sorenson Log Lodge</a></td>
            <td><a href="/floor-plans/sorenson-log-lodge"><img src="/images/floor-plans/rendering/thumb/sorenson-log-lodge.jpg" alt="Sorenson Log Lodge" /></a></td>
        </tr>
        <tr>
            <td>5755</td>
            <td><a href="/floor-plans/greyhawk">Greyhawk</a></td>
            <td><a href="/floor-plans/greyhawk"><img src="/images/floor-plans/rendering/thumb/greyhawk.jpg" alt="Greyhawk" /></a></td>
        </tr>
        <tr>
            <td>6452</td>
            <td><a href="/floor-plans/bridgewater">Bridgewater</a></td>
            <td><a href="/floor-plans/bridgewater"><img src="/images/floor-plans/rendering/thumb/bridgewater.jpg" alt="Bridgewater" /></a></td>
        </tr>
        <tr>
            <td>10182</td>
            <td><a href="/floor-plans/sun-valley-log-lodge">Sun Valley Log Lodge</a></td>
            <td><a href="/floor-plans/sun-valley-log-lodge"><img src="/images/floor-plans/rendering/thumb/sun-valley-log-lodge.jpg" alt="Sun Valley Log Lodge" /></a></td>
        </tr>
    </table>
    <h2>
        Traditional Custom Home Plans
    </h2>
    <p>
        Custom, conventionally stick-built plans that can be designed either log or stick-built to fit your needs.
    </p>
    <table class="floor_plans">

        <tr>
            <th>Square Feet</th>
            <th>Name</th>
            <th>Rendering</th>
        </tr>
        <tr>
            <td>1304</td>
            <td><a href="/floor-plans/albany">Albany</a></td>
            <td><a href="/floor-plans/albany"><img src="/images/floor-plans/rendering/thumb/albany.jpg" alt="Albany" /></a></td>
        </tr>
        <tr>
            <td>1530</td>
            <td><a href="/floor-plans/bitteroot">Bitteroot</a></td>
            <td><a href="/floor-plans/bitteroot"><img src="/images/floor-plans/rendering/thumb/bitteroot.jpg" alt="Bitteroot" /></a></td>
        </tr>
        <tr>
            <td>1584</td>
            <td><a href="/floor-plans/andover">Andover</a></td>
            <td><a href="/floor-plans/andover"><img src="/images/floor-plans/rendering/thumb/andover.jpg" alt="Andover" /></a></td>
        </tr>
        <tr>
            <td>1586</td>
            <td><a href="/floor-plans/parkstone">Parkstone</a></td>
            <td><a href="/floor-plans/parkstone"><img src="/images/floor-plans/rendering/thumb/parkstone.jpg" alt="Parkstone" /></a></td>
        </tr>
        <tr>
            <td>1696</td>
            <td><a href="/floor-plans/elkhorn">Elkhorn</a></td>
            <td><a href="/floor-plans/elkhorn"><img src="/images/floor-plans/rendering/thumb/elkhorn.jpg" alt="Elkhorn" /></a></td>
        </tr>
        <tr>
            <td>1700</td>
            <td><a href="/floor-plans/grey">Grey</a></td>
            <td><a href="/floor-plans/grey"><img src="/images/floor-plans/rendering/thumb/grey.jpg" alt="Grey" /></a></td>
        </tr>
        <tr>
            <td>1700</td>
            <td><a href="/floor-plans/amhurst">Amhurst</a></td>
            <td><a href="/floor-plans/amhurst"><img src="/images/floor-plans/rendering/thumb/amhurst.jpg" alt="Amhurst" /></a></td>
        </tr>
        <tr>
            <td>1800</td>
            <td><a href="/floor-plans/alderwood">Alderwood</a></td>
            <td><a href="/floor-plans/alderwood"><img src="/images/floor-plans/rendering/thumb/alderwood.jpg" alt="Alderwood" /></a></td>
        </tr>
        <tr>
            <td>1800</td>
            <td><a href="/floor-plans/arborgate">Arborgate</a></td>
            <td><a href="/floor-plans/arborgate"><img src="/images/floor-plans/rendering/thumb/arborgate.jpg" alt="Arborgate" /></a></td>
        </tr>
        <tr>
            <td>1804</td>
            <td><a href="/floor-plans/armitage">Armitage</a></td>
            <td><a href="/floor-plans/armitage"><img src="/images/floor-plans/rendering/thumb/armitage.jpg" alt="Armitage" /></a></td>
        </tr>
        <tr>
            <td>1861</td>
            <td><a href="/floor-plans/ashcrest">Ashcrest</a></td>
            <td><a href="/floor-plans/ashcrest"><img src="/images/floor-plans/rendering/thumb/ashcrest.jpg" alt="Ashcrest" /></a></td>
        </tr>
        <tr>
            <td>1932</td>
            <td><a href="/floor-plans/ashford">Ashford</a></td>
            <td><a href="/floor-plans/ashford"><img src="/images/floor-plans/rendering/thumb/ashford.jpg" alt="Ashford" /></a></td>
        </tr>
        <tr>
            <td>1997</td>
            <td><a href="/floor-plans/ambrose">Ambrose</a></td>
            <td><a href="/floor-plans/ambrose"><img src="/images/floor-plans/rendering/thumb/ambrose.jpg" alt="Ambrose" /></a></td>
        </tr>
        <tr>
            <td>1997</td>
            <td><a href="/floor-plans/parkwood">Parkwood</a></td>
            <td><a href="/floor-plans/parkwood"><img src="/images/floor-plans/rendering/thumb/parkwood.jpg" alt="Parkwood" /></a></td>
        </tr>
        <tr>
            <td>2000</td>
            <td><a href="/floor-plans/birchriver">Birchriver</a></td>
            <td><a href="/floor-plans/birchriver"><img src="/images/floor-plans/rendering/thumb/birchriver.jpg" alt="Birchriver" /></a></td>
        </tr>
        <tr>
            <td>2005</td>
            <td><a href="/floor-plans/waverly">Waverly</a></td>
            <td><a href="/floor-plans/waverly"><img src="/images/floor-plans/rendering/thumb/waverly.jpg" alt="Waverly" /></a></td>
        </tr>
        <tr>
            <td>2025</td>
            <td><a href="/floor-plans/austin">Austin</a></td>
            <td><a href="/floor-plans/austin"><img src="/images/floor-plans/rendering/thumb/austin.jpg" alt="Austin" /></a></td>
        </tr>
        <tr>
            <td>2033</td>
            <td><a href="/floor-plans/claremont">Claremont</a></td>
            <td><a href="/floor-plans/claremont"><img src="/images/floor-plans/rendering/thumb/claremont.jpg" alt="Claremont" /></a></td>
        </tr>
        <tr>
            <td>2059</td>
            <td><a href="/floor-plans/bayhill">Bayhill</a></td>
            <td><a href="/floor-plans/bayhill"><img src="/images/floor-plans/rendering/thumb/bayhill.jpg" alt="Bayhill" /></a></td>
        </tr>
        <tr>
            <td>2077</td>
            <td><a href="/floor-plans/briarwood-ii">Briarwood II</a></td>
            <td><a href="/floor-plans/briarwood-ii"><img src="/images/floor-plans/rendering/thumb/briarwood-ii.jpg" alt="Briarwood II" /></a></td>
        </tr>
        <tr>
            <td>2135</td>
            <td><a href="/floor-plans/castlepines">Castlepines</a></td>
            <td><a href="/floor-plans/castlepines"><img src="/images/floor-plans/rendering/thumb/castlepines.jpg" alt="Castlepines" /></a></td>
        </tr>
        <tr>
            <td>2150</td>
            <td><a href="/floor-plans/camfield">Camfield</a></td>
            <td><a href="/floor-plans/camfield"><img src="/images/floor-plans/rendering/thumb/camfield.jpg" alt="Camfield" /></a></td>
        </tr>
        <tr>
            <td>2193</td>
            <td><a href="/floor-plans/brookhaven">Brookhaven</a></td>
            <td><a href="/floor-plans/brookhaven"><img src="/images/floor-plans/rendering/thumb/brookhaven.jpg" alt="Brookhaven" /></a></td>
        </tr>
        <tr>
            <td>2199</td>
            <td><a href="/floor-plans/the-ashland">The Ashland </a></td>
            <td><a href="/floor-plans/the-ashland"><img src="/images/floor-plans/rendering/thumb/the-ashland.jpg" alt="The Ashland " /></a></td>
        </tr>
        <tr>
            <td>2213</td>
            <td><a href="/floor-plans/coventry">Coventry</a></td>
            <td><a href="/floor-plans/coventry"><img src="/images/floor-plans/rendering/thumb/coventry.jpg" alt="Coventry" /></a></td>
        </tr>
        <tr>
            <td>2300</td>
            <td><a href="/floor-plans/edenbridge">Edenbridge</a></td>
            <td><a href="/floor-plans/edenbridge"><img src="/images/floor-plans/rendering/thumb/edenbridge.jpg" alt="Edenbridge" /></a></td>
        </tr>
        <tr>
            <td>2308</td>
            <td><a href="/floor-plans/edgebrook">Edgebrook</a></td>
            <td><a href="/floor-plans/edgebrook"><img src="/images/floor-plans/rendering/thumb/edgebrook.jpg" alt="Edgebrook" /></a></td>
        </tr>
        <tr>
            <td>2321</td>
            <td><a href="/floor-plans/edgewater">Edgewater</a></td>
            <td><a href="/floor-plans/edgewater"><img src="/images/floor-plans/rendering/thumb/edgewater.jpg" alt="Edgewater" /></a></td>
        </tr>
        <tr>
            <td>2370</td>
            <td><a href="/floor-plans/glenview">Glenview</a></td>
            <td><a href="/floor-plans/glenview"><img src="/images/floor-plans/rendering/thumb/glenview.jpg" alt="Glenview" /></a></td>
        </tr>
        <tr>
            <td>2454</td>
            <td><a href="/floor-plans/greythorne">Greythorne</a></td>
            <td><a href="/floor-plans/greythorne"><img src="/images/floor-plans/rendering/thumb/greythorne.jpg" alt="Greythorne" /></a></td>
        </tr>
        <tr>
            <td>2501</td>
            <td><a href="/floor-plans/hearthstone">Hearthstone</a></td>
            <td><a href="/floor-plans/hearthstone"><img src="/images/floor-plans/rendering/thumb/hearthstone.jpg" alt="Hearthstone" /></a></td>
        </tr>
        <tr>
            <td>2557</td>
            <td><a href="/floor-plans/grove-park">Grove Park</a></td>
            <td><a href="/floor-plans/grove-park"><img src="/images/floor-plans/rendering/thumb/grove-park.jpg" alt="Grove Park" /></a></td>
        </tr>
        <tr>
            <td>2684</td>
            <td><a href="/floor-plans/larkhaven">Larkhaven</a></td>
            <td><a href="/floor-plans/larkhaven"><img src="/images/floor-plans/rendering/thumb/larkhaven.jpg" alt="Larkhaven" /></a></td>
        </tr>
        <tr>
            <td>2700</td>
            <td><a href="/floor-plans/havenbrook">Havenbrook</a></td>
            <td><a href="/floor-plans/havenbrook"><img src="/images/floor-plans/rendering/thumb/havenbrook.jpg" alt="Havenbrook" /></a></td>
        </tr>
        <tr>
            <td>2705</td>
            <td><a href="/floor-plans/juniper">Juniper</a></td>
            <td><a href="/floor-plans/juniper"><img src="/images/floor-plans/rendering/thumb/juniper.jpg" alt="Juniper" /></a></td>
        </tr>
        <tr>
            <td>2800</td>
            <td><a href="/floor-plans/saxony">Saxony</a></td>
            <td><a href="/floor-plans/saxony"><img src="/images/floor-plans/rendering/thumb/saxony.jpg" alt="Saxony" /></a></td>
        </tr>
        <tr>
            <td>2820</td>
            <td><a href="/floor-plans/larkspur">Larkspur</a></td>
            <td><a href="/floor-plans/larkspur"><img src="/images/floor-plans/rendering/thumb/larkspur.jpg" alt="Larkspur" /></a></td>
        </tr>
        <tr>
            <td>2836</td>
            <td><a href="/floor-plans/larkspur-ii">Larkspur II</a></td>
            <td><a href="/floor-plans/larkspur-ii"><img src="/images/floor-plans/rendering/thumb/larkspur-ii.jpg" alt="Larkspur II" /></a></td>
        </tr>
        <tr>
            <td>2878</td>
            <td><a href="/floor-plans/stonewall">Stonewall</a></td>
            <td><a href="/floor-plans/stonewall"><img src="/images/floor-plans/rendering/thumb/stonewall.jpg" alt="Stonewall" /></a></td>
        </tr>
        <tr>
            <td>2905</td>
            <td><a href="/floor-plans/ashwood">Ashwood</a></td>
            <td><a href="/floor-plans/ashwood"><img src="/images/floor-plans/rendering/thumb/ashwood.jpg" alt="Ashwood" /></a></td>
        </tr>
        <tr>
            <td>2928</td>
            <td><a href="/floor-plans/meadowbrook">Meadowbrook</a></td>
            <td><a href="/floor-plans/meadowbrook"><img src="/images/floor-plans/rendering/thumb/meadowbrook.jpg" alt="Meadowbrook" /></a></td>
        </tr>
        <tr>
            <td>2984</td>
            <td><a href="/floor-plans/millbrook">Millbrook</a></td>
            <td><a href="/floor-plans/millbrook"><img src="/images/floor-plans/rendering/thumb/millbrook.jpg" alt="Millbrook" /></a></td>
        </tr>
        <tr>
            <td>3000</td>
            <td><a href="/floor-plans/oakmont">Oakmont</a></td>
            <td><a href="/floor-plans/oakmont"><img src="/images/floor-plans/rendering/thumb/oakmont.jpg" alt="Oakmont" /></a></td>
        </tr>
        <tr>
            <td>3100</td>
            <td><a href="/floor-plans/winterbrook">Winterbrook</a></td>
            <td><a href="/floor-plans/winterbrook"><img src="/images/floor-plans/rendering/thumb/winterbrook.jpg" alt="Winterbrook" /></a></td>
        </tr>
        <tr>
            <td>3192</td>
            <td><a href="/floor-plans/cresthill">Cresthill</a></td>
            <td><a href="/floor-plans/cresthill"><img src="/images/floor-plans/rendering/thumb/cresthill.jpg" alt="Cresthill" /></a></td>
        </tr>
        <tr>
            <td>3392</td>
            <td><a href="/floor-plans/winterbirch">Winterbirch</a></td>
            <td><a href="/floor-plans/winterbirch"><img src="/images/floor-plans/rendering/thumb/winterbirch.jpg" alt="Winterbirch" /></a></td>
        </tr>

    </table>
</div>
