@page
@model IndexModel
@{
    ViewData["Title"] = "Luxury Log Homes - Cabins Plans";
    ViewData["Description"] = "Log home, log cabin, free log home information, luxury log homes, log home plans, Idaho Homes, and custom log home prices by Avalon Log Homes.";
    ViewData["Keywords"] = "log homes, log cabins, free log home information, luxury log homes, design, log home plans, Idaho Homes, Boise Homes";
}
<div id="nav_left">
    <partial name="_NavigationStandardPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Avalon Log Homes
    </h1>
    <p>
        Log homes, log cabins, luxury log homes, log home plans, free log homes information, Idaho Homes, and log home prices by Avalon Log Homes.
    </p>
    <p>
        While Avalon Log Homes, a division of Avalon Enteprises, is certainly not the oldest log home company in the business, or the biggest, we are absolutely committed to becoming one of the nation's premier log home suppliers for log homes all over the USA and Canada.
    </p>
    <p>
        Our Division, Avalon Custom Homes offers full line of services for contemporary stick frame custom residential homes.
    </p>
    <p>
        Our Divisions, Avalon Design Services and Avalon Construction Management Services can be your full service log home provider. We can help you with a log home package as well as being the designer, the builder or construction manager. Many companies today do not have the background to provide you with the total vertical turnkey cost estimates to build your home. We can do that for you. We honestly want to help you with your total expected costs up front before you jump in on a log package.
    </p>
    <p>
        Avalon Design Services allows you to take one our standard log home plans or custom log homes, or one of our contemporary stick build plans and redesign it to fit your needs and tastes either as a log home or a standard stick built home.
    </p>
    <p>
        Avalon Log Homes works with three different plants including one in Canada, direct to avoid the huge overhead that our competitors have to maintain. Yet we can offer you as good as or better product at a wholesale price and with our builder background, go a step farther by being able to help you with the rest of your construction issues that many others don't have the experience to offer.
    </p>
    <p>
        You can click on any of our four main divisions shown on the left. While here, check out our floor plans and updated photo galleries and videos. You'll find a wealth of information about log homes, research, construction and log home design information, and financing help.
    </p>
    <p>
        You can request a custom quote for one of our plans or send us yours for a quote. We'll help you through the whole construction process if you desire.
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        <span style="font-family: Arial,Helvetica,sans-serif;">&nbsp;<span style="font-size: 1em;"><a href="http://avalonloghomes.blogspot.com/"><strong>Avalon Log Homes Blog</strong></a> -This is Avalon Log Homes Blog on Blogger</span></span>
    </p>
    <p>
        <strong>Read the following articles from Avalon Log Homes Blog:</strong>
    </p>
    <p>
        <strong><a href="http://avalonloghomes.blogspot.com/2013/07/log-home-construction-with-reclaimed.html">Log Home Construction with Reclaimed Logs</a></strong>
    </p>
    <p>
        <strong><a href="http://avalonloghomes.blogspot.com/2012/01/idaho-homes.html"><strong>Idaho Homes</strong></a></strong>
    </p>
    <p>
        <strong>
            <strong><a href="http://avalonloghomes.blogspot.com/2011/07/before-you-go-off-and-buy-log-home-kit.html">Log Home Foundation Design</a></strong>
            <br />
        </strong>
    </p>
    <p>
        <strong><a href="http://avalonloghomes.blogspot.com/2011/05/how-to-achieve-english-cottage-style.html">How to Achieve an English Cottage-Style House</a></strong>
    </p>
    <p>
        <strong><a href="http://avalonloghomes.blogspot.com/2011/02/make-your-log-home-dream-reality.html">MAKE YOUR LOG HOME DREAM A REALITY</a></strong>
    </p>
    <p>
        <strong><a href="http://avalonloghomes.blogspot.com/2011/02/best-property-and-location-for-your-log.html"><strong>The Best Property and Location for your Log Home</strong></a></strong>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2010/05/saving-money-when-designing-and.html">Saving Money When Designing And Building Your Dream Log Home</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2010/05/thermal-mass-benefits-of-log-homes.html">Thermal Mass Benefits of Log Homes</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2010/03/avalon-log-homes-rivanna-luxury-log.html">Avalon Log Homes &ndash; The Rivanna Luxury Log Home Plan</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2010/03/httpwwwbloggercomimgblankgif.html">Avalon Log Homes &ndash; The Escalante Luxury Log Home Plan</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2010/03/log-home-and-timber-frame-home-shows.html">Log Home and Timber Frame Home Shows, Johnson's Log Home and Timber Frame Shows</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2010/03/log-home-of-month-bear-creek-luxury-log.html">Log Home of the Month &ndash; The Bear Creek Luxury Log Home</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2010/02/sun-valley-log-lodge-by-avalon-log.html">Sun Valley Log Lodge by Avalon Log Homes</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2010/02/springdale-luxury-log-home-by-avalon.html">Springdale Luxury Log Home by Avalon Log Homes</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2010/02/log-homes-myths_20.html">Log Homes Myths</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2010/02/learning-about-log-homes-at-avalon-log.html">Learning About Log Homes at Avalon Log Homes</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2010/02/log-home-of-month-fall-creek-luxury-log.html">Log Home of the Month &ndash; Fall Creek Luxury Log Home</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2010/01/avalon-custom-log-homes-fan-page-on.html">Avalon Custom Log Homes Fan Page on Facebook</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/12/log-home-of-month-martini-luxury-log.html">Log Home of the Month &ndash; Martini Luxury Log Home</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/11/avalon-log-homes-plan-of-month-powers.html">Avalon Log Homes Plan of the Month - Powers Log Home</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/11/log-home-stains-which-is-best.html">Log Home Stains &ndash; Which is Best?</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/11/what-do-you-know-about-log-timber.html">What do you know about log &amp; timber screws?</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/11/log-homes-high-tech-communications.html">Log Homes &amp; High-Tech Communications</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/10/weather-considerations-not-usually.html">Weather Considerations not Usually Considered in Log Homes</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/10/avalon-luxury-log-homes-log-home-of_28.html">Avalon Luxury Log Homes-Log Home of the Month- Springdale Log Home</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/10/borates-for-custom-log-cabins.html">Borates for Custom Log Cabins</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/09/reblog-from-avalonloghomes-avalon-log.html">Avalonloghomes: Avalon Log Homes</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/09/learning-about-log-cabins.html">Learning About Log Cabins</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/09/dead-standing-timber-for-stability-in.html">Dead Standing Timber for Stability in Luxury Log H...</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/09/thermal-mass-benefits-of-luxury-log.html">Thermal Mass Benefits of Luxury Log Homes</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/09/selecting-windows-for-log-homes.html">Selecting Windows for Log Homes</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/09/making-allowances-for-settlement-in.html">Making Allowances for Settlement in Luxury Log Homes</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/08/log-cabins-and-termites.html">Log Cabins and Termites</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/08/pouring-concrete-during-cold-weather.html">Pouring Concrete During Cold Weather for Log Cabins</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/08/staining-dos-and-donts-for-your-luxury.html">STAINING DO&rsquo;S AND DON&rsquo;TS FOR YOUR LUXURY LOG HOMES</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/08/landscaping-your-new-log-home.html">Landscaping Your New Log Home</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/08/decorating-your-new-log-home.html">Decorating Your New Log Home</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/08/log-homes-luxury-log-homes-log-cabin.html">Log Homes, Luxury Log Homes, Log Cabin Homes, Log Home</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/08/finding-luxury-log-homes-builders.html">Finding Luxury Log Homes Builders</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/08/financing-options-for-new-luxury-log.html">Financing Options for New Luxury Log Homes</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/08/full-log-gables-on-luxury-log-homes-yes.html">Full Log Gables on Luxury Log Homes (Yes or No)</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/07/planning-and-budgeting-for-log-homes.html">Planning and Budgeting For Log Homes</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/07/wood-species-and-characteristics-for.html">Wood Species and Characteristics for Luxury Log Homes</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/07/technorati.html">A Discussion of How Logs Are Graded for Luxury Log Homes</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/06/securing-land-for-your-log-home.html">Securing Land for Your Log Home Investments</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/05/avalon-log-homes-preservation-and.html">Avalon Log Homes - Preservation and Maintenance of Log Homes</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/04/avalon-log-homes-log-homes-myths.html">Avalon Log Homes-Log Homes Myths</a></strong></span></span>
    </p>
    <p>
        <span style="font-size: 1em;"><span style="font-family: Verdana,Geneva,sans-serif;"><strong><a href="http://avalonloghomes.blogspot.com/2009/04/log-home-custom-design-planning.html">Log Home Custom Design Planning</a></strong></span></span>
    </p>
    <p>
        <strong><a href="http://avalonloghomes.blogspot.com/2010/07/log-home-prevent-finish-failure-design.html">Log Home Prevent Finish Failure Design Tips</a></strong>
    </p>
    <p>
        <strong><a href="http://avalonloghomes.blogspot.com/2010/12/foundation-design-for-log-homes.html"><strong>Foundation Systems For Log Homes</strong></a></strong>
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        <span style="font-size: 1.5em;"><strong>Join us on these Social networks:</strong></span>
    </p>
    <p>
        <span style="font-size: 0.75em;"><span style="font-family: Verdana,Geneva,sans-serif;"><a href="https://www.facebook.com/profile.php?id=1831950951" target="_blank" title="http://www.facebook.com/profile.php?id=1831950951">Facebook: Avalon Log Homes</a></span></span>
    </p>
    <p>
        <span style="font-size: 0.75em;"><span style="font-family: Verdana,Geneva,sans-serif;"><a href="https://www.flickr.com/people/36868352@N08/" target="_blank" title="http://www.flickr.com/people/36868352@N08/">Flickr: Avalon Log Homes</a></span></span>
    </p>
    <p>
        <span style="font-size: 0.75em;"><span style="font-family: Verdana,Geneva,sans-serif;"><a href="https://www.linkedin.com/in/avalonloghomes" target="_blank" title="http://www.linkedin.com/in/avalonloghomes">LinkedIn: avalonloghomes</a></span></span>
    </p>
    <p>
        <span style="font-size: 0.75em;"><span style="font-family: Verdana,Geneva,sans-serif;"><a href="https://www.myspace.com/avalonloghomes" target="_blank" title="http://www.myspace.com/avalonloghomes">MySpace: avalonloghomes</a></span></span>
    </p>
    <p>
        <span style="font-size: 0.75em;"><span style="font-family: Verdana,Geneva,sans-serif;"><a href="https://picasaweb.google.com/clarencepond" target="_blank" title="http://picasaweb.google.com/clarencepond">Picasa: clarencepond</a></span></span>
    </p>
    <p>
        <span style="font-size: 0.75em;"><span style="font-family: Verdana,Geneva,sans-serif;"><a href="https://twitter.com/avalonloghomes" target="_blank" title="http://twitter.com/avalonloghomes">Twitter: avalonloghomes</a></span></span>
    </p>
    <p>
        <span style="font-size: 0.75em;"><span style="font-family: Verdana,Geneva,sans-serif;"><a href="https://youtube.com/user/cpond12" target="_blank" title="http://youtube.com/user/cpond12">YouTube: cpond12</a></span></span>
    </p>
    <p>
        <span style="font-size: 0.75em;"><span style="font-family: Verdana,Geneva,sans-serif;"><a href="http://activerain.com/cpond" target="_blank" title="http://activerain.com/cpond">activerain.com/cpond</a></span></span>
    </p><!-- Facebook Fan Badge START -->
    <div style="width: 100%;">
        <div style="background: #3B5998; padding: 5px;">
            <img alt="Facebook" src="https://www.facebook.com/images/fb_logo_small.png" /><img alt="" height="0" src="https://badge.facebook.com/badge/151517604893.1831950951.1090654001.png" width="0" />
        </div>
        <div style="background: #EDEFF4; display: block; border-right: 1px solid #D8DFEA; border-bottom: 1px solid #D8DFEA; border-left: 1px solid #D8DFEA; margin: 0px; padding: 0px 0px 5px 0px;">
            <div style="background: #EDEFF4; display: block; padding: 5px;">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <img alt="" src="https://www.facebook.com/images/icons/fbpage.gif" />
                            </td>
                            <td valign="top">
                                <p style="color: #808080; font-family: verdana; font-size: 11px; margin: 0px 0px 0px 0px; padding: 0px 8px 0px 8px;">
                                    <a href="https://www.facebook.com/AvalonLogHomes" style="color: #3b5998; font-family: verdana; font-size: 11px; font-weight: normal; margin: 0px; padding: 0px 0px 0px 0px; text-decoration: none;" target="_TOP" title="Avalon Log Homes">Avalon Log Homes</a> is a fan of
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="background: #FFFFFF; clear: both; display: block; margin: 0px; overflow: hidden; padding: 5px;">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td valign="middle">
                                <a href="https://www.facebook.com/pages/Nampa-ID/Avalon-Custom-Log-Homes/151517604893" style="border: 0px; color: #3b5998; font-family: verdana; font-size: 12px; font-weight: bold; margin: 0px; padding: 0px; text-decoration: none;" target="_TOP" title="Avalon Custom Log Homes"><img alt="Avalon Custom Log Homes" src="https://www.facebook.com/profile/pic.php?oid=AAAAAQAQpfh3Fv2c1KxvXDQvU7BILgAAAAwnHHJaLktPtpSPd1sIEcLe&amp;size=square" style="border: 0px; margin: 0px; padding: 0px;" /></a>
                            </td>
                            <td style="padding: 0px 8px 0px 8px;" valign="middle">
                                <a href="https://www.facebook.com/pages/Nampa-ID/Avalon-Custom-Log-Homes/151517604893" style="border: 0px; color: #3b5998; font-family: verdana; font-size: 12px; font-weight: bold; margin: 0px; padding: 0px; text-decoration: none;" target="_TOP" title="Avalon Custom Log Homes">Avalon Custom Log Homes</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="display: block; float: right; margin: 0px; padding: 4px 0px 0px 0px;">
            <a href="https://www.facebook.com/facebook-widgets/fanbadges.php" style="color: #3b5998; font-family: verdana; font-size: 11px; font-weight: normal; margin: 0px; padding: 0px; text-decoration: none;" target="_TOP" title="Create your Fan Badge">Create your Fan Badge</a>
        </div>
    </div><!-- Facebook Fan Badge END -->
    <p>
        &nbsp;
    </p>
    <p>
        &nbsp;
    </p>
</div>
