@page "/log-homes-information-news-technology"
@model BA.AvalonLogHomes.Pages.LogHomeResearchTechInformationModel
@{
    ViewData["Title"] = "Log Homes Research and Technical Information";
    ViewData["Description"] = "Log Home Research &amp;amp; Tech Information. A Discussion of How Logs Are Graded Wood Species and Characteristics Thermal Mass Benefits of Log Homes...";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Log Home Research &amp; Tech Information
    </h1>
    <div style="margin-left: 300px;">
        <p>
            <a href="/log-grades">A Discussion of How Logs Are Graded</a>
        </p>
        <p>
            <a href="/wood-species">Wood Species and Characteristics</a>
        </p>
        <p>
            <a href="/thermal-mass">Thermal Mass Benefits of Log Homes Recognized</a>
        </p>
        <p>
            <a href="/log-homes-termites">Log Homes &amp; Termites</a>
        </p>
        <p>
            <a href="/allowances-settlements">Making Allowances for Settlement</a>
        </p>
        <p>
            <a href="/documents/log-home-building-standards.pdf">Log Home Building Standards</a>
        </p>
        <p>
            <a href="http://www.logbuilding.org/">Learn Log Homes Construction</a>
        </p>
        <p>
            <a href="/documents/benefits-using-cedarcide.pdf">Benefits of Using Cedarcide</a>
        </p>
        <p>
            <a href="/documents/Benefits-of-Using-Log-Siding.pdf">Benefits of Using Log Siding</a>
        </p>
        <p>
            <a href="/documents/Borates-for-Log-Homes.pdf">Borates for Log Homes</a>
        </p>
        <p>
            <a href="/documents/Dead-Standing-Timber-for-Stability-in-Log-Homes.pdf">Dead Standing Timber for Stability in Log Homes</a>
        </p>
        <p>
            <a href="/documents/Pouring-concrete-during-cold-weather.pdf">Pouring Concrete during Cold Weather</a>
        </p>
        <p>
            <a href="/documents/Selecting-Windows-for-Log-Homes.pdf">Selecting Windows for Log Homes</a>
        </p>
        <p>
            <a href="/documents/staining-do-donts.pdf">STAINING DO'S AND DON'TS</a>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <strong><span style="text-decoration: underline;">Log Home Industry Information Links</span></strong>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            American Association of Woodturners (AAW)
            <br />
            <a href="http://www.woodturner.org/" target="_blank">www.woodturner.org/</a>
        </p>
        <p>
            Forest Products Society
            <br />
            <a href="http://www.forestprod.org/" target="_blank">www.forestprod.org/</a>
        </p>
        <p>
            Kitchen Cabinet Manufacturers Association
            <br />
            <a href="http://www.kcma.org/" target="_blank">www.kcma.org/</a>
        </p>
        <p>
            Wood Component Manufacturers Association
            <br />
            <a href="http://www.woodcomponents.org/" target="_blank">www.woodcomponents.org/</a>
        </p>
        <p>
            Wood Moulding and Millwork Producers Association (WMMPA)
            <br />
            <a href="http://wmmpa.com/" target="_blank">wmmpa.com/</a>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <strong><span style="text-decoration: underline;">Industry Publications</span></strong>
        </p>
        <p>
            Builder Magazine
            <br />
            <a href="http://www.builderonline.com/" target="_blank">www.builderonline.com</a>
        </p>
        <p>
            Building Material Dealer
            <br />
            <a href="http://www.dealer.org/" target="_blank">www.dealer.org/</a>
        </p>
        <p>
            CabinetMaker
            <br />
            <a href="http://www.cabinetmakeronline.com/" target="_blank">www.cabinetmakeronline.com/</a>
        </p>
        <p>
            Canadian Wood Products
            <br />
            <a href="http://www.forestcommunications.com/cwp/" target="_blank">www.forestcommunications.com/cwp/</a>
        </p>
        <p>
            Fine Homebuilding
            <br />
            <a href="http://www.taunton.com/finehomebuilding/index.asp" target="_blank">www.taunton.com/finehomebuilding/index.asp</a>
        </p>
        <p>
            FDM
            <br />
            <a href="http://www.fdmonline.com/" target="_blank">www.fdmonline.com/</a>
        </p>
        <p>
            Flooring Magazine
            <br />
            <a href="http://www.flooringmagazine.com/" target="_blank">www.flooringmagazine.com/</a>
        </p>
        <p>
            Hardwood Floors
            <br />
            <a href="http://www.hardwoodfloorsmag.com/" target="_blank">www.hardwoodfloorsmag.com/</a>
        </p>
        <p>
            Home Accents Today
            <br />
            <a href="http://www.homeaccentstoday.com/" target="_blank">www.homeaccentstoday.com/</a>
        </p>
        <p>
            Home BUILDER Magazine
            <br />
            <a href="http://www.homebuildercanada.com/index.htm" target="_blank">www.homebuildercanada.com</a>
        </p>
        <p>
            Japan Lumber Journal
            <br />
            <a href="http://www.jlj.gr.jp/" target="_blank">www.jlj.gr.jp/</a>
        </p>
        <p>
            Logging and Sawmilling Journal
            <br />
            <a href="http://www.forestnet.com/" target="_blank">www.forestnet.com/</a>
        </p>
        <p>
            National Floor Trends
            <br />
            <a href="http://www.ntlfloortrends.com/" target="_blank">www.ntlfloortrends.com/</a>
        </p>
        <p>
            Specialty Wood Journal
            <br />
            <a href="http://www.bauminternational.com/" target="_blank">www.bauminternational.com/</a>
        </p>
        <p>
            The Journal of Light Construction
            <br />
            <a href="http://www.jlconline.com/cgi-bin/jlconline.storefront" target="_blank">www.jlconline.com/cgi-bin/jlconline.storefront</a>
        </p>
        <p>
            Trucklogger
            <br />
            <a href="http://www.truckloggers.com/publications_magazine_current.shtml" target="_blank">www.truckloggers.com</a>
        </p>
        <p>
            Western Woodland Magazine
            <br />
            <a href="http://www.westernwoodland.com/" target="_blank">www.westernwoodland.com</a>
        </p>
        <p>
            Window and Door
            <br />
            <a href="http://www.windowanddoor.net/" target="_blank">www.windowanddoor.net/</a>
        </p>
        <p>
            Wood Design &amp; Building <a href="http://www.woodmags.com/" target="_blank">www.woodmags.com/</a><strong>&nbsp;</strong>
        </p>
        <p>
            &nbsp;
        </p>
    </div>
</div>
