@page "/log-home-information"
@model BA.AvalonLogHomes.Pages.LogHomesInformationModel
@{
    ViewData["Title"] = "Log Home Information";
    ViewData["Description"] = "Learning Center Log Homes 101 Log Homes Myths Log Homes Glossary Planning Guide Budgeting Securing Land Custom Design Planning Finding a Builder Buying...";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Log Home Information
    </h1>
    <h2>
        Learning Center
    </h2>
    <ul>
        <li>
            <a href="/log-home-guides">Log Homes 101</a>
        </li>
        <li>
            <a href="/log-homes-cabins-myths">Log Homes Myths</a>
        </li>
        <li>
            <a href="/glossary-log-homes-cabins">Log Homes Glossary</a>
        </li>
    </ul>
    <h2>
        Planning Guide
    </h2>
    <ul>
        <li>
            <a href="/planning-log-homes-budgeting">Budgeting</a>
        </li>
        <li>
            <a href="/property-investments-log-homes-cabins">Securing Land</a>
        </li>
        <li>
            <a href="/custom-log-home-plans-cabins">Custom Design Planning</a>
        </li>
        <li>
            <a href="/log-homes-builders-construction">Finding a Builder</a>
        </li>
    </ul>
    <h2>
        Buying Guide
    </h2>
    <ul>
        <li>
            <a href="/logs-homes-cabins-custom-quotes">Request a Custom Quote</a>
        </li>
        <li>
            <a href="/log-homes-financing-cabins">Financing</a>
        </li>
        <li>
            <a href="/log-home-ownership">Order</a>
        </li>
    </ul>
    <h2>
        Your Log Home
    </h2>
    <ul>
        <li>
            <a href="/maintenance-log-homes-cabins">Preservation &amp; Maintenance of Log Homes</a>
        </li>
        <li>
            <a href="/log-homes-decor-decorating">Decorating Your New Log Home</a>
        </li>
        <li>
            <a href="/log-homes-landscaping">Landscaping</a>
        </li>
    </ul>
    <p>
        &nbsp;
    </p>
    <p>
        &nbsp;
    </p>
</div>
