@page "/log-styles-cabin-designs-homes"
@model BA.AvalonLogHomes.Pages.LogStylesModel
@{
    ViewData["Title"] = "Log Styles";
    ViewData["Description"] = "Log Styles. Profiles Swedish Cope Available Sizes 6&quot; 8&quot; 10&quot; 12&quot; 14&quot; D-Log Available Sizes 6 x 8 8 x 8 8 x...";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Log Styles
    </h1>
    <h2>
        Profiles
    </h2>
    <h3>
        <img alt="" height="188" src="/images/profiles-swedish-cope.jpg" width="250" /> Swedish Cope
    </h3>
    <ul>
        <li>
            Available Sizes
            <ul>
                <li>
                    6"
                </li>
                <li>
                    8"
                </li>
                <li>
                    10"
                </li>
                <li>
                    12"
                </li>
                <li>
                    14"
                </li>
            </ul>
        </li>
    </ul>
    <h3>
        <img alt="" height="188" src="/images/profiles-d-log.jpg" style="margin-left: 25px;" width="250" /> D-Log
    </h3>
    <ul>
        <li>
            Available Sizes
            <ul>
                <li>
                    6 x 8
                </li>
                <li>
                    8 x 8
                </li>
                <li>
                    8 x 10
                </li>
                <li>
                    8 x 12
                </li>
            </ul>
        </li>
    </ul>
    <h3>
        <img alt="" height="188" src="/images/profiles-double-d.jpg" width="250" /> Double-D
    </h3>
    <ul>
        <li>
            Available Sizes
            <ul>
                <li>
                    6 x8
                </li>
                <li>
                    8 x 8
                </li>
            </ul>
        </li>
    </ul>
    <h3>
        <img alt="" height="188" src="/images/profiles-square-log-chink-groove.jpg" width="250" /> Square Log w/Chink Groove
    </h3>
    <ul>
        <li>
            Available Sizes
            <ul>
                <li>
                    6 x 10
                </li>
                <li>
                    8 x 12
                </li>
            </ul>
        </li>
    </ul>
    <h3>
        <img alt="" height="188" src="/images/profiles-double-round.jpg" width="250" /> Double Round
    </h3>
    <ul>
        <li>
            Available Sizes
            <ul>
                <li>
                    8"
                </li>
                <li>
                    10"
                </li>
                <li>
                    12"
                </li>
            </ul>
        </li>
    </ul>
    <h2>
        Corner Styles:
    </h2>
    <h3>
        <img alt="" height="188" src="/images/corners-butt-pass.jpg" width="250" /> Butt &amp; Pass Corner
    </h3>
    <h3>
        <img alt="" height="188" src="/images/corners-butt-pass-false.jpg" width="250" /> Butt &amp; Pass False Corner
    </h3>
    <h3>
        <img alt="" height="188" src="/images/corners-square-notch.jpg" width="250" /> Square Notch
    </h3>
    <h3>
        <img alt="" height="188" src="/images/corner-swedish-cope-false.jpg" width="250" /> Swedish Cope False Corner
    </h3>
    <h3>
        <img alt="" height="188" src="/images/corners-swedish-cope-saddle-notch.jpg" width="250" /> Swedish Cope Saddle Notch
    </h3>
</div>
