@page "/log-types-cabins-homes"
@model BA.AvalonLogHomes.Pages.LogTypesModel
@{
    ViewData["Title"] = "Log Types";
    ViewData["Description"] = "We offer several different styles of logs, including milled, handcrafted, timberframe, and half-log siding. This allows us to provide you with many different...";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Log Types
    </h1>
    <p>
        We offer several different styles of logs, including milled, handcrafted, timberframe, and half-log siding. This allows us to provide you with many different styles and designs for both residential and commercial settings.
    </p>
    <p>
        Our logs are cut from standing dead timber. This means that the logs are dried slowly by mother nature. Our logs are approximately 19% moisture content. This will reduce checking (cracking) and settling. It is unlikely that our logs will develop unexpected twisting and deformities. Our wall log diameters measure 6" 7", 8", 9", 10", and 12" (others available upon request). We also have milled or handcrafted beam length logs available for roof purlins, trusses, porch posts, and more.
    </p>
    <h2>
        Milled Logs
    </h2>
    <p>
        A specialized machine cuts one of our most popular styles of logs, the milled log, to a uniform diameter. The uniform design of milled logs provides for a snug fit. The log milling machine cuts a saddle-notched corner, which creates notches for logs to lay perpendicular on each other. Logs are cut lengthwise with a Swedish Cope Cut, which, in addition to a specially formulated caulking that creates a life-time air tight seal. This caulking is added when the logs are laid on top of each other.
    </p>
    <h2 style="text-decoration: underline;">
        Typical types of milled logs from Avalon Log Homes:
    </h2>
    <h3>
        Swedish Cope Logs
    </h3>
    <p>
        The Swedish Cope profile creates a full weight-bearing arc in each log, running the entire length and exactly matching the arc of the log below. This produces weight-bearing contact the entire length of the log, not just at the ends. And that means greater strength and stability.
    </p>
    <h3>
        D Logs
    </h3>
    <p>
        Want the log home look without the rounded interior walls? D Logs provide for the opportunity to have the rustic, outdoorsy exterior of a log cabin, but all the conveniences of a modern interior. Homes built with D Logs use half the wood of a traditional log home, but still have their distinctive look.
    </p>
    <h3>
        Half-Log Siding
    </h3>
    <p>
        If you are looking for an alternative to the typical vinyl sided or painted exterior of your stick-built structure, half-log siding may be an option for you. Half-log siding gives your stick-built structure the same look as a traditional log home without the expense of using whole logs. It may also be used on interior walls creating a rounded log look on the inside walls, as well. Half-log siding is a great alternative for stick-built structures such as garages and sheds to match your log home.
    </p>
    <h3>
        Handcrafted Logs
    </h3>
    <p>
        Handcrafted logs are picked and carved by hand. These logs are individually hand-hewed and styled by professionals, then carved and notched to cradle each other. Each handcrafted log home is assembled on site and distributed ready for construction. A handcrafted log home is the most unique log home available.
    </p>
    <h3>
        Timber Frame
    </h3>
    <p>
        Timber framing is a centuries-old craft using a specific type of post and beam construction in which a frame is created from solid wood timbers that are connected with wooden, furniture-like joinery secured with hardwood pegs. The frame is covered with any of a number of enclosure systems. Normally the timbers remain exposed to the interior of the building. Today both traditional handcrafted techniques, as well as high-tech manufactured framing are used for a wide range of attractive and cost-effective residential and commercial buildings. As a building system, timber framing lends itself to residential and commercial construction and a wide variety of architectural styles. It is also compatible with many other building systems and materials such as structural insulated panels (SIPs), logs, engineered wood products and stud systems.
    </p>
    <p>
        Avalon Log Homes has access to some of the finest quality timber resources in the world. Douglas fir, larch, pine, spruce and cedar are all used in our timber frames. These species all offer strong structural qualities and timeless beauty. The entire process is designed to ensure the highest quality right from the beginning of the manufacturing process. The timbers are then crafted by our skilled timber wrights, using traditional joinery methods. Avalon Enterprises has a team of experienced designers to provide complete design and architectural services. Our designers work closely with each of our clients to design a home which is a reflection of that client's individual personality and life style. Our designers also have extensive experience working with other Architects and Engineers through out North America.
    </p>
</div>
