@page "/log-kits-packages-materials"
@model BA.AvalonLogHomes.Pages.MartialPackagesModel
@{
    ViewData["Title"] = "Log Home Packages";
    ViewData["Description"] = "Package A: Log Package Log wall system: Includes log walls, starter log &amp;amp; cap, corners as specified, caulking &amp;amp; gasketing, &amp;amp; log screws...";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Log Home Packages
    </h1>
    <p style="text-align: right;">
        <img alt="Material Packages Diagram" src="/images/material-packages-diagram.jpg" style="border: 1px solid #000;" />
    </p>
    <h2>
        Package A: Log Package
    </h2>
    <ol>
        <li>
            Log wall system: Includes log walls, starter log &amp; cap, corners as specified, caulking &amp; gasketing, &amp; log screws
        </li>
        <li>
            Log stair system: 1/2 log stringers and treads (notched treads available)
        </li>
        <li>
            Log support posts
        </li>
        <li>
            Loft floor system: loft carrier beam, loft log support columns, &amp; log floor joists
        </li>
        <li>
            Interior log railing system: top &amp; bottom caps, pickets, and posts
        </li>
        <li>
            Log sided gable ends
        </li>
        <li>
            Log sided log dormers with vertical log corners (full log corners available)
        </li>
        <li>
            Log porch rafters is avaliable
        </li>
        <li>
            Log porch headers
        </li>
        <li>
            Log porch posts
        </li>
        <li>
            Covered porch log railing system: top &amp; bottom caps, pickets, and posts
        </li>
    </ol>
    <h2>
        Package B / C: Adds to complete a weathertight shell:
    </h2>
    <ol start="12">
        <li>
            False log purlins (1x tongue &amp; groove for ceilings available)
        </li>
        <li>
            Exterior window and door bucks &amp; trim
        </li>
        <li>
            2x tongue &amp; groove loft decking
        </li>
        <li>
            Exterior steel doors
        </li>
        <li>
            (1x6 tongue &amp; groove paneling for walls available)
        </li>
        <li>
            Roof System &amp; Gables: Ridge Beams, false log purlins, engineered I joists, roof sheathing, gable end and dormer wall framing &amp; sheathing, soffitt &amp; fascia, garage trusses ( if applicable) &amp; 2x T &amp; G decking at porch roofs
        </li>
        <li>
            Vinyl Low E double glazed windows, and steel prehung exterior doors &amp; patio doors
        </li>
        <li>
            Crawlspace/basement bearing wall framing materials
        </li>
        <li>
            Main floor systems: plates, engineered I joists, adhesive, &amp; sub floor
        </li>
        <li>
            Interior wall framing materials: plates, studs, and headers
        </li>
        <li>
            Loft engineered I joists &amp; floor sheathing
        </li>
        <li>
            Exterior deck log railing system: top &amp; bottom caps, pickets, and posts is available
        </li>
        <li>
            Covered porch &amp; exterior deck floor faming &amp; decking material is available
        </li>
        <li>
            Roof felt &amp; metal roof or architectural shingles is available
        </li>
    </ol>
    <table>
        <tr style="text-align: center;">
            <td style="background-color: #603813;">
                <img alt="Avalon Log Homes" src="/style/images/nav-left/log-homes.png" style="background-color: #603813; padding: 5px 16px 0px 20px;" />
            </td>
            <td style="font-weight: bold;">
                PACKAGE A
                <br />
                <br />
                LOG WALL &amp; GABLE PACKAGE
            </td>
            <td style="font-weight: bold;">
                PACKAGE B/C
                <br />
                <br />
                STANDARD WEATHER-TIGHT SHELL (DRY-IN)
            </td>
        </tr>
        <tr>
            <td colspan="3">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3">
                Avalon Log Home Services
            </td>
        </tr>
        <tr>
            <td>
                Custom Design Services - Standard or custom plans included
            </td>
            <td class="inc">
                Included
            </td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Technical Support Services
            </td>
            <td class="inc">
                Included
            </td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td colspan="3">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3">
                Wall Log System
            </td>
        </tr>
        <tr>
            <td>
                Species - Spruce, Pine Douglas Fir standard (All log species available)
            </td>
            <td class="inc">
                Included
            </td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Milled Log Profiles - D-Log, Double-D, Square Log, Full Round or Swedish Cope standard (all profiles available)
            </td>
            <td class="inc">
                Included
            </td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Handcrafted Log Profiles - Swedish Cope or Full-Chink standard (Custom profiles available)
            </td>
            <td class="inc">
                Included
            </td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Hardware - Lag Screws, Dowels &amp; Foam Gaskets
            </td>
            <td class="inc">
                Included
            </td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td colspan="3">
                Main Floor System
            </td>
        </tr>
        <tr>
            <td>
                Sill - 2 x 6 pressure treated
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Band - Web joist structural rim ply
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Girder - Pony wall (2 x 6s on 16 inch centers with pressure treated mud sills)
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Joists - Web joists on 16 inch centers
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Flooring - 3/4 Sturdifloor
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td colspan="3">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3">
                Second Floor System
            </td>
        </tr>
        <tr>
            <td>
                Flooring -3/4 Sturdifloor
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Girder - log or glu lam beam
            </td>
            <td class="inc">
                Included
            </td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Joists - engineered I joists
            </td>
            <td class="inc">
                Included
            </td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Support Columns - 12 inch logs
            </td>
            <td class="inc">
                Included
            </td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td colspan="3">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3">
                Interior Stair &amp; Railing System
            </td>
        </tr>
        <tr>
            <td>
                Stringers - 12 inch half logs (notching optional)
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Treads - 12 inch half log
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Railing - 4 inch logs
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Pickets - 3 x 32 inch logs
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td colspan="3">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3">
                Doors &amp; Windows
            </td>
        </tr>
        <tr>
            <td>
                Exterior Doors - Wood or metal standard (upgrades available)
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Windows - Vinyl windows with screens standard (Wood, Low E and Tilt &amp; Turn optional)
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Exterior Door &amp; Window Trim - 1 x 4 pine
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Window &amp; Door Bucks - 2 x 6
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td colspan="3">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3">
                Gables &amp; Dormer System
            </td>
        </tr>
        <tr>
            <td>
                Log Cabin Siding at upper dormers &amp; Gables
            </td>
            <td class="inc">
                Included
            </td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td colspan="3">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3">
                Roof System
            </td>
        </tr>
        <tr>
            <td>
                Rafters - Engineered I Web joists @@ 16" o/c
            </td>
            <td class="inc">
                Included
            </td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Ridgebeam - 12 inch log or GLB
            </td>
            <td class="inc">
                Included
            </td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Purlins - 10 inch false purlins
            </td>
            <td class="inc">
                Included
            </td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Ceiling - 1 x 6 Tongue &amp; groove
            </td>
            <td></td>
            <td class="opt">
                Optional
            </td>
        </tr>
        <tr>
            <td>
                Roof Sheathing
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Insulation - Foamcore or BATT
            </td>
            <td></td>
            <td class="opt">
                Optional
            </td>
        </tr>
        <tr>
            <td>
                Felt Paper - 15 lb
            </td>
            <td></td>
            <td class="opt">
                Optional
            </td>
        </tr>
        <tr>
            <td>
                Fiberglass Shingles or metal roofing
            </td>
            <td></td>
            <td class="opt">
                Optional
            </td>
        </tr>
        <tr>
            <td colspan="3">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3">
                Porch System
            </td>
        </tr>
        <tr>
            <td>
                Floor Joists &amp; Bands - 2 x 10
            </td>
            <td></td>
            <td class="opt">
                Optional
            </td>
        </tr>
        <tr>
            <td>
                Flooring - 5 / 4 x 6 cedar
            </td>
            <td></td>
            <td class="opt">
                Optional
            </td>
        </tr>
        <tr>
            <td>
                Roof Rafters - 10 inch logs
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Columns &amp; Headers - 10/12" inch logs
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Railing Posts - 6 inch logs
            </td>
            <td></td>
            <td class="opt">
                Optional
            </td>
        </tr>
        <tr>
            <td>
                Railings - 4 inch logs
            </td>
            <td></td>
            <td class="opt">
                Optional
            </td>
        </tr>
        <tr>
            <td>
                Pickets - 3 x 32 inch logs
            </td>
            <td></td>
            <td class="opt">
                Optional
            </td>
        </tr>
        <tr>
            <td>
                Porch Roof Decking - 2 x 6 tongue &amp; groove
            </td>
            <td></td>
            <td class="opt">
                Optional
            </td>
        </tr>
        <tr>
            <td colspan="3">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3">
                General Framing
            </td>
        </tr>
        <tr>
            <td>
                Interior Walls - Stud walls
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Gable &amp; Dormer Framing: 2 x framing on 16 inch centers
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td>
                Facia - Cedar double facia
            </td>
            <td></td>
            <td class="inc">
                Included
            </td>
        </tr>
        <tr>
            <td colspan="3">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3">
                Exterior Deck(s)
            </td>
        </tr>
        <tr>
            <td>
                Dimensional Lumber &amp; Hardware
            </td>
            <td></td>
            <td class="opt">
                Optional
            </td>
        </tr>
        <tr>
            <td>
                Railing - 4 inch logs (Optional)
            </td>
            <td></td>
            <td class="opt">
                Optional
            </td>
        </tr>
        <tr>
            <td>
                Pickets - 3 x 32 inch logs
            </td>
            <td></td>
            <td class="opt">
                Optional
            </td>
        </tr>
    </table>
    <p>
        &nbsp;
    </p>
</div>
@section Scripts {
    <style type="text/css">
        table {
            empty-cells: show;
            border-collapse: collapse;
            clear: both;
            width: 850px;
        }

        td {
            border: 1px solid #000;
            padding: 5px;
        }

            td[colspan] {
                font-weight: bold;
            }

            td.inc {
                text-transform: uppercase;
            }

            td.opt, td.inc {
                background-color: #0f0;
                font-weight: bold;
                text-align: center;
                width: 150px;
            }
    </style>
}
