@page "/photo-gallery-galleries-photos"
@model BA.AvalonLogHomes.Pages.PhotoGalleryModel
@{
    ViewData["Title"] = "Log Homes Photo Gallery";
    ViewData["Description"] = "Log Homes Project Videos Avalon Log Homes Video - Log Home Raising - Montana Lodge 434 Avalon Log Homes Video - Log Home...";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationSecondaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Log Homes Photo Gallery
    </h1>
    <div class="photo_gallery_big" style="text-align: center;">
        <a href="/exterior-log-homes"><img alt="Log Home Exterior" src="/images/galleries/thumbs/exterior/log-home.jpg" /></a> <a href="/interior-log-homes"><img alt="Log Home Interior" src="/images/galleries/thumbs/interior/310031.jpg" /></a> <a href="/construction-log-homes"><img alt="Construction of Log Home" src="/images/galleries/thumbs/construction/DSC00599.jpg" /></a> <a href="/avalon-client-homes-gallery"><img alt="Custom Home" src="/images/galleries/thumbs/custom/P1000089.jpg" /></a>
    </div>
    <h2 style="text-align: center;">
        Log Homes Project Videos
    </h2>
    <div style="margin-left: 275px;">
        <p>
            <a href="movies/montana-lodge.wmv">Avalon Log Homes Video - Log Home Raising - Montana Lodge 434</a>
        </p>
        <p>
            <a href="movies/montana-sequence.wmv">Avalon Log Homes Video - Log Home Raising - Montana Sequence 158</a>
        </p>
        <p>
            <a href="movies/springdale-model.wmv">Avalon Log Homes Video - Springdale Model 358</a>
        </p>
    </div>
    <p>
        &nbsp;
    </p>
    <p>
        <strong>Below are links to new log home videos that have been added to our Gallery:</strong>
    </p>
    <p>
        <a href="http://www.youtube.com/watch?v=zdvIZEu7Kbk" target="_blank"><strong>Avalon Log Homes - Mallinson Luxury Log Home</strong></a> -This is a luxury log home built in Sedalia Missouri with our local builder/dealer- Dream Catcher Log Homes.&nbsp;See this floor plan at <a href="../floor-plans/mallinson">http://www.avalonloghomes.com/floor-plans/mallinson</a>&nbsp;
    </p>
    <p>
        <a href="http://www.youtube.com/watch?v=qV-0PrsKKl4" target="_blank"><strong>Avalon Log Homes &ndash; Trent Meadowcreek Log Home</strong></a> -This is one of Avalon Log Homes Trent Meadowcreek Models built in Valley County, Idaho.&nbsp;See this floor plan at <a href="../floor-plans/trent-meadow-creek">http://www.avalonloghomes.com/floor-plans/trent-meadow-creek</a>
    </p>
    <p>
        <a href="http://www.youtube.com/watch?v=E-aOEtHwwAU" target="_blank"><strong>Avalon Log Homes &ndash; Wait Elkridge Luxury Log Home</strong></a> -This Wait Elkridge is one of Avalon Log Homes Models built near Kooski, Idaho.&nbsp;See the floor plan for this home at&nbsp; <a href="../floor-plans/wait">http://www.avalonloghomes.com/floor-plans/elk-ridge </a>
    </p>
    <p>
        &nbsp;<a href="http://www.youtube.com/watch?v=zqkyg2bZdjY" target="_blank"><strong>Avalon Log Homes - Powers Luxury Log Homes</strong></a> This Powers Plan Video is one of Avalon Log Homes Luxury Log Homes Models built in Adams County, Idaho. See the floor plan for this home at&nbsp; <a href="../floor-plans/powers">http://www.avalonloghomes.com/floor-plans/powers</a>
    </p>
    <p>
        &nbsp;<a href="http://www.youtube.com/watch?v=CKXwppf15zQ" target="_blank"><strong>Avalon Log Homes - Vista Log Home Garage/Suite</strong></a> This Avalon Log Homes video is a log home addition completed in Idaho.To see the floor plan for this log home go to <a href="../floor-plans/fries-garage-suite">http://www.avalonloghomes.com/floor-plans/fries-garage-suite</a>
    </p>
    <p>
        &nbsp;<a href="http://www.youtube.com/watch?v=zV6dERyw3QU" target="_blank"><strong>Avalon Log Homes - Haskins Log Home Addition</strong></a> This Avalon Log Homes video is a log home addition completed in Idaho.
    </p>
    <p>
        &nbsp;<a href="http://www.youtube.com/watch?v=k_XvYV7hCX4" target="_blank"><strong>Avalon Log Homes - Johnson Eaglesnest Luxury Log Home</strong></a> This is a luxury log home built in Happy Jack, Arizona with our local Representative, Richard Johnson. This model log home with log accents &amp; 10 inch log siding is currently available. For information on it go to <a href="http://www.rjcabin.com/default.aspx" target="_blank">http://www.rjcabin.com/default.aspx</a> See this Johnson Eaglesnest floor plan at <a href="../floor-plans/johnson">http://www.avalonloghomes.com/floor-plans/johnson-eaglesnest-log-home</a>
    </p>
    <p>
        &nbsp;<a href="http://www.youtube.com/watch?v=AoqToZtDBSA" target="_blank"><strong>Avalon Log Homes &ndash; Martini Luxury Log Home</strong></a> This is a luxury log home built in Mogollon Ranch, Arizona. This log home includes log accents &amp; 10 inch log siding. See this Martini floor plan at&nbsp;<a href="../floor-plans/martini">http://www.avalonloghomes.com/floor-plans/martini</a>
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        <strong>Below are photo gallery links to recently completed Custom Log Homes that have been added to our Gallery: Click on the name of the log home to go to the Photo Gallery:</strong>
    </p>
    <p>
        &nbsp;<strong><a href="http://picasaweb.google.com/Clarencepond/SpringdaleLuxuryLogHomeByAvalonLogHomes">Avalon Log Homes &ndash; Springdale Luxury Log Home</a></strong> -This is one of Avalon Log Homes Springdale Models. See this floor plan at <a href="../floor-plans/springdale">http://www.avalonloghomes.com/floor-plans/springdale</a>
    </p>
    <p>
        &nbsp;<a href="http://picasaweb.google.com/Clarencepond/MallinsonLuxuryLogHomeByAvalonLogHomes" target="_blank"><strong>Avalon Log Homes &ndash; Mallinson Luxury Log Home</strong></a> -This is one of Avalon Log Homes Luxury Log Homes built in Missouri. See this floor plan at <a href="../floor-plans/mallinson">http://www.avalonloghomes.com/floor-plans/mallinson</a>
    </p>
    <p>
        <strong><a href="http://picasaweb.google.com/Clarencepond/PowersLuxuryLogHomeByAvalonLogHomes">Avalon Log Homes &ndash; Powers Custom Log Home</a></strong> -This is one of Avalon Log Homes Custom Log Homes built in Council, Idaho. See the floor plan for this home at <a href="../floor-plans/powers">http://www.avalonloghomes.com/floor-plans/powers</a>
    </p>
    <p>
        <a href="http://picasaweb.google.com/Clarencepond/JohnsonLuxuryLogHomeByAvalonLogHomes" target="_blank"><strong>Avalon Log Homes &ndash; Johnson Eaglesnest Custom Log Home</strong></a> -This is one of Avalon Log Homes Eaglesnest Models built in Happy Jack, Arizona. See this Johnson Eaglesnest floor plan at <a href="../floor-plans/johnson">http://www.avalonloghomes.com/floor-plans/johnson</a>
    </p>
    <p>
        &nbsp;<a href="http://picasaweb.google.com/Clarencepond/MartiniLogHomeByAvalonLogHomes" target="_blank"><strong>Avalon Log Homes &ndash; Martini Custom Log Home</strong></a> -This is one of Avalon Log Homes Eaglesnest Models built in Mogollan Ranch, Arizona. See this Martini floor plan at&nbsp;<a href="../floor-plans/martini">http://www.avalonloghomes.com/floor-plans/martini</a>
    </p>
    <p>
        <strong><a href="http://picasaweb.google.com/Clarencepond/MeadowcreekLogHomeByAvalonLogHomes">Avalon Log Homes &ndash; Trent Meadowcreek Log Home</a> -</strong> This is one of Avalon Log Homes Trent Meadowcreek Models built in Valley County, Idaho.&nbsp;See this floor plan at <a href="../floor-plans/trent-meadow-creek">http://www.avalonloghomes.com/floor-plans/trent-meadow-creek</a><strong>&nbsp;</strong>
    </p>
    <p>
        <strong><a href="http://picasaweb.google.com/Clarencepond/WaitLuxuryLogHomeByAvalonLogHomes">Avalon Log Homes - Wait Luxury Log Home</a> -</strong> This Wait Elkridge is one of Avalon Log Homes Models built near Kooski, Idaho.&nbsp;See the floor plan for this home at&nbsp; <a href="../floor-plans/wait">http://www.avalonloghomes.com/floor-plans/wait</a><strong>&nbsp;</strong>
    </p>
    <p>
        <strong><a href="http://picasaweb.google.com/Clarencepond/WilcoxWhitePineLogHomeByAvalonLogHomes">Avalon Log Homes &ndash; Wilcox White Pine Log Home</a></strong> See this Wilcox White Pine floor plan at&nbsp; <a href="../floor-plans/wilcox-white-pine">http://www.avalonloghomes.com/floor-plans/wilcox-white-pine</a>
    </p>
    <p>
        <strong><a href="http://picasaweb.google.com/Clarencepond/MatthiesenLogHomeByAvalonLogHomes">Avalon Log Homes &ndash; Matthiesen Log Home</a> -</strong> See this Matthiesen floor plan at <a href="../floor-plans/matthiesen">http://www.avalonloghomes.com/floor-plans/matthiesen</a>
    </p>
    <p>
        <strong><a href="http://picasaweb.google.com/Clarencepond/VistaLogHomeGarageSuiteByAvalonLogHomes">Avalon Log Homes &ndash; Vista Log Home Garage/Suite</a> -</strong> To see the floor plan for this log home go to <a href="../floor-plans/fries-garage-suite">http://www.avalonloghomes.com/floor-plans/fries-garage-suite</a>
    </p>
    <p>
        <strong><a href="http://picasaweb.google.com/Clarencepond/MontanaHandcraftedLogHomeByAvalonLogHomes">Avalon Log Homes &ndash; Montana Handcrafted Log Home</a> -</strong> See a video of this log home at <strong><a href="http://www.youtube.com/watch?v=VCLN6gI7Dhw">http://www.youtube.com/watch?v=VCLN6gI7Dhw</a></strong>
    </p>
    <p>
        <strong><a href="http://picasaweb.google.com/Clarencepond/MontanaHandcraftedLodgeByAvalonLogHomes">Avalon Log Homes &ndash; Montana Handcrafted Lodge</a> -</strong> See a video of this log home at <strong><a href="http://www.youtube.com/watch?v=BBB3BuqI1y8">http://www.youtube.com/watch?v=BBB3BuqI1y8</a></strong>
    </p>
    <p>
        <strong><a href="http://picasaweb.google.com/Clarencepond/HaskinsLogHomeAdditionByAvalonLogHomes">Avalon Log Homes &ndash; Haskins Log Home Addition</a></strong> See a video of this log home at <a href="http://www.youtube.com/watch?v=zV6dERyw3QU">http://www.youtube.com/watch?v=zV6dERyw3QU</a>
    </p>
    <p>
        <strong><a href="http://picasaweb.google.com/Clarencepond/TimberFrameLogHomePicturesByAvalonLogHomes">Avalon Log Homes &ndash; Timberframe Log Home Pictures</a></strong>
    </p>
    <p>
        <strong><a href="http://picasaweb.google.com/Clarencepond/InteriorLogHomePhotosByAvalonLogHomes">Avalon Log Homes &ndash; Interior Log Home Pictures</a></strong>
    </p>
    <p>
        <strong><a href="http://picasaweb.google.com/Clarencepond/ExteriorLogHomePicturesByAvalonLogHomes">Avalon Log Homes &ndash; Exterior Log Home Pictures</a></strong>
    </p>
    <p>
        &nbsp;
    </p>
</div>
