@page "/privacy"
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Description"] = "Important Legal Notices To Our Visitors Our Web Site is designed to familiarize you with Avalon Enterprises, including information about the homes we...";
    ViewData["Keywords"] = "";
}
<div id="nav_left">
    <partial name="_NavigationPrimaryPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Privacy Policy
    </h1>
    <h2>
        Important Legal Notices To Our Visitors
    </h2>
    <p>
        Our Web Site is designed to familiarize you with Avalon Enterprises, including information about the homes we manufacture, home plans and available features. To learn more about the homes described on our Web Site and how to purchase one, please contact us via our <a href="/contact-information">contact form</a>.
    </p>
    <p>
        We maintain this Web Site as a service to internet users. Its use is a privilege to the viewer. The use of this Web Site is subject to all applicable laws regarding copyrighted materials and intellectual property, and is subject to the important legal notices and disclaimers listed below. Despite our efforts to ensure that the constantly changing information on this Web Site is accurate, there may be inadvertent errors or oversights. Therefore neither Avalon Enterprises nor any other party involved in the creation, production, or delivery of this information can accept any responsibility or liability for any actions taken as a result of the use of our Web Site. Your use of this Web Site acknowledges your acceptance of and agreement with the terms and conditions contained in these legal notices. The terms and conditions contained in the legal notices on this Web Site constitute the entire agreement between you and Avalon Enterprises unless and until superseded by a written agreement signed by both you and Avalon Enterprises.
    </p>
    <p>
        Please read the following important legal disclaimers and notices carefully before using this Web Site:
    </p>
    <h2>
        Equal Housing Opportunity
    </h2>
    <p>
        Avalon Enterprises and its affiliated companies are pledged to the letter and spirit of the U.S. policy for the achievement of equal housing opportunity. We encourage and support affirmative advertising and marketing programs in which there are no barriers to obtaining housing because of race, color, religion, gender, handicap, familial status, or national origin.
    </p>
    <h2>
        Privacy Policy Notice
    </h2>
    <p>
        The purpose of this Notice is to inform you of how Avalon Enterprises protects and uses your nonpublic personal information during the course of your home buying experience with Avalon Enterprises. Title V of the Gramm-Leach-Bliley Act (GLBA) requires that we provide you with a notice of our privacy policies and practices which informs you of the types of information that we collect from you and the persons or entities to whom your personal information may be disclosed.
    </p>
    <p>
        In the course of your home buying experience with Avalon Enterprises, you may share non-public personal information about yourself with us in a number of ways. You may provide personal information to us on applications or other forms when communicating or transacting with us in writing, electronically, or by phone, and through requests for forms or literature in connection with your purchase of a Avalon Enterprises home. On occasion, such information may come from consumer reporting agencies and those companies providing services to us incident to your home purchase, such as property appraisers.
    </p>
    <p>
        We treat this information as confidential and recognize the importance of protecting access to it. We may share information within the Avalon Enterprises network of employees and authorized dealers/distributors, but we do not disclose non-public personal information about you with third parties unless necessary to complete your purchase of a Avalon Enterprises home, and any mortgage, title, insurance and escrow transactions incident to your home purchase, or as otherwise permitted by law.
    </p>
    <p>
        From time to time, Avalon Enterprises may be approached by companies and organizations that have a product or service that we believe may be of interest to you. We may share certain personally-identifiable information such as your name, address, and e-mail address with these companies in an effort to help you find these resources. We will, however, offer you the opportunity to "opt out" of having this personally-identifiable information shared with third parties that are not affiliated with Avalon Enterprises. Should you decide to opt out of having your personally identifiable information shared with non-affiliated third parties, please let us know when you contact us.
    </p>
    <p>
        We maintain physical, electronic, and procedural safeguards to protect your personal information. Within Avalon Enterprises and its affiliated dealers/distributors, access to such information is limited to those who need it to perform their jobs, such as completing transactions incident to your home purchase, mortgage, insurance, title and escrow services, or informing you of new products or services. Finally, our Code of Ethics, which applies to all employees, restricts the use of customer information and requires that it be held in strict confidence.
    </p>
    <p>
        The policies set forth in this notice are effective at the time of publishing, but are subject to change in order to best meet the needs of our customers and to reflect changes in local, state and federal laws. Changes in these policies will be reflected when the Web Site is updated periodically.
    </p>
    <h2>
        Important Liability Disclaimers
    </h2>
    <p>
        The information, software, products, and services published on this Web Site may include inaccuracies or typographical errors. Changes are periodically added to the information herein. Avalon Enterprises may make improvements or changes in this Web Site at any time. Not all of the products or services described on this site are available in all geographic areas. In no event shall Avalon Enterprises be liable for any direct, indirect, punitive, incidental, special or consequential damages arising out of or in any way connected with the use of this Web Site, whether based on contract, tort, strict liability or otherwise, even if Avalon Enterprises has been advised of the possibility of damages. Because some states/jurisdictions do not allow the exclusion or limitation of liability for consequential or incidental damages, the above limitation may not apply to you.
    </p>
    <h2>
        Notice Regarding Links To And From This Site
    </h2>
    <p>
        Avalon Enterprises does not have responsibility and shall not be liable for the accuracy or availability of information provided by Web Sites which are linked to this Web Site via hypertext or other computer "Links." Links to external Web Sites are provided merely as a convenience to Users and do not constitute an endorsement by Avalon Enterprises of such Web Sites or the content, products, advertising, or other materials presented on such Web Sites, including any changes or updates thereto.
    </p>
    <h2>
        Notice Regarding Specifications, Prices, Terms, Renderings And Other Information
    </h2>
    <p>
        This Website and the related links do not constitute an offer to sell real property. Information contained on this Website is intended to be informative only, and does not constitute a representation or warranty with regard to any Avalon Enterprises homes or communities, or any products or services provided by Avalon Enterprises.
    </p>
    <p>
        Although every effort has been made to ensure that the prices and terms contained herein are accurate and current, at any time, such prices and terms are subject to change. Prices shown generally refer to the base house and do not include any optional features. Avalon Enterprises reserves the right to make changes to its home designs. Some or all of the renderings and floor plans in these materials are artists' conceptual drawings and will vary from the actual plans and homes as built. Square footage numbers are approximate and may vary from the actual plans and homes as built.
    </p>
    <h2>
        Copyright
    </h2>
    <p>
        The entire content included in this Site, is copyrighted as a collective work under the United States and other copyright laws, and is the property of Avalon Enterprises. The content of this Web Site is provided by Avalon Enterprises as a service to the public and is to be used for personal informational purposes only. Any violation of the foregoing conditions or use will subject the User to the possibility of full prosecution under applicable law. No content from this Site may be copied, reproduced, republished, uploaded, posted, transmitted or distributed in any way, except that the User may display and, subject to any expressly stated restrictions or limitations relating to specific content, download or print portions of the content from the different areas of the Site solely for the User's own non-commercial use, or towards making a purchase of a home. Any other use, including but not limited to the reproduction, distribution, display or transmission of the content of this Site is strictly prohibited. The User further agrees not to change or delete any proprietary notices from content downloaded from the Site.
    </p>
    <h2>
        Miscellaneous
    </h2>
    <p>
        The use of the Site shall be governed in all respects by the laws of the State of Idaho without regard to choice of law provisions. Any cause of action or claim made by a user with respect to the Site must be commenced within one (1) year after the claim or cause of action arises. Avalon Enterprises' failure to insist upon or enforce strict performance of any provision of the terms and conditions set forth above shall not be construed as a waiver of any provision or right. Neither the course of conduct between the parties nor trade practice shall act to modify any of these terms and conditions. Avalon Enterprises may assign its rights and duties under these terms and conditions to any party at any time without notice to the User. Files and e-mail can contain "viruses" that can cause damage to a user's computer and the data stored therein. Avalon Enterprises disclaims any and all liability that may result from viruses acquired by users through the use of this website and any websites that are linked to this one.
    </p>
</div>
