@page "/thank-you"
@model BA.AvalonLogHomes.Pages.ThankYouModel
@{
    ViewData["Title"] = "Thank You";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
}
<div id="nav_left">
    <partial name="_NavigationStandardPartial" />
</div>
<div id="content">
    <partial name="_SandbagsPartial" />
    <h1>
        Thanks For Contacting Us
    </h1>
    <p>
        We will get back to you shortly.
    </p>
    <p>
        If you have just added your link to our website, Thank you.
        <br />
        Please allow 24 hours for your link to be approved and posted before checking.
    </p>
</div>